@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.categorySymptomDetail {
		.categorySymptomBorder {
			.categorySymptomGuides {
				max-width: 100%;

				p {
					display: block;

					a {
						padding: 10px 4%;
						width: 91%;
					}
				}
			}
		}
	}
}