@import "../../base.variables.less";
@import "../../base.mixins.less";

.categorySymptomDetail {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;

  .csd-border {
    border-left: 1px solid @secondaryHueNormal;
    border-right: 1px solid @secondaryHueNormal;
    border-top: 1px solid @secondaryHueNormal;
    padding: 10px;
  }

  .csd-image {
    border: 1px solid @secondaryHueNormal;
    margin-left: 10px;
    margin-right: 10px;
  }


   h3 {
     color: @secondaryHueDark;
   }

   p {
     color: @secondaryHueDark;
     font-size: @pSize;
     margin: 10px;
   }

    a {
      border: 2px solid #ebebeb;
      margin-bottom: -2px;
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      width: 60%;
    }

}

@import "categorySymptomDetail.mobile.less";