@import "../../base.variables.less";
@import "../../base.mixins.less";

.categorySymptomDetail {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  padding: 10px;

  .csd-border {
	border-left: 2px solid @secondaryHueLight;
	border-right: 2px solid @secondaryHueLight;
	border-top: 2px solid @secondaryHueLight;
	margin-left: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;

	h3 {
	  color: @secondaryHueDark;
	}


	.csd-image {
	  border: 2px solid @secondaryHueLight;
	}

	.csd-content {

	  a {
		border-top: 2px solid @secondaryHueLight;
		border-bottom: 2px solid @secondaryHueLight;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 41px;
	  }

	  a[href]:hover {
		text-decoration: none;
	  }

	}


  }


   p {
	 color: @secondaryHueDark;
	 font-size: @pSize;
   }




}

@import "categorySymptomDetail.mobile.less";
@import "categorySymptomDetail.tablet.less";