@media (max-width: 767px) {
  .categorySymptomDetail {

    margin-left: 0px;
    margin-right: 0px;

    .csd-border {
      .csd-image {
        border: 2px solid @secondaryHueLight;
        margin-right: 10px;
        max-width: 33%;
        float: left;
      }

    }


  }
}