@media (max-width: 480px) {
	.categorySymptomDetail {

      margin-left: 0px;
      margin-right: 0px;

      .csd-border {
          margin-left: 0px;

        .csd-image {
          border: 2px solid @secondaryHueLight;
          margin-right: 10px;
          max-width: 33%;
          float: left;
        }
      }

      .csd-content {

		a {
            display: block;
		}
      }
	}
}