@import "../../base.variables.less";
@import "../../base.mixins.less";

.categorySymptomDetail {
	margin: 25px 0 0;

	.categorySymptomBorder {
		border: 2px solid @secondaryHueLight;
		border-bottom: 0;
		padding: 0 10px 15px;

		h3 {
			color: @secondaryHueDark;
		}
		p {
			color: @secondaryHueDark;
		}
		.categorySymptomImage {
			border: 1px solid @secondaryHueLight;
			margin: 0 2.464102564102564% 10px 0;
			*margin: 0 2.4109110747408616% 10px 0;
		}
		.categorySymptomContent {
			margin: 0;
		}
		.categorySymptomGuides {
			margin: 0;
			max-width: 74%;

			p {
				display: inline-block;
				a {
					border: 1px solid @secondaryHueLight;
					border-bottom: 0;
					display: inline-block;
					padding: 10px 15px;
					width: 250px;

					&.last {
						border-bottom: 1px solid @secondaryHueLight;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

@import "categorySymptomDetail.mobile.less";
@import "categorySymptomDetail.tablet.less";