@import "../../base.variables.less";
@import "../../base.mixins.less";

.partList {
	.partListDiagram {
		.spanWidth(4);
	}
	.partListItems {
		.spanWidth(8);

		.partListItem {
			border-bottom: 1px solid @secondaryHueLight;
			padding: 20px 0;
			
			&:first-child {
				border-top: 1px solid @secondaryHueLight;
			}
		}
	}
	// # Typically I would nest these inside .partListItems .partListItem
	// # The styles would be complex, slower to paint, harder to override
	.diagramPosition {
		color: @secondaryHueNormal;
		font-size: @noteSize;
		text-align: center;
		.spanWidth(2);

		span {
			font-size: @h2Size;
		}
	}
	.partListItemDescription {
		.spanWidth(6);

		.partListItemImage {
			border: 1px solid @secondaryHueLight;
			clear: none;
			float: left;
			height: 58px;
			margin: 0 10px 10px;
			width: 58px;

			img {
				width: 100%;
			}
		}
		p {
			a {
				font-size: @h5Size;
			}
		}
	}
	.partListItemCart {
		.spanWidth(4);

		.partListItemPrice, .partListItemQuantity {
			clear: none;
			float: left;
			margin-bottom: 5px;
			width: 50%;
		}
		.partListItemPrice {
			color: @secondaryHueDarkest;

			strong {
				display: inline-block;
				font-size: @h4Size;
				margin-top: @h3Size;
				width: 100%;
			}
		}
		.partListItemQuantity {
			input[type="text"] {
				.boxSizing(border-box);
				display: block;
				padding: 16px 8px;
				width: 100%;
			}
		}
		.partListItemAdd {
			text-align: center;
			
			button {
				.boxSizing(border-box);
				margin: 0;
				width: 100%;
			}
		}
	}
}

@import "partList.tablet.less";
@import "partList.mobile.less";