@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.partList {
		.partListItems {
			background-color: @secondaryHueLighter;
			.boxSizing(content-box);
			margin: 0 -10px 10px;
			padding: 10px;

			.partListItem {
				background-color: @bodyColor;
				border: none;
				.boxSizing(border-box);
				padding: 10px;
				width: 100%;
			}
		}
		.diagramPosition {
			margin: auto 0;
		}
		.partListItemDescription, .partListItemCart {
			float: right;
			.spanWidth(10);
		}
		.partListItemDescription {
			.partListItemImage {
				display: none;
			}
		}
		.partListItemCart {
			.partListItemPrice {
				float: none;
				width: 100%;
			}
			.partListItemQuantity, .partListItemAdd {
				display: none;
			}
		}
	}
}