@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.partList {
		.partListItems {
			background-color: @secondaryHueLighter;
			.boxSizing(content-box);
			margin: 0 -10px 10px;
			padding: 10px;

			.partListItem {
				background-color: @bodyColor;
				border: 0;
				.boxSizing(border-box);
				.boxShadow(0 5px 5px 0 @secondaryHueLight);
				padding: 10px;
				width: 100%;
				
				&:first-child {
					border: 0;
				}
			}
			.partListItem + .partListItem {
				margin-top: 10px;
			}
		}
		.diagramPosition {
			margin: auto 0;
			.spanWidth(2);
		}
		.partListItemDescription, .partListItemCart {
			float: right;
			.spanWidth(10);
		}
		.partListItemDescription {
			.partListItemImage {
				display: none;
			}
		}
		.partListItemCart {
			.partListItemPrice {
				float: none;
				width: 100%;
				
				strong {
					margin: 0 10px 0 0;
					width: auto;
				}
			}
			.partListItemQuantity, .partListItemAdd {
				display: none;
			}
		}
	}
}