@import "../../base.variables.less";
@import "../../base.mixins.less";

.difficulty-rating {
	color: @secondaryHueNormal;
	font-size: @h2Size;
	min-width: 160px;

	&.level-one, &.level-two, &.level-three, &.level-four, &.level-five {
		.rating-one {
			color: @primaryHueDarker;
		}
	}
	&.level-two, &.level-three, &.level-four, &.level-five {
		.rating-two {
			color: @primaryHueDarker;
		}
	}
	&.level-three, &.level-four, &.level-five {
		.rating-three {
			color: @primaryHueDarker;
		}
	}
	&.level-four, &.level-five {
		.rating-four {
			color: @primaryHueDarker;
		}
	}
	&.level-five {
		.rating-five {
			color: @primaryHueDarker;
		}
	}
}