@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.legalCopy {
	background-color: @bodyColor;
	display: block;
	font-size: @smallPSize;
	margin: 0 20px;
	padding: 10px 20px;

	p {
		font-size: @smallPSize;
		width: 100%;
	}
}

@import "legalCopy.tablet";