@import "../../base.variables.less";
@import "../../base.mixins.less";

.modal {
	border-radius: 0;
	padding: 40px 70px 30px 70px;
	width: 366px;
	z-index: 9999;

	h1 {
		margin-top: 0;

		span {
			font-size: 14px;
			font-weight: 600;
			line-height: 40px;
		}
	}

	label {
		font-size: 16px;
		font-weight: 600;

		&.checkbox {
			font-size: 14px;
			font-weight: normal;
		}

		span {
			color: #666;
			font-size: 12px;
			font-weight: normal;
			padding-left: 3px;
		}
	}
}