@import "../../base.variables.less";
@import "../../base.mixins.less";

.modal {
	.borderRadius(0);
	padding: 40px 70px 30px 70px;
	width: 366px;
	z-index: 9999;

	h1 {
		color: @caretColor;
		margin-top: 0;

		span {
			font-size: @pSize;
			font-weight: normal;
			line-height: 48px;
		}
	}

	input[type="text"], input[type="password"] {
		margin-right: 8px;
		width: 50%;
	}
}