@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.modal {
		border: 0;
		height: 100%;
		left: 0;
		margin-top: -20px;
		overflow: auto;
		padding: 4% 3% 3% 3%;
		top: 0;
		width: 94%;
		-webkit-overflow-scrolling: touch;
	}
}