@import "../../base.variables.less";
@import "../../base.mixins.less";

.modal {
	.borderRadius(0);
	padding: 40px 70px 30px 70px;
	width: 366px;
	z-index: 9999;

	h1 {
		margin-top: 0;

		span {
			font-size: @pSize;
			font-weight: 600;
			line-height: 40px;
		}
	}

	label {
		font-size: @h5Size;
		font-weight: 600;

		&.checkbox {
			font-size: @pSize;
			font-weight: normal;
		}

		span {
			color: @headerColor;
			font-size: @smallPSize;
			font-weight: normal;
			padding-left: 3px;
		}
	}
}