@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 480px) {
    
    .airFilterPartDetail{
        .productDetail{
          .responsivePinchImage {
            max-width: 100%;
          }
          .packBox {
            max-width: 96px;
            min-width: 95px;
          }
          .packBox.wide {
            width:100%;
            max-width:150px;
          }
          .responsivePinchImage {
            .control.icon-minus,.control.icon-plus {
              display: none;
            }
          }
        }
    }
}