@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.airFilterPartDetail{
    .partDetailPage{
        h1{
            font-size: @h1Size;
            color: @secondaryHueDark;
        }
        .partNumber{
            font-size: @h4Height;
            color: @secondaryHueDark;
            margin-bottom: 25px; 
            width:100%;
            float:left;
        }
        .productDetail{
            border-bottom: 1px solid @secondaryHueLightest;
            float: left;
            width:100%;
            margin: 0 0 30px 0px;
            
            .productMainImage{
                position: relative;
                img{
                    height: 230px;
                    width: 230px;
                    border: 1px solid @secondaryHueLightest;
                    padding: 45px;
                }
                .plus_minus{
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    color:@primaryHueLightest;
                    border: 1px solid #b5cde4;
                    border-radius: 4px;
                    font-size:@largeSize;
                    background:#ffffff;
                    text-align: center;
                    .plus{
                        border-bottom: 1px solid #b5cde4;
                        padding:8px;
                    }
                    .minus{
                        padding:8px;
                    }
                }
            }
            .print{
                width: 100%;
                margin: 10px 0px;
                float: left;
                .color{
                    color: @secondaryHueDark;
                }
                
                .margin20px{
                    margin: 0 20px 0 0;
                }
            }
            .price{
                color:@secondaryHueDarker;
                h2{
                    font-size:@h2Size;
                    margin: 0px;
                    padding: 0px;
                }
                .inStock{
                    font-size:@pSize;
                    padding: 0px;
                    margin: -12px 0 5px 2px;
                }
            }
            .packSizeDiv{
                font-size:@pSize;
                margin: 0 0 20px 0;
                float: left;
                width: 100%;
                p{
                    font-weight: bold;
                    margin: 0px;
                    padding: 12px 0 2px 0;
                    float: left;
                    width: 100%;
                }
                .diffPacks{
                    float: left;
                    width: 100%;
                    a{
                        float: left;
                        border: 1px solid @primaryHueDark;
                        color: @primaryHueDark;
                        text-decoration: none;
                        padding: 12px 20px;
                        margin: 0 5px 0 0;
                        cursor: pointer;
                        text-align: center;
                    }
                    a:hover{ 
                        border: 3px solid @primaryHueDark;
                        color:@primaryHueDark;
                        padding: 10px 17px 10px 16px;
                        font-weight: bold;
                        background: #ddedf5;
                    }
                    a.current{ 
                        border: 3px solid @primaryHueDark;
                        color:@primaryHueDark;
                        padding: 10px 17px 10px 16px;
                        font-weight: bold;
                        background: #ddedf5;
                    }
                }
                .recieveProduct{
                    float: left;
                    width: 100%;
                    a{
                        float: left;
                        border: 1px solid @primaryHueDark;
                        color: @primaryHueDark;
                        text-decoration: none;
                        padding: 3px 20px;
                        margin: 0 5px 10px 0;
                        cursor: pointer;
                        text-align: center;
                    }
                    a:hover{ 
                        border: 3px solid @primaryHueDark;
                        color:@primaryHueDark;
                        padding: 1px 16px 1px 16px;
                        font-weight: bold;
                        background: #ddedf5;
                    }
                    a.current{ 
                        border: 3px solid @primaryHueDark;
                        color:@primaryHueDark;
                        padding: 1px 16px 1px 16px;
                        font-weight: bold;
                        background: #ddedf5;
                    }
                }
            }
            .freeShippin{
                float: left;
                width: 100%;
                .freeShippingBox{
                    float: left;
                    border: 1px solid @secondaryHueLightest;
                    border-radius: 4px;
                    background-color:@secondaryHueLightest;
                    padding: 4px 10px;
                    width: 300px;
                    clear: both;
                }
            }
            .addToCartDiv{
                float: left;
                width: 100%;
                margin: 15px 0px;
                
                .partListItemQuantity {
                    label{
                        float: left;
                        margin: 4px 15px 0 0;
                    }
                    input[type="text"] {
                        float: left;
                        .boxSizing(border-box);
                        display: block;
                        height: 32px;
                        line-height: @largeHeight;
                        width: 40px;
                        text-align: center;
                    }
                }
                .partListItemAdd {
                    text-align: center;
                    float: left;
                    margin: 0 0 0 20px;
                    button {
                        .boxSizing(border-box);
                        margin: 0;
                        width: 100%;
                    }
                }
            }
            .shopYourWayRewards{
                float: left;
                width: 100%;
                margin: 10px 0px 15px 0;
                padding:17px 0px;
                border: 1px solid @secondaryHueLighter;
                border-left: 0px;
                border-right: 0px;
                
                .shopWayImg{
                    float: left;
                    margin:0;
                    width:18%;
                }
                .shopWayText{
                    float: left;
                    width: 70%;
                    padding: 0 0 0 10px;
                }
            }
            .partInfo{
                float: left;
                width: 100%;
                margin: 0 0 10px 0;
                h2{
                    font-size: @h4Size;
                    font-color: @secondaryHueDark;
                    font-family: @bodyFont;
                    margin: 0;
                }
            }
        }
        .customersHeading{
            font-size: @h4Size;
            font-color: @secondaryHueDark;
            font-weight: normal;
            float: left;
            width: 100%;
            margin: 0 0 20px 0;
        }
        .partAlsoBought{
            .partDetalis{
                .color{
                    color: #a1b0d2;
                }
            }
            .partImage{
                float: left;
                margin:  0 20px 0 0;
                img{
                    height: 40px;
                    width: 36px;
                    border: 1px solid @secondaryHueLighter;
                    padding: 5px;
                }
            }
            .addToCartDivBottom{
                float: left;
                width:100%;
                padding: 10px 0 0 0;
                label{
                    padding: 0 0 0 92px;
                }
                .price{
                    font-size:@h3Size;
                    float: left;
                    margin: 0 20px 0 0;
                    span{
                        font-size:@pSize;
                    }
                }
                .partListItemQuantity {
                    label{
                        float: left;
                        margin: 4px 15px 0 0;
                    }
                    input[type="text"] {
                        float: left;
                        .boxSizing(border-box);
                        display: block;
                        height: 32px;
                        line-height: @largeHeight;
                        width: 40px;
                        text-align: center;
                    }
                }
                .partListItemAdd {
                    text-align: center;
                    float: left;
                    margin: 0 0 0 20px;
                    button {
                        .boxSizing(border-box);
                        margin: 0;
                        width: 100%;
                    }
                }
                
            }
            
        }
        
    }
}

@import "airFilterPartDetail.mobile";
@import "airFilterPartDetail.tablet";