@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.airFilterPartDetail{
        ul {
            margin: 0;
            li {
              list-style-type: none;
            }
        }
        .partName {
            font-size: @h1Size;
            color: @secondaryHueDark;
        }
        .partNumber{
            font-size: @h4Height;
            color: @secondaryHueDark;
            margin-bottom: 25px; 
            width:100%;
            float:left;
        }
        .productDetail{
            border-bottom: 1px solid @secondaryHueLightest;
            float: left;
            width:100%;
            margin: 0 0 30px 0px;
            
            .productMainImage{
                position: relative;
                img{
                    height: 230px;
                    width: 230px;
                    border: 1px solid @secondaryHueLightest;
                    padding: 45px;
                }
                .plus_minus{
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    color:@primaryHueLightest;
                    border: 1px solid #b5cde4;
                    border-radius: 4px;
                    font-size:@largeSize;
                    background:#ffffff;
                    text-align: center;
                    .plus{
                        border-bottom: 1px solid #b5cde4;
                        padding:8px;
                    }
                    .minus{
                        padding:8px;
                    }
                }
            }

            .print{
                width: 100%;
                margin: 10px 0px;
                float: left;
                .color {
                    color: @secondaryHueDark;
                }
                
                .margin20px{
                    margin: 0 20px 0 0;
                }
            }

            .price{
                color: @secondaryHueDarker;
                font-size: @h2Size;
                margin-bottom: 5px;
                font-weight: 600;
                .inStock{
                    font-size:@pSize;
                    padding: 0px;
                    margin: -12px 0 5px 2px;
                    font-weight: normal;
                }
            }

<<<<<<< Updated upstream
            .freeShippingBox {
                border: 1px solid @secondaryHueLightest;
                background: @secondaryHueLightest;
                margin:10px 0;
                border-radius: 4px;
                padding: 4px 10px;
                width: 260px;
                float: left;
                clear: both;
                p {
                  margin: 0 auto;
=======
          .freeShippingBox {
            background: @secondaryHueLightest;
            padding: 6px 12px;
            width: 300px;
            margin:10px 0 30px 0;
            line-height: 17px;
            p {
              margin: 0px;
              span {
                color: @highlightHueLight;
                font-weight: 600;
              }
            }
          }

          .packBox {
            border: 1px solid @primaryHueNormal;
            background: white;
            min-width: 100px;
            max-width: 100px;
            color: #067bb5;
            outline: none;
            padding: 10px;
            margin: 5px;
            &.active {
              border: 4px solid @primaryHueNormal;
              background: #e7f1f6;
              font-weight: bold;
            }
          }
>>>>>>> Stashed changes

                  .freeSS {
                      color: @highlightHueLight;
                      font-weight: 600;
                  }
                }
            }
            .packOptions {
                font-weight: 600;
                margin: 20px 0 0 0;
            }
            .packBox {
                border: 1px solid @primaryHueNormal;
                background: white;
                min-width: 100px;
                max-width: 100px;
                color: #067bb5;
                outline: none;
                padding: 10px;
                margin: 5px;
                &.active {
                  border: 4px solid @primaryHueNormal;
                  background: #e7f1f6;
                  font-weight: bold;
                }
            }

            .pdpQuantityLine {
                vertical-align: middle;
                margin: 10px 0;
                label {
                  display: inline;
                }
                input {
                  color: @secondaryHueLight;
                  text-align: center;
                  margin: 10px;
                  width: 35px;
                }
                button {
                  margin-right: 10px;
                }
            }

            .sameDayShip {
                margin-top: 10px;
                p {
                  margin: 10px 20px 30px 0;
                  font-size: @pSize;
                }
                a {
                  font-size: @pSize;
                }
            }

<<<<<<< Updated upstream
            .shopYourWay {
                margin: 10px auto;
                border-top: 1px solid @secondaryHueLight;
                border-bottom: 1px solid @secondaryHueLight;
                padding: 10px 0 0 0;
                img {
                  margin: 0 10px 20px 0px;
                }
                p {
                  margin: 0 auto;
                  font-size: @pSize;
                  max-width: 90%;
                }
=======
          .shopYourWay {
            margin: 20px 0;
            border-top: 1px solid @secondaryHueLight;
            border-bottom: 1px solid @secondaryHueLight;
            padding: 10px 0 10px 0;
            img {
              margin: 0 10px 20px 0px;
>>>>>>> Stashed changes
            }

            .partInfo {
              margin:10px auto;
            }

        }
  }

@import "airFilterPartDetail.mobile.less";
@import "airFilterPartDetail.tablet.less";