@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) {
    .airFilterPartDetail{
      .row-fluid [class*="span"] {
        &:first-child {
          float: left;
        }
      }

      .responsivePinchImage {
        max-width: 300px;
      }

        #airFilterPromoModal {
        top: 25%;
        height: 200px;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        .h1 {
          text-align: center;
        }
        p {
          margin-top: 15px;
        }
      }
        .productDetail{
            .productMainImage{
                img{
                    padding: 25px;
                }
            }
        }

    }

}