@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 480px) {
    
    .airFilterPartDetail{
        .productDetail{
            .productMainImage{
                img{
                   padding: 30px;
                }
            }
        }
      .packBox.wide {
        width:100%;
        max-width:150px;

      }
      .packBox {
        max-width: 96px;
        min-width: 95px;
      }

    }
}