@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

      .vcardHeader {
        font-size: @h4Size;
      }
      .vcard {
        margin: 0;
        list-style: none;
        font-size: @pSize;
        li {
          list-style-type: none;
          color: @primaryHueLightest;
        }
      }
      .phone {
        margin: 15px 0 0;
      }
      .viewMapAndDirectionsButton {
        margin: 20px 0;
      }

