@import "../../../base.variables.less";
@import "../../../base.mixins.less";


.desktop-carousel {
	i {
		display: none;
	}
}

.desktop-carousel-enabled {
	@carouselWidth: 550px;

	padding: 0 25px 28px 25px; // creates spacing for master control list
	margin: 0 auto;
	width: @carouselWidth;
	overflow: hidden;
	position: relative;

	[class*="item"] {
		float: left;

		img, p {
			width: @carouselWidth;
		}

		img {
			height: 370px;
			background: @secondaryHueNormal;
		}

		p {
			font-size: 11px;
			line-height: 13px;
			padding: 6px 0;
			text-align: center;
		}

		[data-desktopimage] {
			width: 550px;
			height: 370px;
		}
	}

	.carousel-wrapper {
		overflow: hidden;
	}

	.carousel-list-wrapper {
		width: 99999px;
		margin: 0 auto;
		overflow: hidden;
	}
	div.analyzable.parbase.image small{
			margin-top: 10px;
            text-align: center;
        }

	[class*="carousel-trigger"] {
		width: 50px;
		height: 50px;
		background: @secondaryHueLight; // non rba compliant browsers
		background: rgba(222, 222, 222, .8);
		border: solid 1px @secondaryHueLight;
		position: absolute;
		display: block;
		top: 159px;
		z-index: 2;
		color: @secondaryHueNormal;
		text-align: center;

		&:hover {
			background: @primaryHueLighter;
			color: @bodyColor;
		}

		i {
			display: block;
			line-height: 50px;
			font-size: 60px;
		}
	}

	.carousel-trigger-left {
		left: 0;
	}

	.carousel-trigger-right {
		right: 0;
	}

	.carousel-master-control {
		display: block;
	}
}

.carousel-master-control {
	display: none;
	position: absolute;
	bottom: 5px;
	width: 100%;
	left: 0;

	.cmc-wrapper {
		text-align: center;

		> a {
			display: inline-block;
			width: 14px;
			height: 14px;
			border-radius: 7px;
			background: @secondaryHueDark;
			cursor: pointer;
			margin: 0 7px;

			&.active {
				background: @primaryHueDarker;
			}
		}
	}
}