@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.responsiveImage {
	[data-desktopimage] {
		margin: 0 0 10px;
		position: relative;
		text-align: center;
		.credit {
			bottom: 0;
			color: @bodyColor;
			font-size: @smallPSize;
			margin: 0;
			padding: 5px;
			position: absolute;
			right: 0;
			text-align: right;
			.textShadow(1px 1px 0 @secondaryHueDarkest);
			z-index: 100;
		}
	}
}

.responsiveImage {
	[data-desktopimage] {
		margin: 0 0 10px;
		position: relative;
		text-align: center;
    }
}

.instructionsParsys > .responsiveImage {
	margin: 0 auto 10px;
	max-width: 550px;
	width: 80%;
}

.imageHolder > .responsiveImage {
	height: auto;
    margin: auto auto;
	max-width: 550px;
	text-align: center;
}