@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.difficultyRating {
	color: @secondaryHueNormal;
	font-size: @h1Size;
	min-width: 160px;

	&.level-one, &.level-two, &.level-three, &.level-four, &.level-five {
		.rating-one {
			color: @primaryHueDarker;
		}
	}
	&.level-two, &.level-three, &.level-four, &.level-five {
		.rating-two {
			color: @primaryHueDarker;
		}
	}
	&.level-three, &.level-four, &.level-five {
		.rating-three {
			color: @primaryHueDarker;
		}
	}
	&.level-four, &.level-five {
		.rating-four {
			color: @primaryHueDarker;
		}
	}
	&.level-five {
		.rating-five {
			color: @primaryHueDarker;
		}
	}
}

@import "difficultyRating.mobile";