@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.errorCodesList {
	.errorCodesListHeader {
		background-color: @secondaryHueLightest;
		height: 50px;
		padding: 5px 40px;

		h4 {
			line-height: 30px;

			img {
				background: @bodyColor;
				display: inline-block;
				float: right;
				height: 40px;
				width: 40px;
			}
			[class*="svg-icon-"], [class^=" svg-icon-"], [class*="icon-"], [class^=" icon-"] {
				float: right;
				height: 50px;
				margin-top: -10px;
				width: 100px;
			}
			[class*="icon-"], [class^=" icon-"] {
				color: @primaryHueDarker;
				font-size: @iconSizeLarge;
			}
		}
	}
	.errorCodesListItem {
		border-top: solid 1px @secondaryHueNormal;
		margin: 0 40px;
		padding: 12px 0;
	}
}

@import "errorCodesList.tablet";
@import "errorCodesList.mobile";