@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 768px) {
	.errorCodeChecker {
		p {
			.primary-content {
				display: inline-block;
				font-size: @h4Size;
				line-height: 20px;
				max-width: 200px;
				min-height: 46px;
				padding: 5px 0 15px 90px;
				position: relative;
			}
			[class^="svg-icon-"], [class*=" svg-icon-"] {
				height: 50px;
				width: 50px;
			}
			.new-btn {
				display: inline-block;
				margin: 0 17px;
				text-align: center;
			}
			.icon-container {
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}
}