@media (max-width: 767px) {
	.errorCodeChecker {
      p {
		.primary-content {
			display: inline-block;
			position: relative;
			padding: 5px 0 15px 90px;
			font-size: 18px;
            max-width: 200px;
			min-height: 46px;
			line-height: 20px;
		}

		.divider {
			vertical-align: middle;
		}

		[class^="svg-icon-"], 
		[class*=" svg-icon-"] {
			height: 50px;
			width: 50px;
		}

		.new-btn {
			margin: 0 17px;
			display: inline-block;
			text-align: center;
			float: right;
		}

		.icon-container {
			position: absolute;
			top: 0;
			left: 0;
		}
	  }
    }
}