@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.errorCodeChecker {
		p {
			.primary-content {
				display: block;
			}
			.new-btn {
				display: block;
				float: none;
			}
		}
	}
}