@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
  #headerPD {
    background: linear-gradient(to bottom, #ffffff 0%, #dedede 100%);
    padding: 20px;
    .repairHelpHomeTitle {
      font-size: 24px;
      margin: 30px auto 0;
      width: 100%;
      h1 {
        padding: 0px;
      }
    }
    .mainContainer {
      display: none;
      .leftSide {
        .iOwnThisButton {
          padding: 20px 0;
          margin: 0 10px 0 0;
        }
      }
      .rightSide {
        line-heignt: 0.8;
        .textSection {
          padding: 0;
        }
      }
    }
    .modelHeader ul {
      background: #777;
      height: 60px;
      border-radius: 4px;
      margin: 0px;
    }
    ul.dynamicTabs li.current {
      background:#000000;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
    }
    ul.dynamicTabs li:hover {
      background:#000000;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
    }
    ul.dynamicTabs li.drop span.toggle {
      display:block;
      float:left;
      width:21px;
      height:26px;
      padding:0;
      margin:0 7px 0 0;
    }
    ul.dynamicTabs li.drop:hover span.toggle, ul.dynamicTabs li.drop.current span.toggle {
      background-position:1px 5px;
    }
    ul.dynamicTabs li {
      display:none;
      position:absolute;
      width: 100%;
      top:30px;
      left:0;
      list-style-type:none;
      margin:0;
      padding:9px 0 0 0;
      background:#000000;
    }
    ul.dynamicTabs li {
      float:none;
      height: auto;
      margin:0;
      padding:0;
      border:none;
    }
    .headerStyle {
      p:first-child {
        display: block;
      }
    }
  }
}