@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) and (min-width: 650px) {
  .leftSide {
    .iOwnThisButton {
      padding: 10px 0;
    }
  }
  .headerStyle {
    p:first-child {
      display: none;
    }
  }
  ul.dynamicDropDown {
    display: none;
  }
}