@import "../../base.mixins.less";
@import "../../base.variables.less";

.overviewImage {
	display: inline-block;
	margin: 0 3% 50px 0;
	vertical-align: top;
	width: 15%;

	[class^="svg-icon-"] {
		color: @primaryHueDarker;
		height: 115px;
		width: 115px;
	}
}
.overview {
	display: inline-block;
	margin: 0 0 50px;
	vertical-align: top;
	width: 80%;
}

.categorySymptomLayout {
	.overviewImage {
		margin: 0 3% 3% 0;
		width: 115px;
	}
}