@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.airFilterDimension{
    .toolTip{
        text-align: left;
		margin: 0 auto;
		width: 70%;
        .tipIcon{
			float:left;
            width:40px;
			color: @primaryHueLight;
        }
        .tipIconText{
			float: left;
            padding: 0 0px 20px 0;
            width: 90%;
        }
    }
    .freeShipping{
        color: @highlightHueDarkest;
    }
    .airFilerDimSelect {
        height: 30px;
    }
    .airfilterDimensionSection{
        border: 2px solid @secondaryHueLightest;
        margin-bottom: 10px;
        .row-fluid{
            text-align: center;
            .span4{
                .responsiveDropdown{
                    min-width: 40%;
                    ul{
                        position: absolute;
                        width: 135px;
                        li {
                            border: 0;
                            padding: 2px;
                            text-align: center;
                        }
                    }
                    .new-btn-dropdown{
                        background-color: @bodyColor;
                        color: @primaryHueDark;  
                        font-weight: bold;
                        .icon-chevron-sign-down{
                            padding-left: 10px;
                        }
                    }
                }
                .dimensionCross {
                    float: right;
                    line-height: 34px;
                    font-weight: bolder;
                }  
            }
        }
        #noDataFound{
            h1{
                padding: 20px;
            }
        }
    }
    #airFilterSelectionForm {
        background-color:@secondaryHueLightest;
        padding: 20px;
    }
    #afLandingImage{
        margin: 0 10px 20px 10px;
        position:relative;
        left:10%;
    }
    
    .afBrandsRow{
        float: left;
        width:100%;
        .brandImages{ 
            float: left;
            margin:20px auto;
            padding: 0 0 0 25%;
            img{
                margin:0px 30px 0 0;
            }
        }
        .powerdBy{
            font-size:@h4Size;
            color:@secondaryHueDark;
            text-align: center;
        }
    }
}

.airFilterSearchResult{
    font-color:@secondaryHueDark;

    .totalProductCount{
		font-size:@h4Size;
        color:@secondaryHueDark;
        display:block;
        padding:10px 0 20px 0;
    }
    .typeOfAirFilterSearch p{ margin:0px; }
    .typeOfAirFilterSearch{
        float:left;
        border: 3px solid @secondaryHueLighter;
        padding:0px 23px 13px;

        .AirFilterHeading{
            font-size:@h2Size;

            img{
				margin-right: 10px;
            }
        }
        .bulletHeading{
            font-size:@pSize;
            font-weight:bold;
        }
        .rightDiv{
            padding:0 20px 0 0;
        }
        .smallFont{
            font-size:@smallPSize;
        }
    }

    .titleAnchor{
        font-size:@smallPSize;
    }

    .airFilterPorductRow{
        width: 100%;
        padding: 25px 0;
        float: left;
        border-bottom: 1px solid @secondaryHueLighter;
        font-size: @pSize;

        .productImage{
            img{
                height: 76px;
                width: 76px;
                border: 1px solid @secondaryHueLightest;
                padding: 9px;
            }
        }
        .titleAnchor{
            margin: 0 0 23px 0;
            a{
                font-size:@h4Size;
            }
        }
        .productPrice{
            text-align: right;
        }
        .price{
            font-size:20px;
        }
        .ProductDetailsAnchor{
            padding:10px 18px;
            border: 1px solid @primaryHueNormal;
            border-radius: 4px;
            color: #067bb5;
            text-decoration: none;
            float: right;
        }
        .freeShippingBox{
            border: 1px solid @secondaryHueLightest;
            border-radius: 4px;
            background-color:@secondaryHueLightest;
            padding: 4px 10px;
            width: 300px;
        }
        .freeSS{
            color:@highlightHueDarkest;
        }
    }
}

.partDetailPage{
    h1{
        font-size: @h1Size;
        color: @secondaryHueDark;
    }
    .partNumber{
        font-size: @h4Height;
        color: @secondaryHueDark;
        margin-bottom: 25px; 
        width:100%;
        float:left;
    }
    .productDetail{
        .productMainImage{
            img{
                height: 230px;
                width: 230px;
                border: 1px solid @secondaryHueLightest;
                padding: 45px;
            }
        }
    }
}

@import "airFilterDimension.mobile";
@import "airFilterDimension.tablet";