@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 480px) {
    .airFilterDimension{
	    .toolTip{
            text-align: left;
            margin: 0 auto;
            width: 70%;
            padding:10px 0 0 0;
            .tipIcon{
                float:left;
                width:40px;
                color: @primaryHueLight;
            }
            .tipIconText{
                float: left;
                padding: 0 0px 20px 0;
                width: 80%;
            }
        }
        .airfilterDimensionSection{
            border: 4px solid red;
            margin-bottom: 10px;
            .row-fluid{
                text-align: center;
                .span4{
                    .responsiveDropdown{
                        min-width: 40%;
                        margin-bottom: 20px;

                        ul {

                          &.active {
                            z-index: 10000;
                          }
                            li {
                                border: 4px solid red;
                                padding: 4px;
                                text-align: center;
                            }
                        }
                        .new-btn-dropdown{
                            .icon-chevron-sign-down{
                                padding-left: 10px;
                            }
                        }
                    }
                    .dimensionCross {
                        float: right;
                        line-height: 34px;
                        font-weight: bolder;
                    }
                }
            }
            #noDataFound{
                h1{
                    padding: 20px;
                }
            }
        }
        .afBrandsRow{
            .brandImages{
                float: left;
                margin:20px auto;
                padding:0 !important;
                img{
                    margin:0px 10px 10px 10px !important;
                }
                .fourth_img{
                    margin:0px 10px 10px 55px !important;
                }
            }
        }
    }
}