@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.airFilterDimension{
    .toolTip{
        text-align: left;
		margin: 0 auto;
		width: 70%;
        .tipIcon{
			float:left;
            width:40px;
			color: @primaryHueLight;
        }
        .tipIconText{
			float: left;
            padding: 0 0px 20px 0;
            width: 90%;
        }
    }
    .freeShipping{
        color: @highlightHueDarkest;
    }
    .airFilerDimSelect {
        height: 30px;
    }
    .airfilterDimensionSection{
        border: 2px solid @secondaryHueLightest;
        margin-bottom: 10px;
        .row-fluid{
            text-align: center;
            .span4{
                .responsiveDropdown{
                    min-width: 40%;
                    ul{
                        position: absolute;
                        width: 135px;
                        li {
                            border: 0;
                            padding: 2px;
                            text-align: center;
                        }
                    }
                    .new-btn-dropdown{
                        background-color: @bodyColor;
                        color: @primaryHueDark;  
                        font-weight: bold;
                        .icon-chevron-sign-down{
                            padding-left: 10px;
                        }
                    }
                }
                .dimensionCross {
                    float: right;
                    line-height: 34px;
                    font-weight: bolder;
                }  
            }
        }
        #noDataFound{
            h1{
                padding: 20px;
            }
        }
    }
    #airFilterSelectionForm {
        background-color:@secondaryHueLightest;
        padding: 20px;
    }
    #afLandingImage{
        margin: 0 10px 20px 10px;
        position:relative;
        left:10%;
    }
    
    .afBrandsRow{
        float: left;
        width:100%;
        .brandImages{ 
            float: left;
            margin:20px auto;
            padding: 0 0 0 25%;
            img{
                margin:0px 30px 0 0;
            }
        }
        .powerdBy{
            font-size:@h4Size;
            color:@secondaryHueDark;
            text-align: center;
        }
    }
}
@import "airFilterDimension.mobile";
@import "airFilterDimension.tablet";