@import "../../base.variables.less";
@import "../../base.mixins.less";

.guideListing-listing {
	overflow: hidden;
	padding-left: 40px;

	.item {
		float: left;
		width: 47.5%;
		padding-right: 2.5%;
	}

	.wrapper {
		position: relative;
		padding-left: 110px;
		min-height: 85px;
	}

	.image-wrapper {
		height: 85px;
		width: 100px;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		background: @secondaryHueLight;

		.image {
			max-height: 66px;
			overflow: hidden;
			border-bottom: solid 2px #fff;
		}
	}

	.wrench-symbol {
		position: absolute;
		width: 18px;
		height: 18px;
		top: 57px;
		line-height: 14px;
		left: 50%;
		margin-left: -9px;
		border: solid 2px #fff;

		i {
			font-size: 12px;
			.flipHorizontally();
		}
	}
}

@import "guideListing-listing.mobile.less";