# NetBeans Files #
#####################
/nbproject/
/nbproject/private/
*/nb-configuration.xml
build.xml
!/sears-partsdirect--common/pom.xml
*.vlt
*.project
*.settings
*.DS_Store
*.*~
!/sears-partsdirect-vault/src/main/content/jcr_root/apps/searspartsdirect/components/content/backButton/analytics/.content.xml