@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 767px) {
	[class*="span"] {
		padding-top: 20px;
	}
	[class*="span"]:first-child {
		padding-top: 0;
	}
	.customAccordionForms {
		.accordion-group {
			.accordion-inner {
				.cafText {
					font-size: 26px;
				}
				.cafSameRow {
					float: none;
					padding-top: 20px;
				}
				.cafSameRow:first-child {
					padding-top: 0;
				}
				.comboContainer {
					height: 50px;
				}
			}
		}
	}
	.pseudoTableRow {
		[class*="span"] {
			padding-top: 0;
			p {
				margin-left: 10px;
			}
		}
	}
}