@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 480px) {
	.customAccordionForms {
		.accordion-group {
			.accordion-inner {
				.radioToDropDown {
					.radioOptions {
						display: none;
					}
					.comboContainer {
						display: block;
					}
				}
				.cafAddress {
					width: 100%;
				}
			}
		}
	}
}