@import "../../base.variables.less";
@import "../../base.mixins.less";

// # Base Styles
.customAccordionForms {
	.accordion-group {
		border: none;
		.accordion-heading {
			background-color: @secondaryHueLighter;
			padding: 5px 0;
			.accordion-toggle {
				color: @secondaryHueDark;
				font-size: @h3Size;
			}
		}
		.accordion-heading.cafHeadingOpen {
			background-color: @secondaryHueDark;
			.accordion-toggle {
				color: #ffffff;
			}
		}
		.accordion-inner {
			.cafField {
				overflow: hidden;
				padding: 10px 0;
			}
			.cafCheckboxField {
				input {
					float: left;
				}
				label {
					float: left;
					padding-left: 10px;
					font-weight: normal;
					font-size: @pSize;
				}
			}
			.cafSubField {
				float: left;
				padding-left: 20px;
			}
			.cafSubField:first-child {
				padding-left: 0;
			}
			p {
				font-weight: bold;
				font-size: @h5Size;
				a {
					font-weight: normal;
				}
			}
			label {
				color: @secondaryHueDark;
				font-weight: bold;
			}
			.radioOptions {
				overflow: hidden;
				input {
					float: left;
					margin: 4px 5px 0 20px;
				}
				input:first-child {
					margin: 4px 5px 0 0;
				}
				label {
					float: left;
					font-weight: normal;
					font-size: @pSize;
				}
			}
			.cafSpacedInput {
				color: @secondaryHueNormal;
				margin: 10px 0;
				padding: 2px 6px;
			}
			.cafQuantity {
				width: 20px;
				padding: 2px 6px;
			}
		}
	}
}