@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.loginNav {
		background-color: transparent;
		left: -276px;
		position: absolute;
		top: 0;
		width: 276px;
		z-index: 0;

		ul {
			float: left;
			width: 100%;

			li {
				clear: left;
				float: left;
				font-size: @h5Size;
				margin: 0;
				width: 100%;

				a {
					border-bottom: 1px solid @secondaryHueLight;
					color: @primaryHueNormal;
					display: block;
					float: left;
					font-size: @h5Size;
					padding: 20px 0 20px 5%;
					width: 95%;

					i {
						display: inline-block;
					}
					.text-home {
						display: none;
					}
				}
				&.visible-phone {
					display: list-item !important;
				}
				&.chatOffline {
					a {
						color: @secondaryHueDark;
					}
				}
				&.ChatNotAvailable {
					display: none !important;
				}
			}
		}
	}
	.trigger {
		background: @secondaryHueNormal url(../../../../clientlib_base/img/menu-trigger.png) no-repeat center center;
		display: block;
		height: 44px;
		left: 0;
		position: absolute;
		top: 0;
		width: 44px;
		z-index: 2;
	}
}