@import "../../base.variables.less";
@import "../../base.mixins.less";

.categorySymptoms {

     a {
       border-top: 2px solid @secondaryHueLight;
       border-bottom: 2px solid @secondaryHueLight;
       padding-top: 10px;
       padding-bottom: 10px;
       padding-left: 15px;
       padding-right: 15px;
       line-height: 41px;
     }


}

@import "categorySymptoms.mobile.less";