@import "../../base.variables.less";
@import "../../base.mixins.less";

.categorySymptoms {

    margin: 10px 0;

     a {
       border-top: 2px solid @secondaryHueLight;
       border-bottom: 2px solid @secondaryHueLight;
       display: block;
       margin-top: -2px;
       padding-top: 10px;
       padding-bottom: 10px;
       padding-left: 15px;
       padding-right: 15px;

     }


}

@import "categorySymptoms.mobile.less";