@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 480px) {
    .recommendedParts {
        margin-left: 0;
        
        .accordion-heading h4.recommendedShopParts{
            display: none;
            
        }
         .accordion-heading h4.shopParts{
            display: block;
            
        }
    }
}