@import "../../base.variables.less";
@import "../../base.mixins.less";

.recommendedParts {
	position: relative;
	top: -18px;

	.accordion-toggle, .accordion-inner {
		border: 0;
		padding: 0;
	}
	.accordion-group, .accordion-inner {
		border: 0;
	}
	.accordion-inner {
		padding-top: 0;
	}
	.accordion-group {
		.borderRadius(0);
	}
	.accordion-toggle {
		background-color: @secondaryHueLight;
		color: @secondaryHueDark;
		padding-left: 15px;
		text-decoration: none;

		h4 {
			display: inline-block;
		}

		[class*="icon-"], [class^=" icon-"] {
			color: @primaryHueNormal;
			display: inline-block;
			font-size: @h3Size;
			margin-right: 20px;
			vertical-align: middle;
		}

		.icon-chevron-down {
			display: none;
		}

		.icon-chevron-up {
			color: @secondaryHueDark;
			display: inline-block;
		}

		&.collapsed {
			.icon-chevron-down {
				display: inline-block;
			}

			.icon-chevron-up {
				display: none;
			}
		}
	}
}

@import "recommendedParts.mobile.less";