@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.modelFinder {
		.modelFinderPlates {
			overflow: hidden;
			padding: 0;
			text-align: center;

			img {
				float: none;
				margin: 0 0 10px;
			}
		}
		.CMNP_left, .CMNP_center, .CMNP_right {
			margin: 0 0 10px;
			width: 100%;
		}
	}
}