@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 480px) {
	.seoHeroImageContanier{
		padding:20px;
		.singleColumnLayout{
			padding: 0px !important;
		}
		form{ margin: 0px; }	
		.heroImageContent{
			.seoForm{
				.seoInput{ 
					width: 260px !important;
					input{ width:90% !important; }
				}
				.seoBtn{
					margin: 0 !important;
		    		padding: 13px 30px !important;
				}
			}
		}
	}
}