@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) {
	.seoHeroImageContanier{
		padding: 20px;
		.heroImageContent{
			.brandImage {
				max-width: 100%!important;
				text-align: center;
			}
			.seoForm{
				.seoInput{ width: 257px; }
				.seoBtn{
					padding: 13px 14px;
				}
				.seoInputSingleColumn{ 
					width: 480px;
					input{ width:94%; }
				}
			}
		}
	}
}