@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) {
	.seoHeroImageContanier{
		.heroImageContent{
			.seoForm{
				.seoInput{ width: 257px !important; }
				.seoBtn{
					margin: -11px 0 0 10px !important;
					padding: 13px 14px !important;
				}
				.seoInputSingleColumn{ 
					width: 480px !important;
					input{ width:94%; }
				}
			}
		}
	}
}