@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.categorySymptoms {
	margin: 10px 0;

	h3 {
		margin: 25px 0 20px; 
	}

	.row-fluid{
		width: 95%;

		.span6 {
			a {
				border-top: 2px solid @secondaryHueLight;
				display: block;
				margin-top: -2px;
				padding: 10px 15px;
			}
		}
		&.last {
			.span6 {
				a {
					border-bottom: 2px solid @secondaryHueLight;
				}
			}
		}
	}

	.linkageHeader {
        color: #3A97D1;
        font-size: 16px;
        padding: 15px 0px;
    }
}

.accessoryWithImage {

    width: 63%;
    float: left;

    .span4 { 
            display: block;
        	float: left;

        }


}

.categorySymptoms {

.imageHolder {
        border: 2px solid @secondaryHueLight;
        float: left;
        display: block;
        height: 100%;
        text-align: center;
        min-height: 180px!important;

        .imageCaption {
        	margin-top: 10px;
        }
    }


}

@import "categorySymptoms.mobile";