@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.categorySymptoms {
		.row-fluid {
          margin-left: 0px;
          width: 100%;
			.span6 {
				a {
					display: block;
				}
			}
		}
	}
}