@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media screen and (max-width: 650px) {
	.categorySymptoms {
		
        .accessoryWithImage {
            float: none;
        }

        .row-fluid {
          margin-left: 0px;
          width: 100%;
          float: none;

			.span6 {
				a {
					display: block;
				}
			}
		}

		.linkageHeader {
            margin-left: 0px;
        }
	}
}

@media screen and (max-width: 780px) {
	.categorySymptoms {
            
        .accessoryWithImage {
            float: none;
            width: 100%;
        }

		.imageHolder {
            display: none!important;
            
            .responsiveImage {
                display: none;
            }
            .imageCaption {
                display: none;
            }
        }

        .row-fluid {
            float: none;
            margin-left: 0px;
            width: 100%;
        }

		.linkageHeader {
            margin-left: 0px;
        }
	}
}

