@import "../../base.variables.less";

@socialBar-height: 46px;
@socialBar-item-left-sp: 27px;
@socialBar-item-right-sp: 9px;
@socialBar-item-top-sp: 9px;
@socialBar-item-txt-ht: @socialBar-height - @socialBar-item-top-sp;

.socialBar {
	overflow: hidden;
	margin-bottom: 10px;

	a {
		text-decoration: none;
	}
}

[class*="socialBar-item"] {
	float: left;
	line-height: 18px;
	border-left: solid 1px @color-border-primary-a;
	display: block;
	height: @socialBar-item-txt-ht;
	padding: @socialBar-item-top-sp @socialBar-item-right-sp 0 @socialBar-item-left-sp;

	&:first-child {
		border-left: 0;
	}
}

.socialBar-item-icons {
	padding: 0 24px 0 15px;
	line-height: @socialBar-height;
	height: @socialBar-height;

	&:first-child {
		border-left: 0;
	}

	a {
		float: left;
		display: inline-block;
		font-size: 19px;
		margin-left: 40px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.socialBar-item-pdf {
	padding-left: 46px;
	background: url("/@{IMAGE_PATH}icon-pdf.png") 20px 10px no-repeat;
}

.socialBar-item-email {
	display: none;

	i {
		color: @color-primary-b;
	}
}

.socialBar-item-email,
.socialBar-item-print {
	i {
		float: left;
		height: 30px;
		margin-right: 8px;
		line-height: 17px;
	}
}


@import 'socialBar.tablet.less';
@import 'socialBar.mobile.less';