@media (max-width: 650px) {
	.socialBar {
		.socialBarIcons {
			height: 46px;
			overflow: visible;
			position: relative;
			z-index: 999999;

			.socialBarIconsInner {
				background-color: @bodyColor;
				border: solid 1px @secondaryHueLighter;
				height: 46px;
				margin-bottom: 15px;
				overflow: hidden;

				&.active {
					height: auto;
				}
				a {
					width: 100%;

					[class*="icon-"], [class^=" icon-"], [class*="svg-icon-"], [class^=" svg-icon-"] {
						margin-right: 10px;
						width: 25px;
					}
				}
			}
		}
		.addthis_button_pdfmyurl, .addthis_button_print {
			border-left: 0 !important;

			[class*="icon-"], [class^=" icon-"], [class*="svg-icon-"], [class^=" svg-icon-"] {
				margin-right: 10px;
			}
		}
		.socialBarMobile {
			display: inherit !important;
		}
	}
}