@media (max-width: 577px) {
	.socialBar-item-icons {
		overflow: hidden;
		height: auto;
		width: auto;
		padding: 0;
		border: solid 1px @color-border-primary-a;
		float: none;
		margin-bottom: 15px;

		&:first-child {
			border-left: solid 1px @color-border-primary-a;
		}

		a {
			float: left;
			width: 25%;
			text-align: center;
			border: 0;
			height: 50px;
			margin: 0;
		}
	}

	.socialBar-item-pdf,
	.socialBar-item-email {
		border: 0;
	}
}