@import "../../base.variables.less";
@import "../../base.mixins.less";

.socialBar {
	margin-bottom: 10px;

	a {
		cursor: pointer;
		display: inline-block;
		padding: 12px 15px 0 15px;
		height: 34px;

		[class*="icon-"], [class^=" icon-"], [class*="svg-icon-"], [class^=" svg-icon-"] {
			display: inline-block;
			font-size: @h3Size;
			text-decoration: none;
			vertical-align: middle;
		}
		[class*="svg-icon-"], [class^=" svg-icon-"] {
			height: @h3Size;
			width: @h3Size;
		}
		&:hover {
			[class*="icon-"], [class^=" icon-"], [class*="svg-icon-"], [class^=" svg-icon-"] {
				text-decoration: none;
			}
		}
	}
	.socialBarIcons {
		display: inline-block;
	}
	.addthis_button_pdfmyurl, .addthis_button_print {
		border-left: 1px solid @secondaryHueLighter;

		[class*="icon-"], [class^=" icon-"], [class*="svg-icon-"], [class^=" svg-icon-"] {
			margin-right: 8px;
		}

		// # Kill bad styling from AddThis
		.at300bs {
			display: none !important;
		}
	}
	.socialBarMobile {
		display: none;
	}
}

@import 'socialBar.tablet.less';
@import 'socialBar.mobile.less';