@media (max-width: 577px) {
	.socialBar-item-icons {
		border: solid 1px @secondaryHueLighter;
		float: none;
		height: auto;
		margin-bottom: 15px;
		overflow: hidden;
		padding: 0;
		width: auto;

		&:first-child {
			border-left: solid 1px @secondaryHueLighter;
		}
		a {
			border: 0;
			float: left;
			height: 50px;
			margin: 0;
			text-align: center;
			width: 25%;
		}
	}

	.socialBar-item-pdf, .socialBar-item-email {
		border: 0;
	}
}