@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

// # Base Styles
.subscriptionConfirmation {
	h1 {
		a {
			margin-left: 5px;
		}
	}
	.row-fluid {
		margin-bottom: 25px;
	}
	.infoBlock {
		background-color: @secondaryHueLighter;
		padding: 10px 20px;
		height: 350px;
	}
	.detailHeader {
		margin-bottom: 0;
		div {
			background-color: @secondaryHueDark;
			padding: 10px;
			h3 {
				color: #ffffff;
				margin: 0;
			}
		}
	}
}