@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.repairHelpHomeTitle {
		clear: both;
		float: left;
		text-align: center;
		width: 100%;
	}
	.repairHelpHomeIcon {
		clear: both;
		float: left;
		margin: 0;
		text-align: center;
		width: 100%;

		.icon-stack {
			display: inline-block;
			margin: 0 auto 15px auto;

			&.pull-left {
				float: none;
			}
		}
	}
	.repairHelpHomeIntro {
		clear: both;
		float: left;
		text-align: left;
		width: 100%;
	}
}