@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";
#bannerContainer{
    .banner{
<<<<<<< HEAD
        width: 143px;
=======
        width: 145px;
>>>>>>> [Mingle #7804] - Air filters: add HVAC banners on CQ pages
        float: left;
        padding: 3px 0 0 3px;
        margin: 20px 0 0 0;
        a{
            float: left;
            border: 1px solid @secondaryHueLight;
            border-radius: 3px;
            padding:40px 0 0 0;
            position: relative;
            text-decoration: none;
            
            span{
                float: left;
<<<<<<< HEAD
                padding: 0px 13px 0 15px;
=======
                padding: 0px 11px;
>>>>>>> [Mingle #7804] - Air filters: add HVAC banners on CQ pages
            }
            .newRibbonIcon{
                position: absolute;
                left: -3px;
                top: -3px
            }
            .AFText{
                font-size: @h3Size;
                line-height:@h2Height;
                letter-spacing: 1px;
            }
            .SignUpText{
                color: @secondaryHueDark;
                font-size: @pSize;
                margin: 20px 0 45px 0;
            }
            .shopAF_btn{
                border: 1px solid @primaryHueLight;
                border-radius: 3px;
                padding: 6px 12px;
<<<<<<< HEAD
                margin: 0 15px 20px;
=======
                margin: 0 0 20px 20px;
>>>>>>> [Mingle #7804] - Air filters: add HVAC banners on CQ pages
            }
            .airBannerAd{
                margin: 10px 0 -25px 0;
            }
            .freeShipping{
                border-top: 1px dotted @secondaryHueLightest;
                background-color: #f0f0f0;
                float: left;
<<<<<<< HEAD
                padding: 10px 10px;
=======
                padding: 10px 10px 10px 16px;
>>>>>>> [Mingle #7804] - Air filters: add HVAC banners on CQ pages
                font-size:@smallPSize;
                color:@secondaryHueDark;
                i{
                    color:@highlightHueDarkest;
                    font-style: normal;
                }
                img{
                    padding: 0 0 0 40px;
                }
            }
        }
    }
}
@import "banners.mobile.less";
@import "banners.tablet.less";