@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 767px) {
	.ad-span {
		text-align: center;
	}
	.skyscraperAd {
		height: 50px;
		margin: 0;
		width: 300px;
	}
}