@import "../../base.variables.less";
@import "../../base.mixins.less";

.ad-span {
	text-align: center;
}

.skyscraperAd {
	display: inline-block;
	height: auto;
	margin: 0 auto 0 auto;
	min-height: 600px;
	width: 160px;

	div[data-desktopimage] {
		height: 600px;
		width: 160px;

		a {
			height: 100%;
			width: 100%;
		}
	}
}

@import 'skyscraperAd.tablet.less';
@import 'skyscraperAd.mobile.less';