@import "../../base.variables.less";
@import "../../base.mixins.less";

.ad-span {
	text-align: center;
}

.skyscraperAd {
	display: inline-block;
	height: 600px;
	margin: 0 auto 0 auto;
	width: 160px;

	div[data-desktopimage] {
		height: 100%;
		width: 100%;

		a {
			height: 100%;
			width: 100%;
		}
	}
}

@import 'skyscraperAd.tablet.less';
@import 'skyscraperAd.mobile.less';