@media (max-width: 767px) {
	.relatedArticles {
		.row-fluid {
			width: 9999px;
		}

		[class*="-item"] {
			text-align: center;
			min-width: 0;
			width: 280px;
			float: left;
			margin-right: 10px;
		}

		.view-all {
			text-align: center;
		}
	}
}