@media (max-width: 1023px) {
	.relatedArticles {

		.row-fluid {
			width: auto;
		}
        div.carousel-mobile-item.span3{
            margin: 0 5px;
            height: 200px;
            overflow: hidden;


        }

		[class*="-item"] {
			text-align: center;
			min-width: 0;
			margin-left: 0;
		}

		div.view-all {
			text-align: center;
            float: left;

		}
	}
}