@media (max-width: 1023px) {
	.relatedArticles {
		.row-fluid {
			width: auto;
		}

		[class*="-item"] {
			text-align: center;
			min-width: 0;
			margin-left: 0;
		}

		.view-all {
			text-align: center;
		}
	}
}