@import "../../base.variables.less";
@import "../../base.mixins.less";

.relatedArticles {
	.title {
		display: block;
		padding-bottom: 9px;
	}
	[class*="-item"] {
		text-align: left;

		img {
			display: block;
			margin: 0 auto 15px auto;
			min-width: 100%;
		}
	}
}

@import 'relatedArticles.tablet.less';