@media (max-width: 767px) {
		.category101 {
			.accordion-heading a {
				color: white;
			 }

			.accordion-toggle {
					background-color: @secondaryHueDark;
					color: white;
					text-decoration: none;

					i {
							display: inline-block;
							margin-right: 20px;
							color: @bodyColor;
							font-size: 20px;
							vertical-align: middle;
					}

					.icon-chevron-down {

							display: none;
					}

					.icon-chevron-up {

							display: inline-block;
					}

					&.collapsed {
							.icon-chevron-down {
									display: inline-block;
							}

							.icon-chevron-up {
									display: none;
							}
					}
			}
	}
}