@import "../../base.variables.less";
@import "../../base.mixins.less";

@media(max-width: 650px) {
	.category101 {
		.category101Header {
			.icon-chevron-down {
				display: none;
			}
			.icon-chevron-up {
				color: @primaryHueNormal;
				display: inline-block;
			}
		}
		.category101Mobile {
			display: block;
		}
		.category101Desktop {
			display: none;
		}
		.category101Body {
			display: none;
		}
		&.active {
			.category101Header {
				.icon-chevron-down {
					display: inline-block;
				}
				.icon-chevron-up {
					display: none;
				}
			}
			.category101Body {
				display: block;
			}
		}
	}
}