@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.cartNav {
		ul.cartNavItems {
			height: 44px;
			position: relative;

			.cartNavShadow {
				display: none;
			}

			li.cartNavItem {
				a[data-toggle] {
					padding: 5px 7px 5px 7px;
					font-size: @smallPSize;
					border-left: 1px solid #c3c3c3;
					border-right: none;
					line-height: 34px;

					&:hover {
						border-left: 1px solid #304295;
						border-right: none;
					}
				}

				.dropdown-menu {
					min-width: 160px;
					right: 0;
				}
			}
		}
	}
}