@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.cartNav {
		min-width: 270px;

		ul.cartNavItems {
			float: right;
			height: 44px;
			position: relative;

			.cartNavShadow {
				display: none;
			}

			li.cartNavItem {
				a[data-toggle] {
					padding: 5px 9px 5px 9px;
					font-size: @smallPSize;
					border-left: 1px solid @secondaryHueLight;
					border-right: none;
					line-height: 34px;

					&:hover {
						border-left: 1px solid @primaryHueDarkest;
						border-right: none;
					}

					.icon-shopping-cart {
						font-size: @h2Size;
						line-height: 24px;
					}
				}

				.dropdown-menu {
					min-width: 160px;
					right: 0;
				}
			}

			.cart-canvas {
				background-color: transparent;
				font-size: @pSize;
				height: 100%;
				list-style: none;
				min-height: 480px;
				right: -276px;
				padding: 0;
				position: absolute;
				text-align: center;
				top: 0;
				width: 276px;
				z-index: 0;

				li {
					clear: left;
					float: left;
					margin: 0;
					padding: 10px 6%;
					width: 88%;

					a:not(.new-btn) {
						color: @primaryHueNormal;
						display: block;
						float: left;
					}
				}
			}
		}
	}

	.parentheses {
		&:before, &:after {
			content: '';
		}
	}

	.count-badge {
		background-color: @highlightHueLight;
		.borderRadius(8px);
		color: @bodyColor;
		display: inline-block;
		font-size: @smallestPSize;
		height: auto;
		line-height: normal;
		padding: 0 4px;
		position: absolute;
		right: 4px;
		text-align: center;
		top: 4px;
		width: auto;
		z-index: 999999;
	}
}