@import "../../base.variables.less";
@import "../../base.mixins.less";

.cartNav {
	float: right;
	height: 40px;
	position: relative;
	z-index: 999;

	ul.cartNavItems {
		height: 40px;
		list-style: none;
		margin: 0;
		overflow: visible;
		padding: 0;
		position: relative;

		.cartNavShadow {
			background-image: url(../../../img/home_sprite.png);
			background-position: 2px -12px;
			background-repeat: no-repeat;
			bottom: -7px;
			height: 7px;
			position: absolute;
			right: 0;
			width: 7px;
		}

		li.cartNavItem {
			background: @tableHoverColor;
			float: left;
			line-height: 34px;
			margin: 0;
			padding: 0;

			.btn-group {
				.dropdown-toggle {
					.borderRadius(0);
				}
			}

			a {
				border: 0 solid #c3c3c3;
				border-right-width: 1px;
				color: @linkColor;
				float: left;
				font-family: @bodyFont;
				font-size: @smallerPSize;
				line-height: 40px;
				margin: 0;
				outline-style: none;
				padding: 0 8px 0 7px;
				text-decoration: none;

				&:hover {
					background: @linkHoverColor;
					border-right: 1px solid #304295;
					color: @bodyColor;
				}
				.icon-caret-down {
					color: @caretColor;
					font-size: @smallestPSize;
					font-weight: 600;
				}
			}

			.dropdown-menu {
				.borderRadius(0);
				left: auto;
				margin-top: 5px;
				min-width: 200px;
				padding: 10px;
				right: 5px;

				&:before, &:after {
					content: ' ';
					height: 0;
					position: absolute;
					top: 0;
					weight: 0;
				}
				&:before {
					border: 15px solid;
					border-color: transparent transparent #cbcbcb transparent;
					margin-top: -30px;
					right: 10px;
				}
				&:after {
					border: 14px solid;
					border-color: transparent transparent @bodyColor transparent;
					margin-top: -28px;
					right: 11px;
				}
				li {
					font-size: @smallerPSize;
				}
			}

			&.itemsInCart {
				a {
					background: @linkHoverColor;
					border-right: 1px solid #304295;
					color: @bodyColor;
				}
			}
			&.currentClass {
				a {
					background: #304295;
					color: @bodyColor;
					border-right: 1px solid #304295;
				}
			}
		}
	}
}

@import "cartNav.tablet.less";
@import "cartNav.mobile.less";