@import "../../base.variables.less";
@import "../../base.mixins.less";

.cartNav {
	float: right;
	height: 40px;

	ul {
		height: 40px;
		list-style-type: none;
		margin: 0;
		overflow: visible;
		padding: 0;
		position: relative;

		.cartNavShadow {
			background-image: url(../../../img/home_sprite.png);
			background-position: 2px -12px;
			background-repeat: no-repeat;
			bottom: -7px;
			height: 7px;
			position: absolute;
			right: 0;
			width: 7px;
		}

		li {
			background: @tableHoverColor;
			float: left;
			line-height: 34px;
			margin: 0;
			padding: 0;

			.btn-group {
				.dropdown-toggle {
					.borderRadius(0);
				}
			}

			a {
				border: 0 solid #c3c3c3;
				border-right-width: 1px;
				color: @linkColor;
				float: left;
				font-family: @bodyFont;
				font-size: @smallerPSize;
				line-height: 40px;
				margin: 0;
				padding: 0 8px 0 7px;
				text-decoration: none;

				&:hover {
					background: @linkHoverColor;
					border-right: 1px solid #304295;
					color: @bodyColor;
				}
				.icon-caret-down {
					color: @caretColor;
					font-size: @smallestPSize;
					font-weight: 600;
				}
			}

			&.itemsInCart {
				a {
					background: @linkHoverColor;
					border-right: 1px solid #304295;
					color: @bodyColor;
				}
			}
			&.currentClass {
				a {
					background: #304295;
					color: @bodyColor;
					border-right: 1px solid #304295;
				}
			}
		}
	}
}

@import "cartNav.tablet.less";
@import "cartNav.mobile.less";