@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 1024px) {
	h4.articleTitle {
		margin-top: 0;
		display: block;
	}
	h4.articleTitle1{
		display: none;
	}
	.authorArticleTab {
		clear: both;
		margin-top: 5px;
		width: 100% !important;
	}
	.authorArticleTab {
		margin-left: 0;
	}
}