@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.responsivePinchImage {
	border: 1px solid @secondaryHueLight;
	.boxSizing(border-box);
	cursor: pointer;
	height: 315px;
	position: relative;
	width: 100%;

	[data-toggle="pinch-image"] {
		height: 100%;
		margin: 0 0 10px;
		overflow: hidden;
		position: relative;
		width: 100%;

		img {
			min-width: none;
			max-width: none;
			position: absolute;
			width: 100%;
		}
	}
	.control {
		background-color: @bodyColor;
		border: 1px solid @primaryHueLighter;
		.borderRadius(2px);
		color: @primaryHueNormal;
		display: block;
		font-size: @h5Size;
		font-weight: 600;
		left: 10px;
		min-width: @h5Size;
		padding: 15px;
		position: absolute;
		text-align: center;
		.userSelect();
		width: auto;

		&.icon-minus {
			bottom: 10px;
		}
		&.icon-plus {
			bottom: 58px;
		}
		&.inactive {
			background-color: #ccc;
		}
	}
	[data-toggle="pinch-fullscreen"], [data-toggle="pinch-print"] {
		i {
			color: @secondaryHueDark;
		}
		&:hover {
			i {
				color: @secondaryHueDark;
				text-decoration: none;
			}
		}
	}
}

@import "responsivePinchImage.tablet";
@import "responsivePinchImage.mobile";