@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 767px) {
	.breadcrumbNavigation {
		.breadcrumb-back {
			&:before {
				content: '<';
				display: inline-block;
				margin: 0 10px 0 0;
			}
		}
	}
}