@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 768px) {
	.relatedGuides {
		.carousel-wrapper {
			width: 100%;

			.carousel-list-wrapper {
				.carousel-item.span3 {
 			 		margin-bottom: 20px;
					padding-right: 2.5%;
					width: 22%;
				}
				.wrapperGuide {
					background: none;
					min-height: 140px;
					position: relative;
					width: 100px;
				}
				.image-wrapper {
					background: @secondaryHueLight;
					height: auto;
                    min-height: 160px;
					left: 0;
					overflow: hidden;
					position: absolute;
					top: 0;
					width: 170px;
                    border: 1px solid @secondaryHueLight;

					.image {
						border-bottom: solid 2px @bodyColor;
						max-height: 90px;
						overflow: hidden;
					}
				}
				.wrench-symbol {
					border: solid 2px @bodyColor;
					height: 28px;
					left: 45%;
					line-height: 24px;
					margin-left: -9px;
					position: absolute;
					top: 75px;
					width: 28px;

					i {
						font-size: 12px;
						.flipHorizontally();
					}
				}
				.guideURL{
					display: block;
					margin: 10px;
					position: relative;
					text-align: center;

					a {
						text-decoration: none;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		.accordion-inner-btn {
			font-size: @smallestPSize;
			margin-top: 5px;
		}
	}
}