@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (min-width: 651px) and (max-width: 767px) {
	.relatedGuides {
		.row-fluid {
			.span3 {
				clear: none;
				display: block;
				float: left !important;
				margin-left: 2.564102564102564%;
				*margin-left: 2.5109110747408616%;
				width: 23.076923076923077%;
				*width: 23.023731587561375%;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}