@import "../../base.variables.less";
@import "../../base.mixins.less";

.relatedGuides {
	.carouselWrapper {
		.carouselListWrapper {
			.carouselItem {
				margin-bottom: 20px;

				.wrapperGuide {
					height: 180px;
					position: relative;
					width: 100%;
				}
				.image-wrapper {
					background-color: @secondaryHueLight;
					height: 100%;
					left: 0;
					overflow: hidden;
					position: absolute;
					top: 0;
					width: 100%;

					.image {
						border-bottom: solid 2px @bodyColor;
						height: 110px;
						overflow: hidden;

						img {
							width: 100%;
						}
					}
				}
				.wrench-symbol {
					border: solid 2px @bodyColor;
					height: 28px;
					left: 45%;
					line-height: 24px;
					margin-left: -9px;
					position: absolute;
					top: 95px;
					width: 28px;

					i {
						font-size: @smallPSize;
						.flipHorizontally();
					}
				}
				.guideURL {
					display: block;
					margin: 5px;
					padding: 0;
					position: relative;
					text-align: center;

					a {
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

@import "relatedGuides.tablet.less";
@import "relatedGuides.mobile.less";