@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.homeLogo {
		background: url(../../../img/sears_logo_new.png) no-repeat 0 0;
		background: none, url(../../../img/sears_logo_mob.svg) no-repeat 0 0;
		height: 60px;
		left: 8px;
		top: 52px;
		width: 217px;
	}
}

@media (max-width: 480px) {
	.homeLogo {
		height: 27px;
		top: 52px;
		width: 217px;
	}
}