@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) {
	.partList {
		.partListDiagram {
			width: 100%;
            div {
              width:100%;
            }
		}
		.partListItems {
			margin-left: 0;
			width: 100%;
		}
		.diagramPosition {
			.spanWidth(1.4);
            margin-top:20px;
		}
		.partListItemDescription {
            .spanWidth(5.66);
			.partListItemImage {
				height: 78px;
				width: 78px;
			}
		}
		.partListItemCart {
			.spanWidth(5);
			
			.partListItemPrice, .partListItemQuantity, .partListItemAdd {
				float: left;
			}
			.partListItemPrice, .partListItemQuantity {
				.spanWidth(3);
			}
			.partListItemQuantity {
				input[type="text"] {
					padding: 20px 10px;
					width: 60%;
                    float: none;
				}
                label {
                    float: none;
                }
			}
			.partListItemAdd {
				.spanWidth(6);
				
				button {
					margin-top: @h3Size;
				}
			}
		}
	}
  #partListDiagram {
    width: 100%;
    div {
      width:100%;
    }
  }
  #partListItems {
    width: 100%;
  }
  #diagramPosition {
    .spanWidth(1.4);
    margin-top:20px;
  }
  #partListItemDescription {
    .spanWidth(5.66);
  }
  #partListItemCart {
    .spanWidth(5);
  }
  #partListItemQuantity {
    .spanWidth(3);
  }
  #partListItemAdd {
    .spanWidth(6);
  }
}