@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.partList {
		.partListItems {
			background-color: @secondaryHueLighter;
			.boxSizing(content-box);
			margin: 0 -10px 10px;
			padding: 10px;

			.partListItem {
				background-color: @bodyColor;
				border: 0;
				.boxSizing(border-box);
				.boxShadow(0 5px 5px 0 @secondaryHueLight);
				padding: 10px;
				width: 100%;
				&:first-child {
					border: 0;
				}
			}
			.partListItem + .partListItem {
				margin-top: 10px;
			}
		}
		.diagramPosition {
            margin: 30px 0;
			.spanWidth(3.2);
		}
		.partListItemDescription, .partListItemCart {
			float: right;
			.spanWidth(10);
		}
		.partListItemDescription {
            .spanWidth(8.8);
            padding-top: 0px;
			.partListItemImage {
				display: none;
			}
		}
		.partListItemCart {
            padding-top: 0px;
			.partListItemPrice {
				float: none;
				width: 140px;
				strong {
					margin: 0 10px 0 0;
					width: auto;
				}
			}
			.partListItemQuantity, .partListItemAdd {
				display: none;
			}
		}
	}
  #diagramPosition {
    margin: 30px 0;
    .spanWidth(3.2);
  }
  #partListItemDescription {
    .spanWidth(8.8);
    padding-top: 0px;
  }
  #partListItemPrice {
      float: none;
      width: 140px;
  }
}