@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.partList {
	.partListDiagram {
		.spanWidth(4);
	}
	.partListItems {
		.spanWidth(8);

		.partListItem {
			border-bottom: 1px solid @secondaryHueLight;
			padding: 20px 0;
			
			&:first-child {
				border-top: 1px solid @secondaryHueLight;
			}
		}
	}
	// # Typically I would nest these inside .partListItems .partListItem
	// # The styles would be complex, slower to paint, harder to override
	.diagramPosition {
		color: @secondaryHueNormal;
		font-size: @noteSize;
		text-align: center;
        margin: 30px 0;
		.spanWidth(2);

		span {
			font-size: @h2Size;
		}
	}
	.partListItemDescription {
		.spanWidth(7);

		.partListItemImage {
			border: 1px solid @secondaryHueLight;
			clear: none;
			float: left;
			height: 58px;
			margin: 0 10px 10px;
			width: 58px;

			img {
				width: 100%;
			}
		}
		p {
			a {
				font-size: @h5Size;
			}
		}
	}
	.partListItemCart {
		.spanWidth(3);

		.partListItemPrice, .partListItemQuantity {
			clear: none;
			float: left;
			margin-bottom: 5px;
            width: 50%;
		}
		.partListItemPrice {
			color: @secondaryHueDarkest;
            padding-left: 2em;
            width: 33%;
			strong {
				display: inline-block;
				font-size: @h4Size;
				margin-top: @h3Size;
				width: 100%;
			}
		}
		.partListItemQuantity {
			input[type="text"] {
				.boxSizing(border-box);
				display: block;
				padding: 16px 8px;
				width: 28px;
                float: right;
			}
            label {
                float: right;
            }
		}
		.partListItemAdd {
			text-align: center;
			
			button {
				.boxSizing(border-box);
				margin: 0;
				width: 100%;
			}
		}
	}
}
#partListDiagram {
  .spanWidth(4);
}
#partListItems {
  .spanWidth(8);
}
#diagramPosition {
  .spanWidth(2);
}
#partListItemDescription {
  .spanWidth(7);
}
#partListItemCart {
  .spanWidth(3);
}
#partListItemQuantity {
  width: 50px;
}

@import "partList.tablet";
@import "partList.mobile";