@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.partList {
  div {
    .partListTitle {
      p {
        display: none;
      }
    }
    .partListDiagram {
      .spanWidth(4);
    }
    .partListItems {
      .spanWidth(8);

      .partListItem {
        border-bottom: 1px solid @secondaryHueLight;
        padding: 20px 0;

        &:first-child {
          border-top: 1px solid @secondaryHueLight;
        }
      }
    }
    // # Typically I would nest these inside .partListItems .partListItem
    // # The styles would be complex, slower to paint, harder to override
    .diagramPosition {
      color: @secondaryHueNormal;
      font-size: @noteSize;
      text-align: center;
      margin: 30px 0;
      .spanWidth(2);

      span {
        font-size: @h2Size;
      }
    }
    .partListItemDescription {
      .spanWidth(7);

      .partListItemImage {
        border: 1px solid @secondaryHueLight;
        clear: none;
        float: left;
        height: 58px;
        margin: 0 10px 10px;
        width: 58px;

        img {
          width: 100%;
        }
      }
      p {
        a {
          font-size: @h5Size;
        }
      }
    }
    .partListItemCart {
      .spanWidth(3);

      p {
        text-align: right;
      }

      strong {
        white-space: nowrap;
      }
      .partListItemPrice, .partListItemQuantity {
        clear: none;
        float: left;
        margin-bottom: 5px;
        width: 36%;
      }
      .partListItemPrice {
        color: @secondaryHueDarkest;
        text-align: right;
        width: 50%;
        strong {
          display: inline-block;
          font-size: @h4Size;
          margin-top: @h3Size;
          width: 100%;
        }
      }
      .partListItemQuantity {
        padding-left: 1.8%;
        input[type="text"] {
          .boxSizing(border-box);
          display: block;
          padding: 16px 8px;
          width: 36px;
          float: right;
          text-align: center;
        }
        label {
          float: right;
        }
      }
      .partListItemAdd {
        text-align: center;

        button {
          .boxSizing(border-box);
          margin: 0;
          width: 100%;
        }
      }
    }
    .styleFix {
      margin-left: 0px;
    }
  }
}
.modelHeader {
  ul {
    li:first-child {
      border-left: 1px solid #aeaeae;
    }
    li:last-child {
      border-right: 1px solid #aeaeae;
    }
  }
}
.pinchImage {
  div:first-child, div:nth-child(2) {
    display: block;
  }
  div:nth-child(3), div:nth-child(4) {
    display: none;
  }
}
.diagramImage {
  img:first-child {
    display: block;
  }
  img:last-child {
    display: none;
  }
}

@import "partList.tablet";
@import "partList.mobile";