@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
  .partList {
    div {
      .partListItems {
        background-color: @secondaryHueLighter;
        .boxSizing(content-box);
        margin: 0 -10px 10px;
        padding: 10px;

        .partListItem {
          background-color: @bodyColor;
          border: 0;
          .boxSizing(border-box);
          .boxShadow(0 5px 5px 0 @secondaryHueLight);
          padding: 10px;
          width: 100%;
          &:first-child {
            border: 0;
          }
        }
        .partListItem + .partListItem {
          margin-top: 10px;
        }
      }
      .diagramPosition {
        margin: 30px 0;
        .spanWidth(3.2);
      }
      .partListItemDescription, .partListItemCart {
        float: right;
        .spanWidth(8.8);
      }
      .partListItemDescription {
        .spanWidth(8.8);
        padding: 0 0 0 10px;
        .partListItemImage {
          display: none;
        }
      }
      .partListItemCart {
        padding: 0 0 0 10px;
        margin-left: 0px;
        p {
          text-align: left;
          width: 80%;
        }
        .partListItemPrice {
          float: none;
          width: 140px;
          text-align: left;
          padding-left: 10px;
          strong {
            margin: 0 10px 0 0;
            width: auto;
          }
        }
        .partListItemQuantity, .partListItemAdd {
          display: none;
        }
      }
    }
  }
  .partListTitle {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    margin: 0 8px 0 0;
      p {
        display: block;
        font-size: 16px;
        color: white;
        background-color: gray;
        padding: 10px 20px;
        margin-bottom: 0px;
      }
  }
  .pinchImage {
    padding-left: 20px;
    div:first-child, div:nth-child(2) {
      display: block;
    }
    div:nth-child(3), div:nth-child(4) {
      display: none;
    }
    div {
      width: 40% !important;
      display: block;
    }
  }
  .diagramImage {
    img:first-child {
      display: block;
    }
    img:last-child {
      display: none;
    }
  }
  #partListDiagramImage.unsticky {
    .boxSizing(border-box);
    position: absolute;
    height: auto;
    width: 100%;
    img {
      border: 1px solid @secondaryHueLight;
      height: 100%;
      margin-bottom: 10px;
    }
  }
  #partListDiagramImage.sticky {
    .boxSizing(border-box);
    position: absolute;
    height: auto;
    width: 100%;
    img {
      border: 1px solid @secondaryHueLight;
      height: 100%;
      margin-bottom: 10px;
    }
  }
}

