@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 1024px) {
	.partList {
      div {
        .partListTitle {
          position: relative;
          float: left;
          display: block;
          width: 100%;
          margin: 20px 8px 0 0;
          p {
            display: block;
            font-size: 16px;
            color: white;
            background-color: gray;
            padding: 10px 20px;
            margin-bottom: 0px;
          }
        }
        .partListDiagram {
          width: 100%;
          border-bottom: 1px solid #dedede;
          div {
            width:100%;
          }
        }
        .partListItems {
          margin-left: 0;
          width: 100%;
        }
        .diagramPosition {
          .spanWidth(1.4);
          margin-top:20px;
        }
        .partListItemDescription {
          .spanWidth(5.66);
          .partListItemImage {
            height: 78px;
            width: 78px;
          }
        }
        .partListItemCart {
          .spanWidth(5);

          p {
            width: 56%;
            margin-left: 40%;
          }

          strong {
            white-space: nowrap;
          }

          .partListItemPrice, .partListItemQuantity, .partListItemAdd {
            float: left;
          }
          .partListItemPrice, .partListItemQuantity {
            .spanWidth(3);
          }
          .partListItemQuantity {
            input[type="text"] {
              padding: 20px 10px;
              width: 60%;
              float: none;
            }
            label {
              float: none;
            }
          }
          .partListItemAdd {
            .spanWidth(6);

            button {
              margin-top: @h3Size;
            }
          }
        }
      }
	}
    .pageTitleHeader {
      text-align: left;
    }
    .modelHeader {
      ul li.current {
        background-image: none;
        border-bottom: 1px solid #fff;
      }
      li:first-child {
        border-left: 1px solid #aeaeae;
      }
      li:last-child {
        border-right: 1px solid #aeaeae;
      }
    }
    .pinchImage {
      padding-left: 20px;
      div:first-child, div:nth-child(2) {
        display: block;
      }
      div:nth-child(3), div:nth-child(4) {
        display: none;
      }
      div {
        width: 20% !important;
        display: block;
      }
    }
    .partListItemAdd {
      .spanWidth(6);
    }
}