@import "../../base.variables.less";
@import "../../base.mixins.less";

@media(max-width: 650px) {
	.responsiveFindThisPart {
		.responsiveFindThisPartHeader {
			display: block;
			font-size: @h4Size;
			padding: 10px 15px;

			a {
				color: @secondaryHueDark;
				cursor: pointer;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
				i {
					display: inline-block;
					font-size: 20px;
					margin-right: 20px;
					vertical-align: baseline;
				}
				.icon-chevron-down {
					display: none;
				}
				.icon-chevron-up {
					color: @primaryHueNormal;
					display: inline-block;
				}
			}
		}
		.responsiveFindThisPartBody {
			display: none;
		}
		&.active {
			.responsiveFindThisPartHeader {
				.icon-chevron-down {
					display: inline-block;
				}
				.icon-chevron-up {
					display: none;
				}
			}
			.responsiveFindThisPartBody {
				display: block;
			}
		}
	}
}