@import "../../base.variables.less";
@import "../../base.mixins.less";

@media(max-width: 650px) {
	.responsiveFindThisPart {
		.responsiveFindThisPartHeader {
			display: block;

			a {
				i {
					float: right;
					margin-right: 0px;
				}
			}
		}
		.responsiveFindThisPartBody {
			display: none;
		}
		&.active {
			.responsiveFindThisPartBody {
				display: block;
			}
		}
	}
}