@import "base.variables.less";

.borderRadius(@v: 0) {
	-webkit-border-radius: @v;
	-moz-border-radius: @v;
	-ms-border-radius: @v;
	-o-border-radius: @v;
	border-radius: @v;
	behavior: url('http://@{pie_path}');
}
.borderTopLeftRadius(@v: 0) {
	-webkit-border-top-left-radius: @v;
	-moz-border-radius-topleft: @v;
	border-top-left-radius: @v;
	behavior: url('http://@{pie_path}');
}
.borderTopRightRadius(@v: 0) {
	-webkit-border-top-right-radius: @v;
	-moz-border-radius-topright: @v;
	border-top-right-radius: @v;
	behavior: url('http://@{pie_path}');
}
.borderBottomLeftRadius(@v: 0) {
	-webkit-border-bottom-left-radius: @v;
	-moz-border-radius-bottomleft: @v;
	border-bottom-left-radius: @v;
	behavior: url('http://@{pie_path}');
}
.borderBottomRightRadius(@v: 0) {
	-webkit-border-bottom-right-radius: @v;
	-moz-border-radius-bottomright: @v;
	border-bottom-right-radius: @v;
	behavior: url('http://@{pie_path}');
}

.opacity(@o: 0.5) {
	-moz-opacity: @o;
	-khtml-opacity: @o;
	-webkit-opacity: @o;
	opacity: @o;
	@oP: @o * 100;
	filter: ~"alpha(opacity=@{oP})";
	@ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{oP})";
	-ms-filter: "@{ms-filter}";
}
.verticalGradient(@s: #fff, @e: #000) {
	background: @s;
	background: -moz-linear-gradient(top, @s 0%, @e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@s), color-stop(100%,@e));
	background: -webkit-linear-gradient(top, @s 0%,@e 100%);
	background: -o-linear-gradient(top, @s 0%,@e 100%);
	background: -ms-linear-gradient(top, @s 0%,@e 100%);
	background: linear-gradient(to bottom, @s 0%,@e 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{s}', endColorstr='@{e}', GradientType=0)";
}

.horizontalGradient(@s: #fff, @e: #000) {
	background: @s;
	background: -moz-linear-gradient(left, @s 0%, @e 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,@s), color-stop(100%,@e));
	background: -webkit-linear-gradient(left, @s 0%,@e 100%);
	background: -o-linear-gradient(left, @s 0%,@e 100%);
	background: -ms-linear-gradient(left, @s 0%,@e 100%);
	background: linear-gradient(to right, @s 0%,@e 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{s}', endColorstr='@{e}', GradientType=1)";
}
.boxShadow(@v: 0 0 0 0 #fff) {
	-moz-box-shadow: @v;
	-webkit-box-shadow: @v;
	-o-box-shadow: @v;
	-ms-box-shadow: @v;
	box-shadow: @v;
	behavior: url('http://@{pie_path}');
}