/* Base: Global Variables */
/* @TODO: Replace Examples */
/* 1. Image Path */
@imagePath: "../etc/designs/searspartsdirect/clientlib_base/img/";

/* 2. Typefaces, Fonts and Text Dimensions */
@bodyFont: 'Open Sans', Helvetica, Arial, sans-serif;
@standardFont: Arial, Helvetica, sans-serif;
@header1Size: 28px;
@header2Size: 24px;
@header3Size: 22px;
@header4Size: 18px;
@footerColumnSize: 16px;
@paragraphSize: 14px;
@smallLinkSize: 12px;

/* 3. Colors */
@bodyColor: #fff;
@headlineColor: #666;
@headlineBackgroundColor: #f0f0f0;
@linkColor: #067bb5;
@linkHoverColor: #304e88;
@tableHoverColor: #ebebeb;
@borderColor: #ccc;
@searchColor: #436eb8;
@searchActiveColor: #426dbf;
@buttonBorderColor: #b5cde4;
@footerButtonColor: #4577a3;
@footerLinkColor: #999;

/* 4. Layout and Structure */
