// # File Paths
@imagePath: "../etc/designs/searspartsdirect/clientlib_base/img/";
@IMAGE_PATH: "etc/designs/searspartsdirect/clientlib_base/img/";

// # Fonts
@bodyFont: 'Open Sans', Helvetica, Arial, sans-serif;
@standardFont: Arial, Helvetica, sans-serif;
@codeFont: Monaco, Menlo, Consolas, "Courier New", monospace;
@testimonialFont: Georgia;

// # Icon Sizes
@iconSizeLarge: 100px;
@iconSizeNormal: 90px;
@iconSizeSmall: 70px;
@iconSizeSmallest: 40px;

// # Text Sizes
@largestSize: 48px;
@largeSize: 32px;
@h1Size: 28px;
@h2Size: 24px;
@h3Size: 22px;
@h4Size: 18px;
@h5Size: 16px;
@pSize: 14px;
@smallerPSize: 13px;
@smallPSize: 12px;
@smallestPSize: 11px;

// # Global Colors
@bodyColor: #fff;
// # Blues
@primaryHueDarkest: #1c2e57;
@primaryHueDarker: #304e88;
@primaryHueDark: #0657a4;
@primaryHueNormal: #067bb5;
@primaryHueLight: #446eb9;
@primaryHueLighter: #4577a3;
@primaryHueLightest: #4577a3;
// # Grays
@secondaryHueDarkest: #000;
@secondaryHueDarker: #333;
@secondaryHueDark: #666;
@secondaryHueNormal: #aeaeae;
@secondaryHueLight: #dedede;
@secondaryHueLighter: #ebebeb;
@secondaryHueLightest: #f0f0f0;
// # Reds and Oranges
@highlightHueDarkest: #be1010;
@highlightHueDarker: #be1010;
@highlightHueDark: #be1010;
@highlightHueNormal: #be1010;
@highlightHueLight: #ff6600;
@highlightHueLighter: #ffcc00;
@highlightHueLightest: #ffcdcd;

// # Dimensions
@repairHelpIconHeight: 130px;