// # File Paths
@imagePath: "../etc/designs/searspartsdirect/clientlib_base/img/";
@IMAGE_PATH: "etc/designs/searspartsdirect/clientlib_base/img/";
// # Grid variables
@flexRowWidth: (12 * 60px) + (20px * (11));
@flexColumnWidth: percentage(60px/@flexRowWidth);
@flexGutterWidth: percentage(20px/@flexRowWidth);
// # Fonts
@bodyFont: 'Open Sans', Helvetica, Arial, sans-serif;
@standardFont: Arial, Helvetica, sans-serif;
@codeFont: Monaco, Menlo, Consolas, "Courier New", monospace;
@testimonialFont: Georgia;
// # Icon Sizes
@iconSizeLarge: 10.0rem;
@iconSizeNormal: 9.0rem;
@iconSizeSmall: 7.0rem;
@iconSizeSmallest: 4.0rem;
@iconSizePromo: 2.2rem;
// # Text Sizes
@largestSize: 4.8rem;
@largeSize: 3.2rem;
@h1Size: 2.8rem;
@h2Size: 2.4rem;
@h3Size: 2.2rem;
@h4Size: 1.8rem;
@h5Size: 1.6rem;
@pSize: 1.4rem;
@smallerPSize: 1.3rem;
@smallPSize: 1.2rem;
@smallestPSize: 1.2rem;
@noteSize: 1.2rem;
// # Line Heights
@largestHeight: 4.8rem;
@largeHeight: 3.2rem;
@h1Height: 2.8rem;
@h2Height: 2.4rem;
@h3Height: 2.2rem;
@h4Height: 1.8rem;
@h5Height: 1.6rem;
@pHeight: (@pSize * 1.5);
@smallerPHeight: 1.3rem;
@smallPHeight: 1.2rem;
@smallestPHeight: 1.1rem;
// # Global Colors
@bodyColor: #fff;
// # Blues
@primaryHueDarkest: #1c2e57;
@primaryHueDarker: #304e88;
@primaryHueDark: #0657a4;
@primaryHueNormal: #067bb5;
@primaryHueLight: #446eb9;
@primaryHueLighter: #4577a3;
@primaryHueLightest: #4577a3;
// # Grays
@secondaryHueDarkest: #000;
@secondaryHueDarker: #333;
@secondaryHueDark: #666;
@secondaryHueNormal: #aeaeae;
@secondaryHueLight: #dedede;
@secondaryHueLighter: #ebebeb;
@secondaryHueLightest: #f0f0f0;
// # Reds and Oranges
@highlightHueDarkest: #be1010;
@highlightHueDarker: #be1010;
@highlightHueDark: #be1010;
@highlightHueNormal: #be1010;
@highlightHueLight: #ff6600;
@highlightHueLighter: #ffcc00;
@highlightHueLightest: #ffcdcd;
// # Dimensions
@repairHelpIconHeight: 130px;