@import "base.reset.less";
@import "base.variables.less";
@import "base.mixins.less";

/* Component: Side Bar Links */
.side-bar-links h4 a {
	font-size: 18px;
	cursor: default;
}
.side-bar-links h4 a:hover {
	cursor: default;
	text-decoration: none;
}
.side-bar-links .collapse-questions ul {
	list-style: none;
	padding: 0;
}
.side-bar-links .collapse-questions ul li {
	border-top: 1px solid #fff;
}
.side-bar-links .collapse-questions ul li a {
	display: block;
	float: left;
	padding: 15px;
	width: 100%;
	clear: both;
}