@import "base.variables.less";
@import "base.mixins.less";

/* Component: Brand Bar */
.brandBar {
	.verticalGradient(#fdfdfd, #d2d2d2);
	display: block;
	height: 31px;
	margin: 0 auto;
	width: 100%;
	z-index: 1000;
}