@import "base.variables.less";
@import "base.mixins.less";

/* Component: Model Finder */
#model_finder_pos {
	position: relative;
}
.solar_width {
	width: 579px;
	float: left;
}
.legacy_width {
	width: 654px;
	float: left;
}
#newFinderModel {
/**/
}
.left_pos_model_finder {
	left: 183px;
}
.newFinderDiv {
	position: absolute;
	left: 143px;
	top: -13px;
	background: #fff;
	border: 4px solid #1d276a;
	border-top: 0px;
	padding: 0px;
	display: none;
}
.newFinderDiv h2 {
	color: #333;
	font-weight: normal;
	font-size: @footerColumnSize;
	padding: 0 0 5px 0;
	margin: 10px 0 5px 0;
	font-weight: 800;
	text-align: left;
}
.newFinderDiv h4 {
	color: #333;
	font-weight: normal;
	font-size: 13px;
	padding: 0 0 5px 0;
	margin: 30px 0 5px 0;
	font-weight: 800;
	text-align: left;
}
.newFinderDiv .finder_work_div {
	width: 96%;
	padding: 1.5% 2%;
	margin: 0px;
	float: left;
	background-position: center top;
	background-repeat: no-repeat;
}
.newFinderDiv .finder_work_div .select_product {
	width: 100%;
	position: relative;
}
.finder_work_div .select_product .ul_div, .finder_work_div .select_product .ul_div_product {
	float: left;
	width: 230px;
	padding: 0 15px 0 10px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #dedede;
	font-size: @paragraphSize;
	color: #666;
	background-position: 230px center;
	background-repeat: no-repeat;
}
.finder_work_div .select_product .show_dropdown {
	position: absolute;
	z-index: 999;
	left: 0px;
	top: 36px;
	width: 255px;
	background: #fff;
	border: 1px solid #dedede;
	border-top: 0px;
	display: none;
}
.finder_work_div .select_product .show_dropdown_product {
	position: absolute;
	left: 0px;
	top: 36px;
	width: 255px;
	background: #fff;
	border: 1px solid #dedede;
	border-top: 0px;
	display: none;
}
.show_dropdown ul, .show_dropdown_product ul {
	margin: 0px;
	padding: 0px;
	display: block;
}
.show_dropdown ul li, .show_dropdown_product ul li {
	margin: 0px;
	padding: 0 0 1px 0;
	display: block;
}
.show_dropdown ul li a, .show_dropdown_product ul li a {
	display: block;
	padding: 5px 0 5px 10px;
	font-size: @paragraphSize;
	color: #666;
	line-height: normal;
	text-decoration: none;
}
.show_dropdown ul li a:hover, .show_dropdown_product ul li a:hover {
	background: #1d276a;
	color: #fff;
}
.show_dropdown ul li a.select_current, .show_dropdown_product ul li a.select_current {
	background: #1d276a;
	color: #fff;
}
.models_number_div {
	margin: 20px 0 0 0;
	float: left;
}
.models_number_div ul {
	float: left;
	list-style-type: none;
	width: 100%;
}
.models_number_div ul li {
	float: left;
	margin: 5px 20px 5px 5px;
	padding: 0px;
}
.li_width_28 {
	width: 28%;
}
.li_width_40 {
	width: 40%;
}
.models_number_div ul li a {
	color: #666;
	text-decoration: none;
}
.models_number_div ul li a:hover {
	text-decoration: underline;
}
.finder_content_div {
	float: left;
	width: 100%;
	padding: 10px 0 15px 0;
}
.finder_content_div .finder_default_img, .finder_default_img2 {
	width: 100%;
	margin: 5px 0 20px 0;
}
.finder_img {
	width: 100%;
	text-align: center;
}
.finder_close {
	float: left;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid #dedede;
}
.finder_close img {
	cursor: pointer;
}
.finder_nav {
	float: left;
	width: 100%;
	margin: 10px 0px 20px 0px;
}
.finder_nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
.finder_nav ul li {
	float: left;
	padding: 0 20px;
	margin: 0px;
	border-left: 1px solid #dedede;
	list-style-type: none;
}
.finder_nav ul li a {
	float: left;
	color: #333;
	font-size: @footerColumnSize;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}
.finder_nav ul li.first {
	border-left: 0px solid #dedede;
	padding-left: 0px;
}
.finder_nav ul li a:hover {
	color: #304295;
}
.finder_nav ul li a.select_current {
	color: #304295;
}
.options_div {
	float: left;
	width: 100%;
	display: none;
}
.common_model_number_plates {
	width: 100%;
	float: left;
	line-height: normal;
}
.common_model_number_plates h4 {
	color: #333;
	font-weight: normal;
	font-size: 13px;
	padding: 0 0 10px 0;
	font-weight: 800;
	line-height: normal;
	margin: 0px;
}
.common_model_number_plates ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.common_model_number_plates ul li {
	margin: 0 0 0 15px;
	padding: 0px;
	line-height: normal;
}
.common_model_number_plates .CMNP_left {
	float: left;
	width: 30%;
	padding: 0;
}
.CMNP_left ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.CMNP_left ul li {
	margin: 0px;
	padding: 0 0 10px 10px;
	background-position: 0px 4px;
	background-repeat: no-repeat;
}
.common_model_number_plates .CMNP_center {
	width: 43%;
	float: left;
	text-align: center;
}
.common_model_number_plates .CMNP_right {
	float: right;
	width: 27%;
	padding: 0;
}
.common_model_number_plates .CMNP_right ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 100%;
}
.common_model_number_plates .CMNP_right ul li {
	float: left;
	list-style-type: none;
	margin: 0 0 5px;
	padding: 0;
	width: 100%;
}
.common_model_number_plates .CMNP_right ul li input {
	float: left;
	margin: 2px 5px 0 0;
	padding: 0;
}