@import "base.variables.less";
@import "base.mixins.less";

/* Component: Footer */
.new_homePage_footer {
	float: left;
	width: 963px;
	margin: 0 0 0 20px;
	border-top: 2px solid @bodyColor;
	position: relative;
}
.gray_border {
	width: 100%;
	background: #c0c1c5;
	height: 1px;
	position: absolute;
	top: -2px;
	left: 0;
}
.footer_one {
	float: left;
	width: 100%;
	background: @tableHoverColor;
}
.footer_one .column_one {
	float: left;
	width: 310px;
	padding: 20px 20px 57px 25px;
}
.footer_one .column_one #lpchatbutton4 a img {
	display: none;
}
.footer_one .column_one #lpvoicebutton4 a img {
	display: none;
}
.footer_one .column_one a {
	width: 310px;
	float: left;
	padding: 5px 0 0 0;
	margin: 0 0 10px 0;
	font-size: @footerColumnSize;
	font-weight: bold;
}
.footer_one .column_one a:hover {
	text-decoration: none;
}
.footer_one .column_one a span {
	display: block;
	color: @bodyCopyColor;
	font-size: @smallLinkSize;
	font-weight: normal;
}
.footer_one .column_one a p {
	color: #067bb5;
}
.footer_one .column_one a:hover p {
	text-decoration: underline;
	color: #304e88;
}
.footer_one .column_one a p:hover {
	text-decoration: underline;
	color: #304e88;
}
.icons_div {
	float: left;
	width: 43px;
	height: 43px;
	margin: -4px 10px 0 0;
	background-repeat: no-repeat;
}
#icon_3 {
	background-position: left -105px;
}
#icon_4 {
	background-position: left -158px;
}
#icon_5 {
	background-position: left -210px;
}
.footer_one .column_one a:hover #icon_3 {
	background-position: -44px -105px;
}
.footer_one .column_one a:hover #icon_4 {
	background-position: -44px -158px;
}
.footer_one .column_one a:hover #icon_5 {
	background-position: -44px -210px;
}
.footer_one .column_two {
	float: left;
	width: 246px;
	margin: 0 15px 0 20px;
	padding: 20px 0 15px 0;
}
.footer_one .column_two .fast_shipping {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 25px 0;
	position: relative;
}
.bg_position {
	background-position: -149px 28px;
}
.footer_one .column_two .curves {
	float: right;
	width: 246px;
	height: 5px;
	background-repeat: no-repeat;
}
.footer_one .column_two .fast_shipping .icon_bg_curves {
	background-position: -149px 0;
	background-repeat: no-repeat;
	position: absolute;
	width: 45px;
	height: 74px;
	top: 27px;
}
.footer_one .column_two #top {
	background-position: 33px -256px;
}
.footer_one .column_two #bottom {
	background-position: 33px -265px;
}
.footer_one .column_two .shipping_cont {
	float: left;
	padding: 5px 20px 10px 0;
	margin: 0 0 0 30px;
	background: none @bodyColor;
	.borderRadius(3px);
	width: 100%;
}
.footer_one .column_two .shipping_cont h3 {
	font-size: @header3Size;
	font-weight: normal;
	padding-left: 36px;
	color: #304295;
	width: 100%;
}
.footer_one .column_two .shipping_cont h3 a {
	font-size: @header3Size;
	font-weight: normal;
	color: #067bb5;
	margin: 0;
	border: none;
	width: 175px;
	padding: 0 0 3px 0;
	text-align: left;
}
.footer_one .column_two .shipping_cont h3 a:hover {
	color: #304e88;
}
.footer_one .column_two .shipping_cont p {
	color: @bodyCopyColor;
	font-size: @smallLinkSize;
	padding-left: 36px;
	clear: both;
}
.footer_one .column_two .shipping_cont a {
	float: left;
	width: 80px;
	font-size: @smallLinkSize;
	font-weight: bold;
	margin: 8px 0 0 36px;
	padding: 3px 3px 3px 5px;
	border: 1px solid #b5cde4;
	position: relative;
	text-align: center;
	color: #4577a3;
	.borderRadius(2px);
}
.footer_one .column_two .shipping_cont a span {
	width: 15px;
	height: 15px;
	background-position: -109px -103px;
	background-repeat: no-repeat;
	position: absolute;
}
.footer_one .column_two .shipping_cont a:hover {
}
#car_icon {
	position: absolute;
	left: 0;
	top: 41px;
	background-position: -87px 0;
	background-repeat: no-repeat;
	height: 44px;
	width: 60px;
}
#right_icon {
	position: absolute;
	left: 0;
	top: 42px;
	background-position: -91px -48px;
	background-repeat: no-repeat;
	height: 50px;
	width: 60px;
}
.footer_one .column_three {
	float: right;
	width: 280px;
	padding: 20px 25px 15px 20px;
}
.footer_one .column_three h3 {
	color: @bodyCopyColor;
	font-size: @header4Size;
	font-weight: normal;
	display: block;
	padding: 0 0 10px 0;
}
.footer_one .column_three h3 span {
	font-weight: bold;
}
.column_three p {
	float: left;
	width: 100%;
	padding: 0 0 3px 0;
	font-size: @paragraphSize;
}
.column_three ul {
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	list-style-type: none;
}
.column_three ul li {
	display: block;
	margin: 0;
	padding: 0 0 9px 0;
}
.column_three ul li a {
	text-decoration: none;
}
.column_three ul li a:hover {
	text-decoration: underline;
}
.footer_two {
	float: left;
	width: 100%;
	height: 45px;
	background-position: bottom left;
	background-repeat: repeat-x;
}
.footer_two .glow_div {
	margin: 0 auto;
	width: 100%;
	height: 6px;
	background-color: #304e88;
}
.footer_two .footer_a_div {
	margin: 0 auto;
	width: 561px;
}
.footer_two .footer_a_div a {
	float: left;
	font-size: @loginNavigationSize;
	color: @bodyCopyColor;
	margin: 12px 13px 0 13px;
	text-decoration: none;
}
.footer_two .footer_a_div a:hover {
	text-decoration: underline;
}
.footer_two .copyright {
	width: 150px;
	float: left;
	padding: 12px 0 0 0;
	color: @bodyCopyColor;
}
.footer_two .otherLogos {
	width: 88px;
	float: right;
	margin: 8px 0 0 0;
}
.footer_three {
	float: left;
	padding: 15px 0;
	width: 100%;
	font-family: @standardFont;
	color: @bodyCopyColor;
}
.footer_three .f_left {
	float: left;
}
.footer_three .f_right {
	float: right;
}
.footer_three .f_right img {
	border: none;
	cursor: default;
}
.new_homePage_footer_inner_page {
	margin: 20px;
	width: 97%;
}
.footer_one .column_one {
	float: left;
	width: 33%;
	padding: 20px 0 16px 25px;
}
.footer_one .column_one a {
	width: 100%;
	margin: 0 0 20px 0;
}
.footer_one .column_one a .icons_div {
	margin: -4px 15px 0 0;
}
.footer_one .column_one a #icon_2 {
	background-position: 0 -52px;
}
.footer_one .column_one a:hover #icon_1 {
	background-position: -44px 0;
}
.footer_one .column_one a:hover #icon_2 {
	background-position: -44px -52px;
}
.footer_one .column_one a p {
	font-size: @header4Size;
	font-weight: 600;
	margin: 0 0 2px 0;
}
.footer_one .column_one a span {
	font-size: @paragraphSize;
	padding: 0 0 0 57px;
}
.footer_one .column_one ul {
	list-style: none;
	margin: 0;
}
.new_homePage_footer_inner_page .column_two {
	width: 26%;
	position: relative;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	float: none;
}
.footer_one .column_two .shipping_cont p {
	font-size: @paragraphSize;
}
.footer_one .column_two .shipping_cont h3 {
	margin: 4px 0 0 0;
}
.footer_one .column_two .shipping_cont {
	padding: 2px 20px 18px 0;
}
.footer_one .column_two .fast_shipping {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 25px -29px;
	position: relative;
}
#car_icon.column_two_icons_hover {
	background-position: -201px -68px
}
#right_icon.column_two_icons_hover {
	background-position: -271px -69px;
}
.footer_one .column_two .fast_shipping .icon_bg_curves {
	top: 50%;
	margin: -37px 0 0 0;
}
#car_icon {
	top: 50%;
	margin: -22px 0 0 0;
	background-position: -201px -9px;
}
#right_icon {
	top: 50%;
	margin: -22px 0 0 0;
	background-position: -271px -10px;
}
.footer_one .column_two .shipping_cont a {
	font-size: @paragraphSize;
	font-weight: 600;
	padding: 4px 15px;
}
.footer_one .column_three {
	float: right;
	width: 31%;
	padding: 0 25px 15px 0;
	margin: -185px 0 0 0;
}
.footer_one .column_three h3 {
	line-height: 30px;
	padding: 0 60px 1px 0;
	font-size: @header3Size;
	margin: 0 0 10px 0;
}
.column_three p {
	float: left;
	width: 100%;
	padding: 0 0 0 0;
	font-size: @footerColumnSize;
	margin: 0 0 3px 0;
}
.footer_one .column_three ul {
	width: 48%;
	float: left;
}
.column_three ul li {
	display: block;
	margin: 0;
	padding: 0 0 6px 0;
}
.footer_one .column_three ul li a {
	font-size: @paragraphSize;
}
.footer_one .column_three form {
	float: left;
	margin: 10px 0 0 0;
}
.footer_one .column_three form p {
	margin: 0 0 5px 0;
	font-size: @paragraphSize;
	color: @bodyCopyColor;
	font-family: @standardFont;
}
.footer_one .column_three form input {
	float: left;
	.borderRadius(0);
	margin: 0 5px 0 0;
	padding: 10px 0 10px 12px;
	border: 1px solid #cccccc;
}
.footer_one .column_three form button {
	float: left;
	font-size: @smallLinkSize;
	font-weight: bold;
	margin: 0 0 0 3px;
	padding: 10px 27px;
	border: 1px solid #b5cde4;
	position: relative;
	text-align: center;
	color: #4577a3;
	.borderRadius(2px);
	background-image: none;
	background-color: @bodyColor;
}
.new_homePage_footer_inner_page .footer_two .copyright {
	width: 130px;
	font-size: @smallLinkSize;
}
.footer_two .footer_a_div a {
	color: #999;
}
.icons_div, #car_icon, .icon_bg_curves, #right_icon {
	background-image: url('../img/footer_sprite.png');
}
#lpchatbutton4 a, #lpvoicebutton4 a, .new_homePage_footer #lpchatbutton4 a, .new_homePage_footer #lpvoicebutton4 a {
	background-image: url('../img/lp_btn_sprite.png');
}
.footer_two {
	float: left;
	width: 100%;
	background-position: bottom left;
	background-repeat: repeat-x;
	background: @bodyColor;
}