@import "base.variables.less";
@import "base.mixins.less";

/* Component: Brand Bar */
.brandBar {
	display: block;
	height: 31px;
	z-index: 1000;
	margin: 0 auto;
	background: url('../img/brandBarBkg.png') repeat-x 0 0;
}