@import "base.variables.less";
@import "base.mixins.less";

.body_shadow_left {
	width: 6px;
	height: 188px;
	position: absolute;
	left: -6px;
	top: 0;
}
.body_shadow_right {
	width: 6px;
	height: 188px;
	position: absolute;
	right: -6px;
	top: 0;
}
#headerNavigation {
	position: absolute;
	right: -5px;
	top: 20px;
	z-index: 998;
}


#RecentlyViewedDiv img, #MyModelsDiv img, #ItemsCartsDiv img {
	background: transparent;
	zoom: 1;
}
#RecentlyViewedDiv, #ItemsCartsDiv {
	position: absolute;
	top: 34px;
	left: 0;
	width: 240px;
	display: none;
}
#MyModelsDiv {
	position: absolute;
	top: 34px;
	left: -60px;
	width: 382px;
	display: none;
	background: none;
}
.resentView {
	width: 240px;
}
.topArrowDiv {
	background-position: -34px -5px;
	background-repeat: no-repeat;
	height: 13px;
	left: 50px;
	position: absolute;
	top: -3px;
	width: 37px;
	z-index: 8888;
}
#MyModelsDiv .topArrowDiv {
	left: 224px;
}
.left_2 {
	left: 120px;
}
.left_3 {
	left: 180px;
}
.resentViewTopRow {
	float: left;
	width: 216px;
	margin: 0 12px;
	height: 8px;
	background-repeat: repeat-x;
	background-position: left top;
}
.resentViewTopRow .topLeftCurve {
	position: absolute;
	left: 0;
	top: 0;
	width: 12px;
	height: 8px;
	background-position: left top;
	background-repeat: no-repeat;
}
.resentViewTopRow .topRightCurve {
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 8px;
	background-position: -17px top;
	background-repeat: no-repeat;
}
.resentViewBottopRow {
	float: left;
	width: 216px;
	margin: 0 12px;
	height: 11px;
	background-position: left top;
	background-repeat: repeat-x;
}
.resentViewBottopRow .bottomLeftCurve {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 12px;
	height: 11px;
	background-position: left bottom;
	background-repeat: no-repeat;
}
.resentViewBottopRow .bottomRightCurve {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 12px;
	height: 11px;
	background-position: -17px bottom;
	background-repeat: no-repeat;
}
.resentViewContentDiv {
	float: left;
	width: 240px;
	background-position: left top;
	background-repeat: repeat-y;
}
.resentViewContentDiv .ViewContent {
	background-position: 228px top;
	background-repeat: repeat-y;
	float: left;
	padding: 0 8px;
	width: 224px;
}
.view_row {
	float: left;
	width: 204px;
	line-height: 150%;
	background: @bodyColor;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px;
	margin: 0;
}

.view_row a {
	float: none;
	padding: 0 0 0 0;
	color: @linkColor;
	line-height: normal;
	border: none;
	background: none;
	text-decoration: none;
	word-wrap: break-word;
	font-size: @smallPSize;
}
.view_row a:hover {
	color: @linkHoverColor;
	text-decoration: underline;
}
.view_row .row_col1 {
	float: left;
	font-size: @smallPSize;
}
.view_row .row_col1 span {
	float: left;
	padding: 0 5px 0 0;
	margin: -3px 0 0 0;
}
.view_row .row_col2 {
	float: left;
	padding: 0 10px 0 0;
	font-size: @smallPSize;
}
.view_row .row_col2 img {
	width: 60px;
	height: 60px;
}
.view_row .row_col3 {
	float: left;
	width: 130px;
}

.left_pos {
	left: 205px;
}

.manuals_help_list {
	list-style: none;
}
.manuals_help_list li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.manuals_help_list li a {
	text-decoration: none;
	color: @bodyColor;
}

.body_shadow_left {
	background: transparent url('../img/content_shadow1.png') no-repeat top left;
}
.body_shadow_right {
	background: transparent url('../img/content_shadow2.png') no-repeat top left;
}
.headerPromo {
	color: @linkHoverColor;
	width: 100%;
	text-align: center;
	font-size: @pSize;
	padding: 10px 0 10px 0;
	clear: both;
}
.headerPromo p {
	width: 701px;
	padding: 15px 0;
	margin: -19px auto 0;
	background: none url('../img/waterfilterdrop.png') no-repeat left 8px;
	background: none, url('../img/waterfilterdrop.svg') no-repeat left 8px;
	background-size: 4%;
}
.headerPromo p .btn {
	font-size: @smallestPSize;
	color: #4577a3;
	background: none;
	border: 1px solid #b5cde4;
	padding: 1px 12px;
}
.new_DdArrow input {
	background: none;
	cursor: default;
}