@import "base.variables.less";
@import "base.mixins.less";

.FindPartCategories_and_Testimonials {
	float: left;
	margin: 30px 0 37px 20px;
	width: 963px;
}
.FindPartCategories_and_Testimonials h2 {
	float: left;
	width: 100%;
	padding: 0 0 13px 0;
	margin: 0;
	color: @finderHeaderColor;
	font-size: 20px;
}
.FindPartCategories_and_Testimonials .topCategories {
	float: left;
	width: 450px;
	margin: 0 0 0 34px;
}
.FindPartCategories_and_Testimonials .topCategories ul {
	float: left;
	margin: 0;
	padding: 0 25px 0 0;
	list-style-type: none;
}
.FindPartCategories_and_Testimonials .topCategories ul li {
	display: block;
	margin: 0;
	padding: 0 0 5px 0;
}
.FindPartCategories_and_Testimonials .topCategories ul li a {
	display: block;
	font-size: @pSize;
	text-decoration: none;
}
.FindPartCategories_and_Testimonials .topCategories ul li a:hover {
	text-decoration: underline;
}
.browse_Categories a {
	float: left;
	width: 140px;
	font-size: @smallPSize;
	font-weight: bold;
	margin: 18px 0 0 0;
	padding: 3px 3px 3px 5px;
	border: 1px solid #b5cde4;
	position: relative;
	text-align: center;
	color: #4577a3;
	.borderRadius(2px);
}
.browse_Categories a span {
	width: 15px;
	height: 15px;
	background-position: -109px -120px;
	background-repeat: no-repeat;
	position: absolute;
}
.FindPartCategories_and_Testimonials .Testimonials {
	float: left;
	width: 350px;
	margin: 0 0 0 40px;
}
.FindPartCategories_and_Testimonials .Testimonials p {
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
	font-family: @testimonialFont;
	font-style: italic;
	font-size: 15px;
	color: @bodyCopyColor;
}
.FindPartCategories_and_Testimonials .Testimonials p span {
	font-style: normal;
	font-size: @smallPSize;
	float: left;
	padding-top: 5px;
}