@import "base.variables.less";
@import "base.mixins.less";

.manuals_help_list {
	list-style: none;
}
.manuals_help_list li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.manuals_help_list li a {
	text-decoration: none;
	color: @bodyColor;
}