@import "base.variables.less";
@import "base.mixins.less";

/* Component: Model Number Search */
.modelNumberSearch {
	background-color: @tableHoverColor;
	padding: 10px;

	p {
		font-size: @smallLinkSize;

		a {
			font-size: @smallLinkSize;
		}
	}
}