@import "base.variables.less";
@import "base.mixins.less";

dl.error-codes {
	dt {
		padding: 20px 40px;
		background: @secondaryHueLightest url('../img/logosSmall.png') no-repeat 95% 50%;
		background: none, url('../img/logosSmall.svg') no-repeat 95% 50%;
		background-size: 3% 100%;
		background-color: @secondaryHueLightest;
		font-size: @h4Size;
		font-weight: normal;
		color: @secondaryHueDark;
	}
	dd {
		border-top: 1px solid @secondaryHueLight;
		margin-left: 40px;

		a {
			padding: 15px 0 15px 0;
			display: block;
		}
	}
}