@import "base.variables.less";
@import "base.mixins.less";

/* Component: Footer */
#footerColumn2 {
	float: left;
	width: 246px;
	margin: 0 15px 0 20px;
	padding: 20px 0 15px 0;
}
#footerColumn2 .fast_shipping {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 25px 0;
	position: relative;
}
.bg_position {
	background-position: -149px 28px;
}
#footerColumn2 .curves {
	float: right;
	width: 246px;
	height: 5px;
	background-repeat: no-repeat;
}
#footerColumn2 .fast_shipping .icon_bg_curves {
	background-position: -149px 0;
	background-repeat: no-repeat;
	position: absolute;
	width: 45px;
	height: 74px;
	top: 27px;
}
#footerColumn2 #top {
	background-position: 33px -256px;
}
#footerColumn2 #bottom {
	background-position: 33px -265px;
}
#footerColumn2 .shipping_cont {
	float: left;
	padding: 5px 20px 10px 0;
	margin: 0 0 0 30px;
	background: none @bodyColor;
	.borderRadius(3px);
	width: 100%;
}
#footerColumn2 .shipping_cont h3 {
	font-size: @header3Size;
	font-weight: normal;
	padding-left: 36px;
	color: #304295;
	width: 100%;
}
#footerColumn2 .shipping_cont h3 a {
	font-size: @header3Size;
	font-weight: normal;
	color: #067bb5;
	margin: 0;
	border: none;
	width: 175px;
	padding: 0 0 3px 0;
	text-align: left;
}
#footerColumn2 .shipping_cont h3 a:hover {
	color: #304e88;
}
#footerColumn2 .shipping_cont p {
	color: @bodyCopyColor;
	font-size: @smallLinkSize;
	padding-left: 36px;
	clear: both;
}
#footerColumn2 .shipping_cont a {
	float: left;
	width: 80px;
	font-size: @smallLinkSize;
	font-weight: bold;
	margin: 8px 0 0 36px;
	padding: 3px 3px 3px 5px;
	border: 1px solid #b5cde4;
	position: relative;
	text-align: center;
	color: #4577a3;
	.borderRadius(2px);
}
#footerColumn2 .shipping_cont a span {
	width: 15px;
	height: 15px;
	background-position: -109px -103px;
	background-repeat: no-repeat;
	position: absolute;
}
#footerColumn2 .shipping_cont a:hover {
}
#car_icon {
	position: absolute;
	left: 0;
	top: 41px;
	background-position: -87px 0;
	background-repeat: no-repeat;
	height: 44px;
	width: 60px;
}
#right_icon {
	position: absolute;
	left: 0;
	top: 42px;
	background-position: -91px -48px;
	background-repeat: no-repeat;
	height: 50px;
	width: 60px;
}
#footerColumn3 {
	float: right;
	width: 280px;
	padding: 20px 25px 15px 20px;
}
#footerColumn3 h3 {
	color: @bodyCopyColor;
	font-size: @header4Size;
	font-weight: normal;
	display: block;
	padding: 0 0 10px 0;
}
#footerColumn3 h3 span {
	font-weight: bold;
}
#footerColumn3 p {
	float: left;
	width: 100%;
	padding: 0 0 3px 0;
	font-size: @paragraphSize;
}
#footerColumn3 ul {
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	list-style-type: none;
}
#footerColumn3 ul li {
	display: block;
	margin: 0;
	padding: 0 0 9px 0;
}
#footerColumn3 ul li a {
	text-decoration: none;
}
#footerColumn3 ul li a:hover {
	text-decoration: underline;
}

#footerLegal .glow_div {
	margin: 0 auto;
	width: 100%;
	height: 6px;
	background-color: #304e88;
}
#footerLegal .footer_a_div {
	margin: 0 auto;
	width: 561px;
}
#footerLegal .footer_a_div a {
	float: left;
	font-size: @loginNavigationSize;
	color: @bodyCopyColor;
	margin: 12px 13px 0 13px;
	text-decoration: none;
}
#footerLegal .footer_a_div a:hover {
	text-decoration: underline;
}
#footerLegal .copyright {
	width: 150px;
	float: left;
	padding: 12px 0 0 0;
	color: @bodyCopyColor;
}
#footerLegal .otherLogos {
	width: 88px;
	float: right;
	margin: 8px 0 0 0;
}
.footer_three {
	float: left;
	padding: 15px 0;
	width: 100%;
	font-family: @standardFont;
	color: @bodyCopyColor;
}
.footer_three .f_left {
	float: left;
}
.footer_three .f_right {
	float: right;
}
.footer_three .f_right img {
	border: none;
	cursor: default;
}
#footerColumn2 {
	width: 26%;
	position: relative;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	float: none;
}
#footerColumn2 .shipping_cont p {
	font-size: @paragraphSize;
}
#footerColumn2 .shipping_cont h3 {
	margin: 4px 0 0 0;
}
#footerColumn2 .shipping_cont {
	padding: 2px 20px 18px 0;
}
#footerColumn2 .fast_shipping {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 25px -29px;
	position: relative;
}
#car_icon#footerColumn2_icons_hover {
	background-position: -201px -68px
}
#right_icon#footerColumn2_icons_hover {
	background-position: -271px -69px;
}
#footerColumn2 .fast_shipping .icon_bg_curves {
	top: 50%;
	margin: -37px 0 0 0;
}
#car_icon {
	top: 50%;
	margin: -22px 0 0 0;
	background-position: -201px -9px;
}
#right_icon {
	top: 50%;
	margin: -22px 0 0 0;
	background-position: -271px -10px;
}
#footerColumn2 .shipping_cont a {
	font-size: @paragraphSize;
	font-weight: 600;
	padding: 4px 15px;
}
#footerColumn3 {
	float: right;
	width: 31%;
	padding: 0 25px 15px 0;
	margin: -185px 0 0 0;
}
#footerColumn3 h3 {
	line-height: 30px;
	padding: 0 60px 1px 0;
	font-size: @header3Size;
	margin: 0 0 10px 0;
}
#footerColumn3 p {
	float: left;
	width: 100%;
	padding: 0 0 0 0;
	font-size: @footerColumnSize;
	margin: 0 0 3px 0;
}
#footerColumn3 ul {
	width: 48%;
	float: left;
}
#footerColumn3 ul li {
	display: block;
	margin: 0;
	padding: 0 0 6px 0;
}
#footerColumn3 ul li a {
	font-size: @paragraphSize;
}
#footerColumn3 form {
	float: left;
	margin: 10px 0 0 0;
}
#footerColumn3 form p {
	margin: 0 0 5px 0;
	font-size: @paragraphSize;
	color: @bodyCopyColor;
	font-family: @standardFont;
}
#footerColumn3 form input {
	float: left;
	.borderRadius(0);
	margin: 0 5px 0 0;
	padding: 10px 0 10px 12px;
	border: 1px solid #cccccc;
}
#footerColumn3 form button {
	float: left;
	font-size: @smallLinkSize;
	font-weight: bold;
	margin: 0 0 0 3px;
	padding: 10px 27px;
	border: 1px solid #b5cde4;
	position: relative;
	text-align: center;
	color: #4577a3;
	.borderRadius(2px);
	background-image: none;
	background-color: @bodyColor;
}
.globalFooter #footerLegal .copyright {
	width: 130px;
	font-size: @smallLinkSize;
}
#footerLegal .footer_a_div a {
	color: #999;
}
#lpchatbutton4 a, #lpvoicebutton4 a, .globalFooter #lpchatbutton4 a, .globalFooter #lpvoicebutton4 a {
	background-image: url('../img/lp_btn_sprite.png');
}
#lpchatbutton4 a,#lpvoicebutton4 a,.globalFooter #lpchatbutton4 a,.globalFooter #lpvoicebutton4 a {
    background-repeat: no-repeat;
    border: 0;
    display: block;
}

#lpchatbutton4 a,#lpvoicebutton4 a {
    width: 395px;
    height: 30px;
}

#lpchatbutton4 a {
    background-position: 0 -208px;
}

#lpvoicebutton4 a {
    background-position: 0 -248px;
}

.globalFooter #lpchatbutton4 a,.globalFooter #lpvoicebutton4 a {
    width: 210px;
    height: 40px;
}

.globalFooter #lpchatbutton4 a {
    background-position: 0 -53px;
}

.globalFooter #lpchatbutton4 a:hover {
    background-position: 0 0;
}

.globalFooter #lpvoicebutton4 a {
    background-position: 0 -105px;
}

.globalFooter #lpvoicebutton4 a:hover {
    background-position: 0 -158px;
}

/* Component: Footer */
.globalFooter {
	border-top: 2px solid @bodyColor;
	float: left;
	margin: 20px;
	position: relative;
	width: 97%;
}
#footerDivider {
	background: #c0c1c5;
	height: 1px;
	left: 0;
	position: absolute;
	top: -2px;
	width: 100%;
}
#footerContent {
	background: @tableHoverColor;
	float: left;
	width: 100%;
}
#footerColumn1 {
	float: left;
	padding: 20px 20px 57px 25px;
	width: 310px;

	.footerIcon {
		a {
			clear: both;
			float: left;
			height: 45px;
			margin: 0 0 14px 2px;
			width: 100%;
		}
	}
	p {
		clear: both;
		float: left;
		margin: 0 0 14px 0;
		min-height: 45px;
		width: 100%;

		a {
			color: #067bb5;
			cursor: pointer;
			font-family: @bodyFont;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;

			span {
				font-weight: normal;
				text-decoration: none;
			}
			.icon-stack {
				float: left;
				font-size: 24px;
				margin: 0 8px 0 0;
			}
			.icon-circle {
				color: @bodyColor;
			}
			.icon-light {
				color: @headerColor;
			}
			.footerIconHelp {
				color: @headerColor;
				font-family: @standardFont;
				font-size: 12px;
			}

			&:hover {
				text-decoration: hover;

				span {
					font-weight: normal;
					text-decoration: none;
				}
				.icon-circle {
					color: #304295;
				}
				.icon-light {
					color: @bodyColor;
				}
			}
		}
	}
}

#footerColumn2 {

}
#footerColumn3 {

}

#footerLegal {
	background-color: @bodyColor;
	background-position: bottom left;
	background-repeat: repeat-x;
	float: left;
	height: 45px;
	width: 100%;
}

/* Footer Icons */
#lpchatbutton4 {
	a {
		img {
			display: none;
		}
	}
}
#lpvoicebutton4 {
	a {
		img {
			display: none;
		}
	}
}

/* Breakpoints */
/* Exception large desktop */
@media (max-width: 1299px) {
	#footerColumn1 {
		padding: 20px 0 16px 25px;
		width: 32%;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Exception: Landscape tablet and small desktop */
@media (max-width: 1024px) {
	.globalFooter {
		margin: 20px 37px;
		width: 92.5%;
	}
}
/* Exception: Desktop and portrait tablet */
@media (max-width: 1000px) {
	#footerColumn1 {
		padding: 20px 0 57px 20px;
		width: 30%;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.globalFooter {
		margin: 20px 3px;
		width: 99.5%;
	}
	#footerColumn1 {
		padding: 20px 10px 57px 14px;
		width: 34%;

		p {
			a {
				font-size: @footerColumnSize;
			}
		}
	}
}

/* Exception: landscape phones */
@media (max-width: 650px) {
	#footerColumn1 {
		padding: 20px 0 60px 20px;
		width: 90%;

		p {
			a {
				.icon-stack {
					margin: -10px 10px 0 0;
				}
			}
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	#footerColumn1 {
		float: none;
		margin: 0 auto;
		padding: 0 0 60px 0;
		width: 96%;

		.footerIcon, p {
			display: block;
			margin: 0 15px 0 15px;
			width: auto;
		}
		p {
			clear: none;
			font-size: @paragraphSize;
			text-align: center;
			width: 46px;

			a {
				text-align: center;

				.icon-stack {
					clear: both;
				}
				.footerIconHelp {
					display: none;
				}
			}
		}
	}
}