@import "base.reset.less";
@import "base.variables.less";
@import "base.mixins.less";

/* Component: Main Carousel */
.main_carousel {
	position: relative;
	left: 0px;
}
.main_carousel_arrow_button {
	width: 48px;
	height: 111px;
	margin-top: 59px;
	cursor: pointer;
}
.main_carousel_left_arrow {
	width: 81px;
	height: 230px;
	position: absolute;
	left: -30px;
	top: 65px;
}
.main_carousel_left_arrow_over {
	background-position: -189px 0;
}
.main_carousel_left_arrow .main_carousel_arrow_button {
	margin-left: 32px;
}
.main_carousel_right_arrow {
	width: 81px;
	height: 230px;
	position: absolute;
	right: -27px;
	background-position: -112px 0;
	top: 65px;
}
.main_carousel_right_arrow_over {
	background-position: -301px 0;
}
.main_carousel .main_carousel_container {
	width: 900px;
	height: 389px;
	position: relative;
	overflow: hidden;
	margin: 0 50px;
}
.main_carousel_container ul {
	overflow: hidden;
	width: 20000px;
}
.main_carousel_container li {
	float: left;
	position: relative;
}
.main_carousel .attnText {
	color: #F00f00;
}
.main_carousel li .mc_main_slide_image {
	width: 300px;
	height: 206px;
	display: block;
}
.main_carousel .carousel_slide1 .mc_main_slide_image {
	background-position: 0 -242px;
}
.main_carousel .carousel_slide2 .mc_main_slide_image {
	background-position: 0 -458px;
}
.main_carousel .carousel_slide3 .mc_main_slide_image {
	background-position: 0 -674px;
}
.main_carousel .carousel_slide4 .mc_main_slide_image {
	background-position: 0 -890px;
}
.main_carousel .carousel_slide5 .mc_main_slide_image {
	background-position: 0 -1106px;
}
.main_carousel .carousel_slide6 .mc_main_slide_image {
	background-position: 0 -1969px;
}
.main_carousel .carousel_slide7 .mc_main_slide_image {
	background-position: 0 -1538px;
}
.main_carousel .carousel_slide8 .mc_main_slide_image {
	background-position: 0 -1754px;
}
.main_carousel li .mc_slide_icon {
	width: 88px;
	height: 88px;
	display: block;
	position: absolute;
	top: 160px;
	left: 106px;
}
.main_carousel .carousel_slide1 .mc_slide_icon {
	background-position: -308px -250px;
}
.main_carousel .carousel_slide1 .mc_slide_icon_over {
	background-position: -308px -350px;
}
.main_carousel .carousel_slide2 .mc_slide_icon {
	background-position: -308px -470px;
}
.main_carousel .carousel_slide2 .mc_slide_icon_over {
	background-position: -308px -570px;
}
.main_carousel .carousel_slide3 .mc_slide_icon {
	background-position: -308px -680px;
}
.main_carousel .carousel_slide3 .mc_slide_icon_over {
	background-position: -308px -780px;
}
.main_carousel .carousel_slide4 .mc_slide_icon {
	background-position: -308px -900px;
}
.main_carousel .carousel_slide4 .mc_slide_icon_over {
	background-position: -308px -1000px;
}
.main_carousel .carousel_slide5 .mc_slide_icon {
	background-position: -308px -1110px;
}
.main_carousel .carousel_slide5 .mc_slide_icon_over {
	background-position: -308px -1210px;
}
.main_carousel .carousel_slide6 .mc_slide_icon {
	background-position: -308px -1981px;
}
.main_carousel .carousel_slide6 .mc_slide_icon_over {
	background-position: -308px -2081px;
}
.main_carousel .carousel_slide7 .mc_slide_icon {
	background-position: -308px -1550px;
}
.main_carousel .carousel_slide7 .mc_slide_icon_over {
	background-position: -308px -1650px;
}
.main_carousel .carousel_slide8 .mc_slide_icon {
	background-position: -308px -1760px;
}
.main_carousel .carousel_slide8 .mc_slide_icon_over {
	background-position: -308px -1860px;
}
.main_carousel li .mc_slide_bottom {
	background-color: #ebebeb;
	width: 290px;
	height: 170px;
	margin: 0 5px;
	padding-top: 5px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content_bar {
	background-color: #dedede;
	width: 280px;
	height: 10px;
	margin: 0 5px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content {
	margin: 35px 20px 0;
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_title {
	margin: 0 0 5px;
	color: #304295;
	font-size: 20px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_text {
	height: 55px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_button {
	display: block;
	position: relative;
	float: left;
	background-color: #fff;
	border: 1px solid #b5cde4;
	padding: 4px 15px 4px 15px;
	font-weight: bold;
	border-radius: 2px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content a:hover {
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_button_arrow {
	width: 8px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 10px;
	background-position: -387px -222px;
}
.main_carousel .mc_slide_number_bar {
	text-align: center;
	line-height: 30px;
	width: 890px;
	margin: 0 auto;
	background-color: #ebebeb;
	position: relative;
	left: 0px;
}
.main_carousel .mc_slide_number_bar a {
	margin: 0 1px;
	padding: 4px 8px;
}
.main_carousel .mc_slide_number_bar a:hover {
	text-decoration: none;
}
.main_carousel .mc_slide_number_bar a.mcsn_active {
	color: #fff;
	background-position: -405px -219px;
}