@import "base.variables.less";
@import "base.mixins.less";

/* Component: Brand Carousel */
#brandsContainerSection {
	float: left;
	clear: both;
	width: 913px;
	padding: 70px 0 0 50px;
	height: 110px;
}
#brandsContainerSection h2 {
	color: #333;
	font-size: 20px;
	padding: 0;
	margin: 0 0 14px 0;
	text-align: center;
}
#brandsContainerSection h2 a {
	font-size: 20px;
}
#brandsContainerSection h2 a:hover {
}
#everyProdPop, #everyBrandPop {
	display: none;
	padding: 14px 0 23px 12px;
	background-repeat: no-repeat;
	background-position: top left;
	color: #304295;
	font-size: @smallLinkSize;
}
#everyProdPop {
	position: relative;
	top: -189px;
	left: 473px;
	float: left;
	width: 200px;
	color: #067bb5;
}
#everyBrandPop {
	position: relative;
	top: -189px;
	left: 365px;
	float: left;
	width: 200px;
	color: #067bb5;
}
#brandCarousel {
	float: left;
	clear: both;
	width: 950px;
}
#brandCarounsel ul, #brandCarousel ul li {
	float: left;
}
#brandCarousel > a {
	width: 20px;
	height: 45px;
	display: block;
	text-indent: -9999px;
	float: left;
}
#brandBackArrow {
	background-position: -12px -22px;
	position: relative;
}
#brandBackArrow:hover {
	background-position: -12px -93px;
}
#brandForArrow {
	float: right;
	background-position: 48px -22px;
}
#brandForArrow:hover {
	background-position: 48px -93px;
}
#brandsView {
	width: 860px;
	float: left;
	position: relative;
	overflow: hidden;
}
#brandsContainer {
	width: 860px;
	float: left;
	position: relative;
	height: 80px;
}
#brandsContainerList {
	left: -843px;
	position: relative;
	float: left;
	width: 2580px;
	height: 80px;
}
#brandsContainer li {
	float: left;
	padding: 0 15px 0 0;
}
#brandsContainer li a {
	float: left;
	width: 20px;
	height: 20px;
	display: block;
	text-indent: -9999px;
}
.brandsContainerList1 {
	float: left;
	width: 813px;
	padding: 0 0 0 35px;
}
.brandsContainerList1 #kenmore a {
	width: 44px;
	height: 45px;
	background-position: -48px -22px;
}
.brandsContainerList1 #whirlpool a {
	width: 89px;
	height: 45px;
	background-position: -115px -22px;
}
.brandsContainerList1 #maytag a {
	width: 63px;
	height: 45px;
	background-position: -225px -22px;
}
.brandsContainerList1 #ge a {
	width: 44px;
	height: 45px;
	background-position: -308px -22px;
}
.brandsContainerList1 #frigidaire a {
	width: 98px;
	height: 45px;
	background-position: -369px -22px;
}
.brandsContainerList1 #poulan a {
	width: 71px;
	height: 45px;
	background-position: -483px -22px;
}
.brandsContainerList1 #kitchenaid a {
	width: 102px;
	height: 45px;
	background-position: -570px -22px;
}
.brandsContainerList1 #briggs a {
	width: 80px;
	height: 45px;
	background-position: -683px -22px;
}
.brandsContainerList1 #husqvarna a {
	width: 87px;
	height: 45px;
	background-position: -777px -22px;
}
.brandsContainerList2 {
	float: left;
	width: 829px;
	padding: 0 0 0 19px;
}
.brandsContainerList2 #kenmoreelite a {
	width: 44px;
	height: 45px;
	background-position: -969px -22px;
}
.brandsContainerList2 #lg a {
	width: 91px;
	height: 45px;
	background-position: -1025px -22px;
}
.brandsContainerList2 #jenn-air a {
	width: 97px;
	height: 45px;
	background-position: 859px -22px;
}
.brandsContainerList2 #samsung a {
	width: 111px;
	height: 45px;
	background-position: 745px -22px;
}
.brandsContainerList2 #electrolux a {
	width: 123px;
	height: 45px;
	background-position: 617px -22px;
}
.brandsContainerList2 #weedeater a {
	width: 96px;
	height: 45px;
	background-position: 477px -22px;
}
.brandsContainerList2 #agrifab a {
	width: 77px;
	height: 45px;
	background-position: 365px -22px;
}
.brandsContainerList2 #viewAllBrands a {
	width: 47px;
	height: 45px;
	text-indent: 0;
	text-align: center;
	padding-top: 10px;
}
/*===================================
					Hover Styles for Brands
			 	=====================================*/
.brandsContainerList1 #kenmore a:hover {
	width: 44px;
	height: 45px;
	background-position: -48px -92px;
}
.brandsContainerList1 #whirlpool a:hover {
	width: 89px;
	height: 45px;
	background-position: -115px -92px;
}
.brandsContainerList1 #maytag a:hover {
	width: 63px;
	height: 45px;
	background-position: -225px -92px;
}
.brandsContainerList1 #ge a:hover {
	width: 44px;
	height: 45px;
	background-position: -308px -92px;
}
.brandsContainerList1 #frigidaire a:hover {
	width: 98px;
	height: 45px;
	background-position: -369px -92px;
}
.brandsContainerList1 #poulan a:hover {
	width: 71px;
	height: 45px;
	background-position: -483px -92px;
}
.brandsContainerList1 #kitchenaid a:hover {
	width: 102px;
	height: 45px;
	background-position: -570px -92px;
}
.brandsContainerList1 #briggs a:hover {
	width: 80px;
	height: 45px;
	background-position: -683px -92px;
}
.brandsContainerList1 #husqvarna a:hover {
	width: 87px;
	height: 45px;
	background-position: -777px -92px;
}
.brandsContainerList2 #kenmoreelite a:hover {
	width: 44px;
	height: 45px;
	background-position: -969px -92px;
}
.brandsContainerList2 #lg a:hover {
	width: 91px;
	height: 45px;
	background-position: -1025px -92px;
}
.brandsContainerList2 #jenn-air a:hover {
	width: 97px;
	height: 45px;
	background-position: 859px -92px;
}
.brandsContainerList2 #samsung a:hover {
	width: 111px;
	height: 45px;
	background-position: 745px -92px;
}
.brandsContainerList2 #electrolux a:hover {
	width: 123px;
	height: 45px;
	background-position: 617px -92px;
}
.brandsContainerList2 #weedeater a:hover {
	width: 96px;
	height: 45px;
	background-position: 477px -92px;
}
.brandsContainerList2 #agrifab a:hover {
	width: 77px;
	height: 45px;
	background-position: 365px -92px;
}
.show_dropdown_product_height {
	float: left;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}