@import "base.variables.less";
@import "base.mixins.less";

/* Component: My Models */
#MyModelsDiv {
	position: absolute;
	top: 34px;
	left: -60px;
	width: 382px;
	display: none;
}
#MyModelsDiv .topArrowDiv {
	left: 224px;
}
#MyModelsDiv .resentView {
	width: 384px;
}
#MyModelsDiv .resentViewTopRow {
	float: left;
	width: 358px;
	margin: 0 12px;
	height: 8px;
	background-repeat: repeat-x;
	background-position: left top;
}
#MyModelsDiv .resentViewContentDiv {
	float: left;
	width: 382px;
	background-position: left top;
	background-repeat: repeat-y;
}
#MyModelsDiv .resentViewContentDiv .ViewContent {
	background-position: 370px top;
	background-repeat: repeat-y;
	float: left;
	padding: 0 8px;
	width: 382px;
}
#MyModelsDiv #modelFlyOut {
	display: block;
	position: relative;
	right: 0;
	top: 0;
	width: 366px;
}
#MyModelsDiv #modelFlyOut .middle {
	margin: 0;
	padding: 7px 5px;
}
#MyModelsDiv #modelFlyOut .empty-list {
	margin: 0;
	width: auto;
	line-height: normal;
	padding: 10px;
}
#MyModelsDiv #modelFlyOut .empty-list p {
	text-align: left;
	font-size: @paragraphSize;
	font-family: @standardFont;
	padding: 0 41px 0 0;
}
#MyModelsDiv .new_Promo_profile {
	float: left;
	margin: 0 0 0 -9px;
	padding: 20px 0 10px 20px;
	width: 352px;
}
#MyModelsDiv .new_Promo_profile .no_problem_image {
	background-position: left center;
	background-repeat: no-repeat;
	height: 20px;
	width: 309px;
}
#MyModelsDiv .new_Promo_profile .text {
	font-family: @standardFont;
	font-size: @smallLinkSize;
	font-weight: bold;
	line-height: 17px;
	margin: 0;
	padding: 0 32px 0 0;
	color: #000;
}
#MyModelsDiv .resentViewBottopRow {
	float: left;
	width: 358px;
	margin: 0 12px;
	height: 11px;
	background-position: left top;
	background-repeat: repeat-x;
}