@import "base.variables.less";
@import "base.mixins.less";

/* Component: Global Header */
.home_header {
	margin: 0 20px;
	background-color: @bodyColor;
}
.home_header .inner_header {
	position: relative;
	padding: 60px 0 0 0;
	z-index: 9;
	background: @bodyColor;
}
.body_shadow_left {
	width: 6px;
	height: 188px;
	position: absolute;
	left: -6px;
	top: 0;
}
.body_shadow_right {
	width: 6px;
	height: 188px;
	position: absolute;
	right: -6px;
	top: 0;
}
.home_logo {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 146px;
	height: 60px;
	background: url('../img/sears_logo_new.png') no-repeat 0 0;
	z-index: 999;
}
.home_logo a:link,  .home_logo a:visited {
	float: left;
	width: 148px;
	height: 69px;
}
.home_logo a:active,  .home_logo a:hover {
	outline: none;
}
.home_logo a span {
	display: none;
}
.header_right_panel {
	position: absolute;
	right: -5px;
	top: 20px;
	z-index: 998;
}
.header_right_panel .loginNav {
	float: right;
	margin: 0 0 15px 0;
}
.loginNav ul {
	margin: 0 5px 0 0;
	padding: 0;
	list-style-type: none;
}
.loginNav ul li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
	color: #304295;
	font-size: @loginNavigationSize;
	list-style-type: none;
}
.loginNav ul li a {
	float: left;
	margin: 0;
	padding: 0;
	font-size: @loginNavigationSize;
}


.header_right_panel .cartNav {
	float: right;
	height: 40px;
}
.cartNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 40px;
	position: relative;
}
.cartNav ul .li_shadow_curve {
	background-position: 2px -12px;
	background-repeat: no-repeat;
	bottom: 0;
	height: 7px;
	position: absolute;
	right: 0;
	width: 7px;
	background-image: url(../img/home_sprite.png);
}
.cartNav ul li {
	float: left;
	background: @tableHoverColor;
	line-height: 34px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.cartNav ul li a {
	float: left;
	line-height: 34px;
	margin: 0;
	padding: 0 8px 0 7px;
	font-size: @loginNavigationSize;
	text-decoration: none;
	border-right: 1px solid #c3c3c3;
}
.cartNav ul li a span {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 7px;
	width: 10px;
	background-image: url(../img/home_sprite.png);
}
.cartNav ul li a span.cart {
	background-position: 0 -21px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	top: 5px;
	background-image: url(../img/home_sprite.png);
}
.cartNav ul li a #scCartItemCountHeader {
	background: none;
	display: inline;
}
.cartNav ul li:hover a {
	background: #304e88;
	color: @bodyColor;
	border-right: 1px solid #304295;
}
.cartNav ul li.itemsInCart a {
	background: #304e88;
	color: @bodyColor;
	border-right: 1px solid #304295;
}
.cartNav ul li.itemsInCart a span {
	background-position: -16px 0;
	background-repeat: no-repeat;
	display: inline-block;
}
.cartNav ul li.itemsInCart a span.cart {
	background-position: -19px -21px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(../img/home_sprite.png);
}
.cartNav ul li:hover a span {
	background-position: -16px 0;
	background-repeat: no-repeat;
	display: inline-block;
}
.cartNav ul li:hover a span.cart {
	background-position: -19px -21px;
	background-repeat: no-repeat;
	display: inline-block;
}
.cartNav ul li.currentClass a {
	background: #304295;
	color: @bodyColor;
	border-right: 1px solid #304295;
}
.cartNav ul li.currentClass a span {
	background-position: -16px 0;
	background-repeat: no-repeat;
	display: inline-block;
}
.cartNav ul li.currentClass a span.cart {
	background-position: -19px -21px;
	background-repeat: no-repeat;
	display: inline-block;
}
div#currentCart .itemInCart .partNumber {
	color: #067bb5;
	padding: 0;
	margin: 0 0 -8px 0;
}
div#currentCart .itemInCart .partNumber:hover {
	color: #304e88;
	text-decoration: underline;
}
div#currentCart p.ghostCart_addedItem {
	color: @bodyCopyColor;
}
#showCart h3 {
	font-size: @paragraphSize;
	color: @bodyCopyColor;
	text-align: center;
}
#ItemsCarts div#currentCart #editLink a.arrow_blue_link {
	color: #067bb5;
	font-size: 13px;
}
/*Recently View Drop down */
#RecentlyViewedDiv img, #MyModelsDiv img, #ItemsCartsDiv img {
	background: transparent;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);*/
	zoom: 1;
}
#RecentlyViewedDiv, #ItemsCartsDiv {
	position: absolute;
	top: 34px;
	left: 0;
	width: 240px;
	display: none;
}
#MyModelsDiv {
	position: absolute;
	top: 34px;
	left: -60px;
	width: 382px;
	display: none;
	background: none;
}
.resentView {
	width: 240px;
}
.topArrowDiv {
	background-position: -34px -5px;
	background-repeat: no-repeat;
	height: 13px;
	left: 50px;
	position: absolute;
	top: -3px;
	width: 37px;
	z-index: 8888;
}
#MyModelsDiv .topArrowDiv {
	left: 224px;
}
.left_2 {
	left: 120px;
}
.left_3 {
	left: 180px;
}
.resentViewTopRow {
	float: left;
	width: 216px;
	margin: 0 12px;
	height: 8px;
	background-repeat: repeat-x;
	background-position: left top;
}
.resentViewTopRow .topLeftCurve {
	position: absolute;
	left: 0;
	top: 0;
	width: 12px;
	height: 8px;
	background-position: left top;
	background-repeat: no-repeat;
}
.resentViewTopRow .topRightCurve {
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 8px;
	background-position: -17px top;
	background-repeat: no-repeat;
}
.resentViewBottopRow {
	float: left;
	width: 216px;
	margin: 0 12px;
	height: 11px;
	background-position: left top;
	background-repeat: repeat-x;
}
.resentViewBottopRow .bottomLeftCurve {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 12px;
	height: 11px;
	background-position: left bottom;
	background-repeat: no-repeat;
}
.resentViewBottopRow .bottomRightCurve {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 12px;
	height: 11px;
	background-position: -17px bottom;
	background-repeat: no-repeat;
}
.resentViewContentDiv {
	float: left;
	width: 240px;
	background-position: left top;
	background-repeat: repeat-y;
}
.resentViewContentDiv .ViewContent {
	background-position: 228px top;
	background-repeat: repeat-y;
	float: left;
	padding: 0 8px;
	width: 224px;
}
.view_row {
	float: left;
	width: 204px;
	line-height: 150%;
	background: @bodyColor;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px;
	margin: 0;
}

.view_row a {
	float: none;
	padding: 0 0 0 0;
	color: #067bb5;
	line-height: normal;
	border: none;
	background: none;
	text-decoration: none;
	word-wrap: break-word;
	font-size: @smallLinkSize;
}
.view_row a:hover {
	color: #304e88;
	text-decoration: underline;
}
.view_row .row_col1 {
	float: left;
	font-size: @smallLinkSize;
}
.view_row .row_col1 span {
	float: left;
	padding: 0 5px 0 0;
	margin: -3px 0 0 0;
}
.view_row .row_col2 {
	float: left;
	padding: 0 10px 0 0;
	font-size: @smallLinkSize;
}
.view_row .row_col2 img {
	width: 60px;
	height: 60px;
}
.view_row .row_col3 {
	float: left;
	width: 130px;
}

.left_pos {
	left: 205px;
}
.loginNav ul li a {
	float: left;
	margin: 0;
	padding: 0;
	font-size: @smallLinkSize;
}
.home_logo {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 14%;
	height: 28%;
	background: url('../img/sears_logo_new.png') no-repeat 0 0;
	background: none, url('../img/sears_logo_new.svg') no-repeat 0 0;
	z-index: 999;
	background-size: 100%;
}

.manuals_help_list {
	list-style: none;
}
.manuals_help_list li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.manuals_help_list li a {
	text-decoration: none;
	color: @bodyColor;
}

.body_shadow_left {
	background: transparent url('../img/content_shadow1.png') no-repeat top left;
}
.body_shadow_right {
	background: transparent url('../img/content_shadow2.png') no-repeat top left;
}
.headerPromo {
	color: #304e88;
	width: 100%;
	text-align: center;
	font-size: @paragraphSize;
	padding: 10px 0 10px 0;
	clear: both;
}
.headerPromo p {
	width: 701px;
	padding: 15px 0;
	margin: -19px auto 0;
	background: none url('../img/waterfilterdrop.png') no-repeat left 8px;
	background: none, url('../img/waterfilterdrop.svg') no-repeat left 8px;
	background-size: 4%;
}
.headerPromo p .btn {
	font-size: @loginNavigationSize;
	color: #4577a3;
	background: none;
	border: 1px solid #b5cde4;
	padding: 1px 12px;
}
.new_DdArrow input {
	background: none;
	cursor: default;
}