@import "base.reset.less";
@import "base.variables.less";
@import "base.mixins.less";

/* Core: Box Links */
ul.box-links {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 284px;
}
ul.box-links li {
}
ul.box-links li a {
	background: transparent url('../img/arrows.png') no-repeat 95% 50%;
	background: none, url('../img/arrows.svg') no-repeat 95% 50%;
	display: block;
	padding: 16px 0 16px 14px;
	border: 1px solid @tableHoverColor;
}