@import "base.variables.less";
@import "base.mixins.less";

.side-bar-links {
	h4 {
		a {
			font-size: @h4Size;
			cursor: default;

			&:hover {
				cursor: default;
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				border-top: 1px solid @bodyColor;

				a {
					display: block;
					float: left;
					padding: 15px;
					width: 100%;
					clear: both;
				}
			}
		}
	}
}