@import "base.variables.less";
@import "base.mixins.less";

body {
	background-image: url(../img/bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
article, .lt-ie9 .articleFix {
	margin: 0 20px;
	background-color: @bodyColor;
}
#viewport {
	max-width: 1280px;
	margin: 0 auto;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	z-index: 3;
	position: relative;
}
.row-fluid {
	[class*="new-span"], [class^=" new-span"] {
		.boxSizing(border-box);
		display: block;
		float: left;
		margin-left: 2.564102564102564%;
		*margin-left: 2.5109110747408616%;
		min-height: 30px;
		.spanWidth(12);

		&.offset2 {
			margin-left: 23.076923076923077%;
			*margin-left: 23.023731587561375%;
		}

		&:first-child {
			margin-left: 0;
		}

		img {
			width: 100%;
		}
	}
	.new-span12 {
		.spanWidth(12);
	}
	.new-span11 {
		.spanWidth(11);
	}
	.new-span10, .new-span-five-sixths {
		.spanWidth(10);
	}
	.new-span9, .new-span-three-quarters {
		.spanWidth(9);
	}
	.new-span8, .new-span-two-thirds {
		.spanWidth(8);
	}
	.new-span7 {
		.spanWidth(7);
	}
	.new-span6, .new-span-half {
		.spanWidth(6);
	}
	.new-span5 {
		.spanWidth(5);
	}
	.new-span4, .new-span-third {
		.spanWidth(4);
	}
	.new-span3, .new-span-responsive, .new-span-quarter {
		.spanWidth(3);
	}
	.new-span2, .new-span-sixth {
		.spanWidth(2);
	}
	.new-span1 {
		.spanWidth(1);
	}
	[class*="span"], [class^=" span"], [class*="new-span"], [class^=" new-span"] {
		&.desktop-offset1 {
			margin-left: 8.547008547008547%;
		}
	}
}

@import "core.grid.tablet.less";
@import "core.grid.mobile.less";