@import "base.variables.less";
@import "base.mixins.less";

.clear {
	clear: both;
}
.border_bottom_none {
	border-bottom: 0 solid @secondaryHueLighter;
}
img.center {
	display: block;
	margin: 0 auto;
	width: auto;
}
.show-help {
	display: none;
}
.offset-small {
	padding-left: 25px;
}
.wrench-symbol {
	display: inline-block;
	background: @primaryHueDarker;
	border: solid 4px #fff;
	.borderRadius(9999px);
	text-align: center;

	i {
		color: #fff;
	}
}
.hidden, .inactive {
	display: none !important;
}

@import "core.helperclasses.mobile.less";