@import "base.variables.less";
@import "base.mixins.less";

#viewport {
	max-width: 1280px;
	margin: 0 auto;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	z-index: 3;
	position: relative;
}
.row-fluid {
	[class*="new-span-"] {
		.boxSizing(border-box);
		display: block;
		float: left;
		margin-left: 2.564102564102564%;
		*margin-left: 2.5109110747408616%;
		min-height: 30px;
		width: 100%;
		*width: 99.94680851063829%;

		&.offset2 {
			margin-left: 23.076923076923077%;
			*margin-left: 23.023731587561375%;
		}

		&:first-child {
			margin-left: 0;
		}

		img {
			width: 100%;
		}
	}

	.new-span-responsive, .new-span-quarter {
		width: 23.076923076923077%;
		*width: 23.023731587561375%;
	}

	.new-span-three-quarters {
		width: 74.35897435897436%;
		*width: 74.30578286961266%;
	}

	.new-span-third {
		width: 31.623931623931625%;
		*width: 31.570740134569924%;
	}

	.new-span-two-thirds {
		width: 65.81196581196582%;
		*width: 65.75877432260411%;
	}

    .new-span-sixth {
        width: 14.293617021276595%;
        *width: 14.240425531914894%;
    }

    .new-span-five-sixths {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
    }
}

@import "core.grid.tablet.less";
@import "core.grid.mobile.less";