@import "base.variables.less";
@import "base.mixins.less";

// # Shared Styles
[class^="svg-icon-"], [class*=" svg-icon-"] {
	background-position: center center;
	background-repeat: no-repeat;
	.backgroundSize(contain);
	display: inline-block;
	min-height: 20px;
	min-width: 20px;
	text-indent: -9999px;

	&.legacy {
		background-image: none;
		position: relative;
		text-indent: inherit;

		&:before {
			content: '';
		}

		img {
			display: inline-block;
			height: auto;
			text-align: center;
			vertical-align: top;
			width: 100%;
		}
	}
}
// # All initial icons are square
// # Brands - some have no vector assets yet
.svg-icon-amana {
	background-image: url(../img/brands/gif/Amana-Logo.gif);
	background-image: none, url(../img/brands/svg/Amana-Logo.svg);

	&:before {
		content: 'Amana';
	}
}
.svg-icon-ariens {
	background-image: url(../img/brands/jpg/Ariens-Logo.jpg);

	&:before {
		content: 'Ariens';
	}
}
.svg-icon-black-decker {
	background-image: url(../img/brands/jpg/Black-Decker-Logo.jpg);

	&:before {
		content: 'Black-Decker';
	}
}
.svg-icon-bosch {
	background-image: url(../img/brands/gif/Bosch-Logo.gif);
	background-image: none, url(../img/brands/svg/Bosch-Logo.svg);

	&:before {
		content: 'Bosch';
	}
}
.svg-icon-char-broil {
	background-image: url(../img/brands/gif/Char-Broil-Logo.gif);

	&:before {
		content: 'Char-Broil';
	}
}
.svg-icon-briggs-stratton {
	background-image: url(../img/brands/png/BriggsandStratton-Logo.png);

	&:before {
		content: 'Briggs and Stratton';
	}
}
.svg-icon-craftsman {
	background-image: url(../img/brands/gif/Craftsman-Logo.gif);
	background-image: none, url(../img/brands/svg/Craftsman-Logo.svg);

	&:before {
		content: 'Craftsman';
	}
}
.svg-icon-crosley {
	background-image: url(../img/brands/gif/Crosley-Logo.gif);

	&:before {
		content: 'Crosley';
	}
}
.svg-icon-dewalt {
	background-image: url(../img/brands/gif/Dewalt-Logo.gif);
	background-image: none, url(../img/brands/svg/Dewalt-Logo.svg);

	&:before {
		content: 'Dewalt';
	}
}
.svg-icon-electrolux {
	background-image: url(../img/brands/gif/Electrolux-Logo.gif);
	background-image: none, url(../img/brands/svg/Electrolux-Logo.svg);

	&:before {
		content: 'Electrolux';
	}
}
.svg-icon-frigidaire {
	background-image: url(../img/brands/gif/Frigidaire-Logo.gif);
	background-image: none, url(../img/brands/svg/Frigidaire-Logo.svg);

	&:before {
		content: 'Frigidaire';
	}
}
.svg-icon-ge {
	background-image: url(../img/brands/gif/GE-Logo.gif);
	background-image: none, url(../img/brands/svg/GE-Logo.svg);

	&:before {
		content: 'GE';
	}
}
.svg-icon-homelite {
	background-image: url(../img/brands/jpg/Homelite-Logo.jpg);

	&:before {
		content: 'Homelite';
	}
}
.svg-icon-hoover {
	background-image: url(../img/brands/gif/Hoover-Logo.gif);

	&:before {
		content: 'Hoover';
	}
}
.svg-icon-husqvarna {
	background-image: url(../img/brands/gif/Husqvarna-Logo.gif);
	background-image: none, url(../img/brands/svg/Husqvarna-Logo.svg);

	&:before {
		content: 'Husqvarna';
	}
}
.svg-icon-inglis {
	background-image: url(../img/brands/gif/Inglis-Logo.gif);

	&:before {
		content: 'Inglis';
	}
}
.svg-icon-jenn-air {
	background-image: url(../img/brands/gif/Jenn-Air-Logo.gif);
	background-image: none, url(../img/brands/svg/Jenn-Air-Logo.svg);

	&:before {
		content: 'Jenn Air';
	}
}
.svg-icon-kitchenaid {
	background-image: url(../img/brands/gif/KitchenAid-Logo.gif);

	&:before {
		content: 'KitchenAid';
	}
}
.svg-icon-kenmore {
	background-image: url(../img/brands/png/Kenmore-Logo.png);

	&:before {
		content: 'Kenmore';
	}
}
.svg-icon-kenmore-elite {
	background-image: url(../img/brands/png/Kenmore-Elite-Logo.png);

	&:before {
		content: 'Kenmore Elite';
	}
}
.svg-icon-kenmore-pro {
	background-image: url(../img/brands/png/Kenmore-Pro-Logo.png);

	&:before {
		content: 'Kenmore Pro';
	}
}
.svg-icon-lawnboy {
	background-image: url(../img/brands/jpg/Lawnboy-Logo.jpg);

	&:before {
		content: 'Lawnboy';
	}
}
.svg-icon-lg {
	background-image: url(../img/brands/gif/LG-Logo.gif);
	background-image: none, url(../img/brands/svg/LG-Logo.svg);

	&:before {
		content: 'LG';
	}
}
.svg-icon-maytag {
	background-image: url(../img/brands/png/Maytag-Logo.png);

	&:before {
		content: 'Maytag';
	}
}
.svg-icon-mc-culloch {
	background-image: url(../img/brands/jpg/Mc-Culloch-Logo.jpg);

	&:before {
		content: 'Mc-Culloch';
	}
}
.svg-icon-poulan {
	background-image: url(../img/brands/gif/Poulan-Logo.gif);

	&:before {
		content: 'Poulan';
	}
}
.svg-icon-proform {
	background-image: url(../img/brands/gif/ProForm-Logo.gif);

	&:before {
		content: 'ProForm';
	}
}
.svg-icon-roper {
	background-image: url(../img/brands/gif/Roper-Logo.gif);

	&:before {
		content: 'Roper';
	}
}
.svg-icon-samsung {
	background-image: url(../img/brands/gif/Samsung-Logo.gif);
	background-image: none, url(../img/brands/svg/Samsung-Logo.svg);

	&:before {
		content: 'Samsung';
	}
}
.svg-icon-sears {
	background-image: url(../img/brands/gif/Sears-Logo.gif);

	&:before {
		content: 'Sears';
	}
}
.svg-icon-snapper {
	background-image: url(../img/brands/jpg/Snapper-Logo.jpg);

	&:before {
		content: 'Snapper';
	}
}
.svg-icon-sony {
	background-image: url(../img/brands/gif/Sony-Logo.gif);

	&:before {
		content: 'Sony';
	}
}
.svg-icon-weedeater {
	background-image: url(../img/brands/gif/WeedEater-Logo.gif);

	&:before {
		content: 'WeedEater';
	}
}
.svg-icon-whirlpool {
	background-image: url(../img/brands/gif/Whirlpool-Logo.gif);
	background-image: none, url(../img/brands/svg/Whirlpool-Logo.svg);

	&:before {
		content: 'Whirlpool';
	}
}
.svg-icon-white-westinghouse {
	background-image: url(../img/brands/gif/White-westinghouse-Logo.gif);

	&:before {
		content: 'White Westinghouse';
	}
}
// # Product Categories
.svg-icon-aircompressor {
	background-image: url(../img/svg/Icon-AirCompressor.gif);
	background-image: none, url(../img/svg/Icon-AirCompressor.svg);

	&:before {
		content: 'Air Compressor';
	}
}
.svg-icon-chainsaw {
	background-image: url(../img/svg/Icon-Chainsaw.gif);
	background-image: none, url(../img/svg/Icon-Chainsaw.svg);

	&:before {
		content: 'Chainsaw';
	}
}
.svg-icon-dishwasher {
	background-image: url(../img/svg/Icon-Dishwasher.gif);
	background-image: none, url(../img/svg/Icon-Dishwasher.svg);

	&:before {
		content: 'Dishwasher';
	}
}
.svg-icon-dryer-gaselectric {
	background-image: url(../img/svg/Icon-Dryer-GasElectric.gif);
	background-image: none, url(../img/svg/Icon-Dryer-GasElectric.svg);

	&:before {
		content: 'Dryer';
	}
}
.svg-icon-er {
	background-image: url(../img/svg/Icon-ER.gif);
	background-image: none, url(../img/svg/Icon-ER.svg);

	&:before {
		content: 'Error';
	}
}
.svg-icon-garagedooropener {
	background-image: url(../img/svg/Icon-GarageDoorOpener.gif);
	background-image: none, url(../img/svg/Icon-GarageDoorOpener.svg);

	&:before {
		content: 'Garage Door Opener';
	}
}
.svg-icon-grasscatcher {
	background-image: url(../img/svg/Icon-GrassCatcher.gif);
	background-image: none, url(../img/svg/Icon-GrassCatcher.svg);

	&:before {
		content: 'Grass Catcher';
	}
}
.svg-icon-grasslinetrimmer {
	background-image: url(../img/svg/Icon-GrasslineTrimmer.gif);
	background-image: none, url(../img/svg/Icon-GrasslineTrimmer.svg);

	&:before {
		content: 'Grass Line Trimmer';
	}
}
.svg-icon-grill {
	background-image: url(../img/svg/Icon-GasGrill.gif);
	background-image: none, url(../img/svg/Icon-GasGrill.svg);

	&:before {
		content: 'Grill';
	}
}
.svg-icon-lawnmower-riding {
	background-image: url(../img/svg/Icon-LawnMower-Riding.gif);
	background-image: none, url(../img/svg/Icon-LawnMower-Riding.svg);

	&:before {
		content: 'Riding LawnMower';
	}
}
.svg-icon-lawnmower-walkbehind {
	background-image: url(../img/svg/Icon-LawnMower-WalkBehind.gif);
	background-image: none, url(../img/svg/Icon-LawnMower-WalkBehind.svg);

	&:before {
		content: 'Walk-Behind LawnMower';
	}
}
.svg-icon-microwave {
	background-image: url(../img/svg/Icon-Microwave.gif);
	background-image: none, url(../img/svg/Icon-Microwave.svg);

	&:before {
		content: 'Microwave';
	}
}
.svg-icon-oven-gaselectric {
	background-image: url(../img/svg/Icon-Oven-GasElectric.gif);
	background-image: none, url(../img/svg/Icon-Oven-GasElectric.svg);

	&:before {
		content: 'Gas/Electric Oven';
	}
}
.svg-icon-cooktop {
	background-image: url(../img/svg/Icon-Cooktop.gif);
	background-image: none, url(../img/svg/Icon-Cooktop.svg);

	&:before {
		content: 'Cooktop';
	}
}
.svg-icon-range-gaselectric {
	background-image: url(../img/svg/Icon-Range.gif);
	background-image: none, url(../img/svg/Icon-Range.svg);

	&:before {
		content: 'Range - Gas and Electric';
	}
}
.svg-icon-range-vent-hoods {
	background-image: url(../img/svg/Icon-RangeVentHoods.gif);
	background-image: none, url(../img/Icon-RangeVentHoods.svg);

	&:before {
		content: 'Range vent hood';
	}
}
.svg-icon-refrigerator {
	background-image: url(../img/svg/Icon-Refrigerator.gif);
	background-image: none, url(../img/svg/Icon-Refrigerator.svg);

	&:before {
		content: 'Refrigerator';
	}
}
.svg-icon-saw {
	background-image: url(../img/svg/Icon-Saw.gif);
	background-image: none, url(../img/svg/Icon-Saw.svg);

	&:before {
		content: 'Saw';
	}
}
.svg-icon-snowblower {
	background-image: url(../img/svg/Icon-SnowBlower.gif);
	background-image: none, url(../img/svg/Icon-SnowBlower.svg);

	&:before {
		content: 'Snowblower';
	}
}
.svg-icon-treadmill {
	background-image: url(../img/svg/Icon-Treadmill.gif);
	background-image: none, url(../img/svg/Icon-Treadmill.svg);

	&:before {
		content: 'Treadmill';
	}
}
.svg-icon-vacuum {
	background-image: url(../img/svg/Icon-Vacuum.gif);
	background-image: none, url(../img/svg/Icon-Vacuum.svg);

	&:before {
		content: 'Vacuum';
	}
}
.svg-icon-washer-frontload {
	background-image: url(../img/svg/Icon-Washer-FrontLoad.gif);
	background-image: none, url(../img/svg/Icon-Washer-FrontLoad.svg);

	&:before {
		content: 'Front-Loading Washer';
	}
}
.svg-icon-washer-topload {
	background-image: url(../img/svg/Icon-Washer-TopLoad.gif);
	background-image: none, url(../img/svg/Icon-Washer-TopLoad.svg);

	&:before {
		content: 'Top-Loading Washer';
	}
}
.svg-icon-dehumidifier {
	background-image: url(../img/svg/Icon-Dehumidifier.gif);
	background-image: none, url(../img/svg/Icon-Dehumidifier.svg);

	&:before {
		content: 'Dehumidifier';
	}
}
.svg-icon-tiller {
	background-image: url(../img/svg/Icon-Tiller.gif);
	background-image: none, url(../img/svg/Icon-Tiller.svg);

	&:before {
		content: 'Tiller';
	}
}
.svg-icon-window-ac {
	background-image: url(../img/svg/Icon-Window-AC.gif);
	background-image: none, url(../img/svg/Icon-Window-AC.svg);

	&:before {
		content: 'Window AC';
	}
}
// # Sharing services
.svg-icon-pdf {
	background-image: url(../img/svg/Icon-PDF.gif);
	background-image: none, url(../img/svg/Icon-PDF.svg);

	&:before {
		content: 'PDF';
	}
}
// # Miscellaneous
.svg-icon-qa-white {
	background-image: url(../img/svg/Icon-QA-White.gif);
	background-image: none, url(../img/svg/Icon-QA-White.svg);

	&:before {
		content: 'Q and A';
	}
}
.svg-icon-qa-black {
	background-image: url(../img/svg/Icon-QA-Black.gif);
	background-image: none, url(../img/svg/Icon-QA-Black.svg);

	&:before {
		content: 'Q and A';
	}
}

.svg-icon-screw {
background-image: url(../img/svg/screw.gif);
background-image: none, url(../img/svg/screw.svg);

&:before {
	content: 'Screw';
}
}

.svg-icon-truck {
background-image: url(../img/svg/truck.gif);
background-image: none, url(../img/svg/truck.svg);

&:before {
	content: 'Truck';
}
}