@import "base.reset.less";
@import "base.variables.less";
@import "base.mixins.less";

/* Core: Helper Classes */
.clear {
	clear: both;
}
.border_bottom_none {
	border-bottom: 0px solid #e0e0e0;
}
.trigger {
	display: none;
}
img.center {
	display: block;
	margin: 0 auto;
	width: auto;
}
.man_img {
	display: none;
}