@import "base.variables.less";
@import "base.mixins.less";

/* Core: Text Classes */
a.small-links {
	font-size: @smallLinkSize;
}
.gray_color {
	color: @bodyCopyColor;
}
.semi-bold {
	font-weight: 600;
}