@import "base.variables.less";
@import "base.mixins.less";

.btn {

}

.btn-search {
	background-color: @searchButtonColor;
	background-image: none;
	border: 0 solid @searchButtonColor;
	.borderRadius(2px);
	color: @bodyColor;
	display: inline-block;
	font-size: @pSize;
	line-height: 35px;
	padding: 0 22px;
	text-decoration: none;
	text-shadow: 1px 1px 0 @bodyCopyColor;

	&:hover {
		background-color: @searchButtonColor;
		background-image: none;
		border: 0 solid @searchButtonColor;
		color: @bodyColor;
		text-decoration: none;
	}
}

.btn-modal-cancel {
	background-color: @bodyColor;
	background-image: none;
	border: 0 solid #b5cde4;
	.borderRadius(2px);
	color: #4577a3;
	display: inline-block;
	font-size: @pSize;
	line-height: 35px;
	padding: 0 22px;
	text-decoration: none;
	text-shadow: 1px 1px 0 @bodyCopyColor;

	&:hover {
		background-color: @bodyColor;
		background-image: none;
		border: 0 solid #b5cde4;
		color: #4577a3;
		text-decoration: none;
	}
}

.primary-btn {
	display: inline-block;
	padding: 13px 18px;
	border: solid 1px @color-border-secondary-a;
	border-radius: 4px;
	text-decoration: none;
}