@import "base.variables.less";
@import "base.mixins.less";

label {
	color: @secondaryHueDarkest;
	font-family: @bodyFont;
	font-size: @h5Size;
	font-weight: 600;

	span {
		color: @secondaryHueDark;
		font-size: @smallPSize;
		font-weight: normal;
		margin-left: 5px;
	}

	&.checkbox {
		color: @secondaryHueDark;
		font-weight: normal;
	}
}

input[type="text"], input[type="password"], select, textarea {
	-webkit-appearance: none;
	background: @bodyColor;
	border: 1px solid @secondaryHueLight;
	.borderRadius(0);
	color: @secondaryHueDark;
	display: inline-block;
	font-size: @pSize;
	padding: 6px;

	&:focus {
		outline: none;
	}
}

.input-append {
	overflow: hidden;
	position: relative;
	width: 100%;

	input[type="text"] {
		display: block;
		outline-style: none;
		padding: 12px;
		width: inherit;
	}
	.add-on {
		background-color: @bodyColor;
		border-left: 0;
		color: @secondaryHueDark;
		padding: 9px 12px 15px;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
		width: auto;
		z-index: 10;

		button {
			background-color: transparent;
			border: 0;
			color: @secondaryHueDark;
			font-size: @h3Size;
			line-height: @pSize;
			padding: 0;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

@import "core.forms.tablet.less";