@import "base.reset.less";
@import "base.variables.less";
@import "base.mixins.less";

/* Core: Grid and Other Layout */
.header_right_panel_inner_page {
	right: 0;
}
.body_shadow_right_inner_page {
	right: 0;
	display: none;
}
.inner_header_inner_page {
	padding: 21px 0 0 0;
}
.new_homePage_footer_inner_page {
	width: 100%;
	margin: 20px 0 0 0px;
}
.Our_finder_inner_page {
	bottom: 23px;
}
.home_header_inner_page {
	margin: 0px;
}
.cart_navigation_inner_page {
	background: none repeat scroll 0 0 #EBEBEB;
	height: 34px;
	padding: 0 30px 0 0;
}
.new_homePage_footer_inner_page .column_two {
	width: 246px;
	position: relative;
	margin: 0 auto;
	padding: 20px 0px 15px 0px;
	float: none;
}
.new_homePage_footer_inner_page .column_three {
	margin: -183px 0 0 0;
}
.new_homePage_footer_inner_page .footer_two .copyright {
	width: 170px;
	font-size: 12px;
}
#viewport {
	max-width: 1280px;
	margin: 0 auto;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	z-index: 3;
	position: relative;
}