@import "base.variables.less";
@import "base.mixins.less";

/* Core: Standard Tags */
/* 1. Document */
article {
	margin: 0 20px;
	background: @bodyColor;
	padding: 0 20px;
}

/* 2. Text and Images */
h1, h2, h3, h4 {
	margin: 10px 0;
	font-weight: normal;
	text-rendering: optimizelegibility;
	color: @bodyCopyColor;
}
h1 {
	font-size: @header1Size;
}
h2 {
	font-size: @header2Size;
}
h3 {
	font-size: @header3Size;
}
h4 {
	font-size: @header4Size;
}
p {
	font-size: @paragraphSize;
}
pre {
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
	outline: 0;
	border: 0 none;
	padding: 0;
}