@import "base.variables.less";
@import "base.mixins.less";

@media (max-width: 650px) {
	article {
		margin: -19px 0 0 0;
		padding: 15px 10px;
	}
	// # Quarter on desktop, third on tablet, half on mobile
	.row-fluid {
		.new-span-responsive {
			width: 48.717948717948715%;
			*width: 48.664757228587014%;
		}
	}
}