@import "base.variables.less";
@import "base.mixins.less";

.new-btn, .new-btn-small {
	background-color: @bodyColor;
	.borderRadius(4px);
	border: 1px solid @primaryHueNormal;
	color: @primaryHueNormal;
	display: inline-block;
	font: normal @pSize @bodyFont;
	padding: 8px 19px;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&.new-btn-search {
		background-color: @highlightHueLight;
		border: 1px solid @highlightHueLight;
		color: @bodyColor;
		text-shadow: 1px 1px 1px @secondaryHueDarkest;
	}
	&.new-btn-square {
		.borderRadius(0);
	}
}
.new-btn-small {
	font-size: @smallestPSize;
	padding: 1px 12px;
}
.new-btn-dropdown {
	background-color: @secondaryHueDark;
	.borderRadius(2px);
	color: @bodyColor;
	font-size: @pSize;
	line-height: @pSize;
	margin: 0;
	padding: 10px 20px;

	[class*="icon"] {
		float: right;
	}
}