@import "base.reset.less";
@import "base.variables.less";
@import "base.mixins.less";

/* Core: Standard Tags */
/* 1. Document */
body {
	background: url('../img/bg.jpg') repeat-x top left;
	color: #000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
article {
	margin: -19px 20px 0;
	background: #fff;
	padding: 0 20px;
}

/* 2. Text and Images */
h1, h2, h3, h4 {
	margin: 10px 0;
	font-weight: normal;
	text-rendering: optimizelegibility;
	color: #666666;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
p {
	font-size: 14px;
}
a {
	font-size: 14px;
	color: #067bb5;
}
a.small-links {
	font-size: 12px;
}
a:hover {
	color: #304e88;
}
pre {
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
	outline: 0;
	border: 0 none;
	padding: 0;
}