

.zoomContainer {
	position: relative;
	width: 200px;
	height: 200px;
	float: left;
	}

.pdImgContainer img{
	position: absolute;
	z-index: 1000;
	/*display: none;*/
	border-radius: 3px;
	}

.zoomMsg {
	position: absolute;
	top: 10px;
    padding: 5px 3px;
	background: #fff;
	opacity: 0;
	z-index: 1100;
	}