@import "base.variables.less";
@import "base.mixins.less";

@media (max-width: 650px) {
	body {
		overflow-x: hidden;
		width: 100%;

		&.loginNav-open {
			background-color: @secondaryHueLighter;
			background-image: none;

			#viewport {
				left: 276px;
				position: absolute;
			}
		}
		&.cartNav-open {
			background-color: @bodyColor;
			background-image: none;

			#viewport {
				right: 276px;
				position: absolute;
			}
		}
	}
	#viewport {
		background: @secondaryHueLighter url('../img/menu_shadow.png') repeat-y 577px 0;
		.boxShadow(0 0 3px 3px @secondaryHueLight);
	}
	.mani_search_panel {
		padding: 0;
	}
	.body_shadow_left {
		display: none;
	}
	.body_shadow_right {
		display: none;
	}
	#ItemsCarts .shoppCart_leftImg {
		text-indent: -9999px;
		background: url('../img/cart_icon.png') no-repeat 11px 13px;
		height: 34px;
		width: 30px;
	}
	.offset-small {
		padding-left: 0;
	}
}

@media (max-width: 480px) {
	.tab-content {
		overflow: hidden;
	}
}