@import "base.variables.less";
@import "base.mixins.less";

/* Responsive: Mobile Breakpoints */
/* 800px Max Width */
@media (max-width: 800px) {
}
/* 767px Max Width */
@media (max-width: 767px) {
	body {
		padding: 0 20px;
	}
	.brandBar {
		display: none;
	}
	.home_header {
		margin: 0;
		background-color: @bodyColor;
	}
	.headerPromo {
		padding: 0;
		height: 57px;
		background: url('../img/waterfiltershadow.png') no-repeat bottom center;
	}
	.headerPromo p {
		width: 92%;
		height: 46px;
		margin: 0 auto 0;
		border-bottom: none;
		text-align: left;
		padding: 14px 0 0 35px;
		font-size: @paragraphSize;
		color: #304e88;
		background-position: left 13px;
	}
	.headerPromo p .btn {
		font-size: @loginNavigationSize;
		background: none;
		text-shadow: none;
		font-weight: bold;
	}
	article {
		margin: -19px 0 0;
		background: @bodyColor;
		padding: 0 20px;
	}


}
/* 650px Max Width */
@media (max-width: 650px) {
	body {
		padding: 0;
	}
	.brandBar {
		display: none;
	}
	#viewport {
		background: @tableHoverColor url('../img/menu_shadow.png') repeat-y 577px 0;
	}
	.loginNav {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		display: none;
	}
	.loginNav ul {
		float: left;
		width: 100%;
	}
	.loginNav ul li {
		float: left;
		clear: left;
		width: 100%;
	}
	.loginNav ul li a {
		border-bottom: 1px solid #c3c3c3;
		display: block;
		float: left;
		width: 100%;
		padding: 20px 0 20px 10px;
		color: #067bb5;
		font-size: @footerColumnSize;
	}
	body.menu-open .loginNav {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.container-fluid {
		-webkit-transition-property: -webkit-transform;
		-webkit-transform: translate3d(0, 0, 0);
	}
	body.menu-opening .container-fluid, body.menu-closing .container-fluid {
		-webkit-transition-duration: 200ms;
		-webkit-transition-timing-function: ease-in;
	}
	body.menu-moving .container-fluid {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-user-select: none;
	}
	.home_header {
		margin: 0;
	}
	.loginNav {
		display: none;
	}
	.trigger {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		width: 44px;
		height: 44px;
		background: #b7b7b7 url('../img/menu-trigger.png') no-repeat center center;
	}
	.mani_search_panel {
		padding: 0 0 0 0;
	}
	.li_shadow_curve {
		display: none;
	}
	.body_shadow_left {
		display: none;
	}
	.body_shadow_right {
		display: none;
	}
	.home_logo {
		position: absolute;
		left: 8px;
		top: 52px;
		width: 217px;
		height: 60px;
		background: url('../img/sears_logo_new.png') no-repeat 0 0;
		background: none url('../img/sears_logo_mob.png') no-repeat 0 0;
		background: none, url('../img/sears_logo_mob.svg') no-repeat 0 0;
		z-index: 999;
	}
	.header_right_panel {
		position: absolute;
		left: -0px;
		top: 0;
		width: 100%;
		height: 44px;
		z-index: 998;
		background: @tableHoverColor;
	}
	#ItemsCarts .shoppCart_leftImg {
		text-indent: -9999px;
		background: url('../img/cart_icon.png') no-repeat 11px 13px;
		height: 34px;
		width: 30px;
	}
	.cartNav ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		height: 44px;
		position: relative;
	}
	.cartNav ul li a {
		padding: 5px 7px 5px 7px;
		font-size: @smallLinkSize;
		border-left: 1px solid #c3c3c3;
		border-right: none;
	}
	.headerPromo {
		padding: 0;
		height: 57px;
		border-bottom: 1px solid #cccccc;
		background: none;
	}
	.headerPromo p {
		width: 83%;
		background: url('../img/waterfiltercup.png') no-repeat top left;
		padding: 5px 0 5px 80px;
		font-size: @smallLinkSize;
	}
	.headerPromo p .btn {
		background: none;
		text-shadow: none;
		font-weight: bold;
		padding: 0;
		border: 0;
		font-size: @smallLinkSize;
	}
	article {
		padding: 15px 10px;
		margin: -19px 0 0 0;
	}
	#footerColumn3 ul {
		width: 100%;
		float: left;
		margin: 0;
	}
}
/* 480px Max Width */
@media (max-width: 480px) {
	.brandBar {
		display: none;
	}
	.tab-content {
		overflow: hidden;
	}
	.home_logo {
		position: absolute;
		left: 8px;
		top: 52px;
		width: 217px;
		height: 27px;
	}
	.loginNav {
		display: none;
	}
	.loginNav {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		display: none;
	}
	.loginNav ul {
		float: left;
		width: 100%;
	}
	.loginNav ul li {
		float: left;
		clear: left;
		width: 100%;
	}
	.loginNav ul li a {
		border-bottom: 1px solid #c3c3c3;
		display: block;
		float: left;
		width: 100%;
		padding: 20px 0 20px 10px;
		color: #067bb5;
		font-size: @footerColumnSize;
	}

	#footerColumn3 form {
		margin: 10px 0 20px;
	}
	#footerColumn3 .first_helpful_link_set {
		margin: 7px 0 0 0;
	}
}
/* 320px Max Width */
@media (max-width: 320px) {
	.brandBar {
		display: none;
	}
}