@import "base.variables.less";
@import "base.mixins.less";

/* Responsive: Large Breakpoints */
/* 1300px Min Width */
@media (min-width: 1300px) {
	.cart_navigation ul li a {
		font-size: 13px;
	}
}
/* 1299px Max Width */
@media (max-width: 1299px) {
	.brandBar {
		background: url('../img/brandBarBkg.png') repeat-x 0 0;
	}
	.footer_one .column_one {
		float: left;
		width: 32%;
		padding: 20px 0 16px 25px;
	}
	.new_homePage_footer_inner_page .column_two {
		width: 27%;
	}
	.footer_one .column_three h3 {
		padding: 0 28px 1px 0;
	}
	.footer_one .column_three {
		padding: 0 17px 15px 0;
		margin: -185px 0 0 0;
	}
	.footer_one .column_three form input {
		width: 55%;
	}
}