@import "base.variables.less";
@import "base.mixins.less";

/* Responsive: Tablet Breakpoints */
/* 1024px Max Width */
@media (max-width: 1024px) {
	/* From Style Guide */
	.brandBar {
		display: none;
	}
	.header_right_panel {
		top: 20px;
	}
	.home_logo {
		top: 20px;
	}
	.loginNav ul li a {
		float: left;
		margin: 0;
		padding: 0;
		font-size: @loginNavigationSize;
		font-weight: 600;
	}
	.home_logo {
		background-size: 94%;
	}
	.cartNav ul li a {
		font-weight: 600;
	}
	.headerPromo p {
		padding: 15px 0 15px 22px;
		margin: -19px auto 0;
		background: none url('../img/waterfilterdrop.png') no-repeat 20px 10px;
		background: none, url('../img/waterfilterdrop.svg') no-repeat 20px 10px;
		background-size: 4%;
	}
	#footerColumn2 .shipping_cont p {
		font-size: @smallLinkSize;
		line-height: 150%;
		margin: 0;
	}
	#footerColumn2 .shipping_cont a {
		font-size: @loginNavigationSize;
		font-weight: bold;
		padding: 0 6px;
	}
	#footerColumn3 {
		width: 30%;
		padding: 0 16px 15px 0;
		margin: -173px 0 0 0;
	}
	#footerColumn3 h3 {
		line-height: 22px;
		padding: 0 48px 1px 0;
		font-size: @header4Size;
	}
	#footerColumn3 h3 span {
		font-weight: 600;
	}
	#footerColumn2 .shipping_cont h3 a {
		padding: 0;
	}
	#footerColumn3 p {
		float: left;
		width: 100%;
		padding: 0 0 0 0;
		font-size: @paragraphSize;
		margin: 0 0 3px 0;
	}
	#footerColumn3 ul li {
		display: block;
		margin: 0;
		padding: 0 0 2px 0;
	}
	#footerColumn3 ul li a {
		font-size: @smallLinkSize;
	}
	#footerColumn3 form input {
		padding: 6px 0 6px 12px;
		width: 54%;
	}
	#footerColumn3 form button {
		padding: 6px 22px;
	}

	/* Components */
	.row-fluid {
		.span2 {
			&.ad-span {
				margin-left: 0;
				width: 100%;
			}
		}
	}
}
/* 1000px Max Width */
@media (max-width: 1000px) {
	.brandBar {
		display: none;
	}
	#footerColumn2 {
		width: 29%;
		position: relative;
		margin: 0 auto;
		padding: 20px 10px 10px 0;
		float: none;
	}
	#footerColumn2 .fast_shipping {
		margin: 0 0 25px -2px;
	}
	#footerColumn2 .icon_bg_curves, #right_icon, #car_icon {
		display: none;
	}
	#footerColumn2 .shipping_cont {
		padding: 10px 10px 21px 0;
		margin: 0;
	}
	#footerColumn2 .shipping_cont h3 {
		font-size: @header3Size;
		font-weight: normal;
		padding-left: 20px;
		color: #304295;
		width: 100%;
	}
	#footerColumn2 .shipping_cont p {
		color: @bodyCopyColor;
		font-size: @smallLinkSize;
		padding-left: 20px;
		clear: both;
	}
	#footerColumn2 .shipping_cont a {
		margin: 5px 0 0 20px;
		font-size: @paragraphSize;
		padding: 14px 28px;
		font-weight: normal;
	}
	#footerColumn3 {
		margin: -208px 0 0 0;
		float: right;
		width: 33%;
		padding: 0;
	}
	#footerColumn3 form {
		padding: 5px 20px 0 0;
		float: left;
	}
	#footerColumn3 form input {
		width: 59%;
		float: left;
		margin: 0 8px 0 0;
		padding: 9px 0 9px 5px;
		.borderRadius(0);
		font-size: 13px;
	}
	#footerColumn3 form button {
		float: left;
		width: 69px;
		font-size: @smallLinkSize;
		margin: 0;
		padding: 9px 3px 9px 5px;
		border: 1px solid #b5cde4;
		text-align: center;
		color: #4577a3;
		.borderRadius(2px);
	}
	#footerColumn3 ul li {
		padding: 0 0 3px 0;
	}
	#footerColumn3 p {
		margin: 0;
	}
	#footerLegal .footer_a_div a {
		float: left;
		font-size: @loginNavigationSize;
		color: @bodyCopyColor;
		margin: 12px 6px 0 6px;
		text-decoration: none;
	}
}