@import "base.variables.less";
@import "base.mixins.less";

@media (max-width: 1024px) {
	#headerNavigation {
		top: 20px;
	}
	.cartNav ul li a {
		font-weight: 600;
	}
	.headerPromo p {
		padding: 15px 0 15px 22px;
		margin: -19px auto 0;
		background: none url('../img/waterfilterdrop.png') no-repeat 20px 10px;
		background: none, url('../img/waterfilterdrop.svg') no-repeat 20px 10px;
		background-size: 4%;
	}
	#footerColumn3 h3 {
		line-height: 22px;
		padding: 0 48px 1px 0;
		font-size: @h4Size;
	}
	#footerColumn3 h3 span {
		font-weight: 600;
	}
	#footerColumn3 p {
		float: left;
		width: 100%;
		padding: 0 0 0 0;
		font-size: @pSize;
		margin: 0 0 3px 0;
	}
	#footerColumn3 ul li {
		display: block;
		margin: 0;
		padding: 0 0 2px 0;
	}
	#footerColumn3 ul li a {
		font-size: @smallPSize;
	}
	#footerColumn3 form input {
		padding: 6px 0 6px 12px;
		width: 54%;
	}
	#footerColumn3 form button {
		padding: 6px 22px;
	}
	.row-fluid {
		.span2 {
			&.ad-span {
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

@media (max-width: 1000px) {
	#footerColumn3 form {
		padding: 5px 20px 0 0;
		float: left;
	}
	#footerColumn3 form input {
		width: 59%;
		float: left;
		margin: 0 8px 0 0;
		padding: 9px 0 9px 5px;
		.borderRadius(0);
		font-size: 13px;
	}
	#footerColumn3 form button {
		float: left;
		width: 69px;
		font-size: @smallPSize;
		margin: 0;
		padding: 9px 3px 9px 5px;
		border: 1px solid #b5cde4;
		text-align: center;
		color: #4577a3;
		.borderRadius(2px);
	}
	#footerColumn3 ul li {
		padding: 0 0 3px 0;
	}
	#footerColumn3 p {
		margin: 0;
	}

}