@import "base.variables.less";
@import "base.mixins.less";

/* Responsive: Large Breakpoints */
/* 1300px Min Width */
@media (min-width: 1300px) {
	.cartNav ul li a {
		font-size: 13px;
	}
}
/* 1299px Max Width */
@media (max-width: 1299px) {
	.brandBar {
		background: url('../img/brandBarBkg.png') repeat-x 0 0;
	}

	#footerColumn2 {
		width: 27%;
	}
	#footerColumn3 h3 {
		padding: 0 28px 1px 0;
	}
	#footerColumn3 {
		padding: 0 17px 15px 0;
		margin: -185px 0 0 0;
	}
	#footerColumn3 form input {
		width: 55%;
	}
}