@import "base.variables.less";
@import "base.mixins.less";

@media (max-width: 767px) {
	body {
		padding: 0 20px;
	}
	article {
		margin: -19px 0 0;
		background: @bodyColor;
		padding: 0 20px;
	}
}

@media (max-width: 650px) {
	body {
		padding: 0;
	}
	#viewport {
		background: @tableHoverColor url('../img/menu_shadow.png') repeat-y 577px 0;
	}
	.container-fluid {
		-webkit-transition-property: -webkit-transform;
		-webkit-transform: translate3d(0, 0, 0);
	}
	body.menu-opening .container-fluid, body.menu-closing .container-fluid {
		-webkit-transition-duration: 200ms;
		-webkit-transition-timing-function: ease-in;
	}
	body.menu-moving .container-fluid {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-user-select: none;
	}
	.trigger {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		width: 44px;
		height: 44px;
		background: #b7b7b7 url('../img/menu-trigger.png') no-repeat center center;
	}
	.mani_search_panel {
		padding: 0 0 0 0;
	}
	.body_shadow_left {
		display: none;
	}
	.body_shadow_right {
		display: none;
	}
	#ItemsCarts .shoppCart_leftImg {
		text-indent: -9999px;
		background: url('../img/cart_icon.png') no-repeat 11px 13px;
		height: 34px;
		width: 30px;
	}
	article {
		padding: 15px 10px;
		margin: -19px 0 0 0;
	}
}

@media (max-width: 480px) {
	.tab-content {
		overflow: hidden;
	}
}