/* @TODO: DP: The section in the provided CSS file was marked Home Page Override
* Not sure if I should take this literally and put this in the home page client libs or not
* So implementing in this temp file for now */
#viewport {
	max-width: 1280px;
	margin: 0 auto;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	z-index: 3;
	position: relative;
}
.trigger {
	display: none;
}
.login_navigation ul li a {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.home_logo {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 14%;
	height: 28%;
	background: url('../img/sears_logo_new.png') no-repeat 0 0;
	background: none, url('../img/sears_logo_new.svg') no-repeat 0 0;
	z-index: 999;
	background-size: 100%;
}
.brandBar {
	height: 31px;
	z-index: 1000;
	margin: 0 auto;
	background: url('../img/brandBarBkg.png') repeat-x 0 0;
}
img.center {
	display: block;
	margin: 0 auto;
	width: auto;
}
.man_img {
	display: none;
}