@charset UTF-8;

body {
font-size:12px;
color:#000;
font-family:'Open Sans', Helvetica, Arial, sans-serif;
background:url(../img/bg.jpg) repeat-x top left;
margin:0;
padding:0;
}

.white_bg {
background-position:center top;
background-repeat:repeat-y;
}

.superHeaderBg {
min-width:1003px;
height:31px;
}

.main_wrap {
width:1003px;
margin:0 auto;
}

.home_header {
background-color:#fff;
margin:0 20px;
}

.home_header .inner_header {
position:relative;
z-index:9;
background:#fff;
padding:60px 0 0;
}

.body_shadow_left {
width:6px;
height:188px;
position:absolute;
left:-6px;
top:0;
background:transparent url(../img/content_shadow1.png) no-repeat top left;
}

.body_shadow_right {
width:6px;
height:188px;
position:absolute;
right:-6px;
top:0;
background:transparent url(../img/content_shadow2.png) no-repeat top left;
}

.home_logo {
position:absolute;
left:20px;
top:20px;
width:14%;
height:28%;
background:none, url(../img/sears_logo_new.svg) no-repeat 0 0;
z-index:999;
background-size:100%;
}

.home_logo a:link,.home_logo a:visited {
float:left;
width:148px;
height:69px;
}

.home_logo a:active,.home_logo a:hover {
outline:none;
}

.header_right_panel {
position:absolute;
right:-5px;
top:20px;
z-index:998;
}

.header_right_panel .login_navigation {
float:right;
margin:0 0 15px;
}

.login_navigation ul {
list-style-type:none;
margin:0 5px 0 0;
padding:0;
}

.login_navigation ul li {
float:left;
color:#304295;
font-size:11px;
list-style-type:none;
margin:0 15px 0 0;
padding:0;
}

.login_navigation ul li a {
float:left;
font-size:12px;
margin:0;
padding:0;
}

.header_right_panel .cart_navigation {
float:right;
height:40px;
}

.cart_navigation ul {
list-style-type:none;
height:40px;
position:relative;
margin:0;
padding:0;
}

.cart_navigation ul .li_shadow_curve {
background-position:2px -12px;
background-repeat:no-repeat;
bottom:0;
height:7px;
position:absolute;
right:0;
width:7px;
background-image:url(../img/home_sprite.png);
}

.cart_navigation ul li {
float:left;
background:#ebebeb;
line-height:34px;
list-style-type:none;
margin:0;
padding:0;
}

.cart_navigation ul li a {
float:left;
line-height:34px;
font-size:11px;
text-decoration:none;
border-right:1px solid #c3c3c3;
margin:0;
padding:0 8px 0 7px;
}

.cart_navigation ul li a span {
background-position:0 0;
background-repeat:no-repeat;
display:inline-block;
height:7px;
width:10px;
background-image:url(../img/home_sprite.png);
}

.cart_navigation ul li a span.cart {
background-position:0 -21px;
background-repeat:no-repeat;
display:inline-block;
height:20px;
width:20px;
position:relative;
top:5px;
background-image:url(../img/home_sprite.png);
}

.cart_navigation ul li a #scCartItemCountHeader {
background:none;
display:inline;
}

.cart_navigation ul li.itemsInCart a span.cart {
background-position:-19px -21px;
background-repeat:no-repeat;
display:inline-block;
background-image:url(../img/home_sprite.png);
}

.cart_navigation ul li.currentClass a {
background:#304295;
color:#fff;
border-right:1px solid #304295;
}

div#currentCart .itemInCart .partNumber {
color:#067bb5;
margin:0 0 -8px;
padding:0;
}

#showCart h3 {
font-size:14px;
color:#666;
text-align:center;
}

#ItemsCarts div#currentCart #editLink a.arrow_blue_link {
color:#067bb5;
font-size:13px;
}

#RecentlyViewedDiv img,#MyModelsDiv img,#ItemsCartsDiv img {
background:transparent;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
zoom:1;
}

#RecentlyViewedDiv,#ItemsCartsDiv {
position:absolute;
top:34px;
left:0;
width:240px;
display:none;
}

#MyModelsDiv {
background:none;
position:absolute;
top:34px;
left:-60px;
width:382px;
display:none;
}

.resentView {
width:240px;
}

.topArrowDiv {
background-position:-34px -5px;
background-repeat:no-repeat;
height:13px;
left:50px;
position:absolute;
top:-3px;
width:37px;
z-index:8888;
}

#MyModelsDiv .topArrowDiv {
left:224px;
}

.left_2 {
left:120px;
}

.left_3 {
left:180px;
}

.resentViewTopRow {
float:left;
width:216px;
height:8px;
background-repeat:repeat-x;
background-position:left top;
margin:0 12px;
}

.resentViewTopRow .topLeftCurve {
position:absolute;
left:0;
top:0;
width:12px;
height:8px;
background-position:left top;
background-repeat:no-repeat;
}

.resentViewTopRow .topRightCurve {
position:absolute;
right:0;
top:0;
width:12px;
height:8px;
background-position:-17px top;
background-repeat:no-repeat;
}

.resentViewBottopRow {
float:left;
width:216px;
height:11px;
background-position:left top;
background-repeat:repeat-x;
margin:0 12px;
}

.resentViewBottopRow .bottomLeftCurve {
position:absolute;
left:0;
bottom:0;
width:12px;
height:11px;
background-position:left bottom;
background-repeat:no-repeat;
}

.resentViewBottopRow .bottomRightCurve {
position:absolute;
right:0;
bottom:0;
width:12px;
height:11px;
background-position:-17px bottom;
background-repeat:no-repeat;
}

.resentViewContentDiv {
float:left;
width:240px;
background-position:left top;
background-repeat:repeat-y;
}

.resentViewContentDiv .ViewContent {
background-position:228px top;
background-repeat:repeat-y;
float:left;
width:224px;
padding:0 8px;
}

.view_row {
float:left;
width:204px;
line-height:150%;
background:#fff;
border-bottom:1px solid #e0e0e0;
margin:0;
padding:10px;
}

.border_bottom_none {
border-bottom:0 solid #e0e0e0;
}

.view_row a {
float:none;
color:#067bb5;
line-height:normal;
border:none;
background:none;
text-decoration:none;
word-wrap:break-word;
font-size:12px;
padding:0;
}

.view_row .row_col1 {
float:left;
font-size:12px;
}

.view_row .row_col1 span {
float:left;
margin:-3px 0 0;
padding:0 5px 0 0;
}

.view_row .row_col2 {
float:left;
font-size:12px;
padding:0 10px 0 0;
}

.view_row .row_col2 img {
width:60px;
height:60px;
}

.view_row .row_col3 {
float:left;
width:130px;
}

#searchBarForm {
width:950px;
position:relative;
margin:50px auto 0;
}

.newHomePage .mani_search_panel {
margin:0 auto;
}

.Our_finder {
bottom:-79px;
color:#fff;
left:157px;
position:absolute;
z-index:101;
font-size:12px;
font-weight:600;
margin:12px 0 0;
}

.left_pos {
left:205px;
}

.Our_finder a:hover {
color:#fff;
text-decoration:underline;
}

.Our_finder span.arrow {
background-position:0 -71px;
background-repeat:no-repeat;
color:#FFF;
display:inline-block;
height:4px;
position:absolute;
top:6px;
width:15px;
padding:0;
}

.Our_finder span.arrow2 {
background-position:0 -71px;
background-repeat:no-repeat;
color:red;
display:inline-block;
height:4px;
position:absolute;
top:6px;
width:15px;
padding:0;
}

.mani_search_panel .tagline1 {
width:500px;
position:relative;
display:none;
margin:61px auto -38px;
}

.mani_search_panel .tagline1 img {
margin:0 0 0 -90px;
}

.mani_search_panel .tagline2 {
width:100%;
text-align:center;
font-size:16px;
color:#666;
clear:both;
padding:0 0 10px;
}

.mani_search_panel .solar_search {
float:left;
width:575px;
height:103px;
background-position:0 0;
background-repeat:repeat-x;
position:relative;
display:inline-block;
}

.mani_search_panel .solar_left_shadow {
float:left;
width:189px;
height:103px;
background-position:0 0;
background-repeat:no-repeat;
}

.mani_search_panel .solar_right_shadow {
float:left;
width:189px;
height:103px;
background-position:0 -115px;
background-repeat:no-repeat;
}

.mani_search_panel .legacy_search {
float:left;
min-width:650px;
height:103px;
position:relative;
z-index:100;
background:url(../img/search_blue_spacer.png) repeat-x 0 0;
}

.mani_search_panel .legacy_left_shadow {
float:left;
height:103px;
display:inline-block;
background:url(../img/search_sprite3.png) no-repeat -40px 0;
width:15%;
}

.mani_search_panel .legacy_right_shadow {
float:left;
width:149px;
height:103px;
display:inline-block;
background:url(../img/search_sprite3.png) no-repeat 0 -115px;
}

.man_img {
position:absolute;
width:153px;
height:234px;
right:100px;
top:-144px;
background:url(../img/man2.png) no-repeat 0 0;
display:none;
}

.search_input_div {
position:absolute;
left:0;
top:0;
height:35px;
line-height:35px;
width:97.5%;
z-index:99;
margin:22px 0 0;
}

.search_input_div .input {
float:left;
width:81%;
}

.search_input_div .input .input_1 {
width:93%;
height:35px;
border:0;
background:#fff;
line-height:35px;
color:#666;
font-size:16px;
font-family:arial;
margin:0 240px 0 15px;
padding:0 10px;
}

.in {
float:left;
text-align:center;
font-size:26px;
color:#fff;
padding:0 10px;
}

.search_input_div .input2 {
float:left;
width:55%;
}

.search_input_div .input2 .input_2 {
height:35px;
border:0;
background:#fff;
line-height:35px;
color:#666;
font-size:16px;
font-family:arial;
width:90%;
border-radius:0;
margin:0 240px 0 15px;
padding:0 10px;
}

.search_input_div .input3 {
float:left;
width:35%;
position:relative;
}

.search_input_div .input3 .input_3 {
height:35px;
border:0;
background:#fff;
line-height:35px;
color:#666;
font-size:16px;
font-family:arial;
width:55%;
padding:0 10px;
}

.new_fFinputType {
background-color:transparent;
height:35px;
border:0;
line-height:35px;
color:#666;
font-size:14px;
font-family:arial;
width:85%;
font-weight:700;
padding:0 0 0 5px;
}

.new_DdArrow {
background-color:#FFF;
background-position:90% center;
background-repeat:no-repeat;
float:left;
width:66%;
border-radius:2px;
border:1px solid #ccc;
background-image:url(../img/drop_arrow.png);
}

.new_DdArrow input {
border:none;
height:13px;
border-radius:0;
background:none;
cursor:default;
padding:9px 0 0 11px;
}

.search_input_div .input_btn {
position:absolute;
right:0;
top:0;
}

.search_input_div .input_btn a {
float:left;
text-decoration:none;
color:#fff;
height:36px;
line-height:35px;
background:#f60;
border-radius:2px;
text-shadow:1px 1px 0 #666;
text-align:center;
font-size:14px;
padding:0 22px;
}

.search_input_div p {
color:#FFF;
float:left;
width:80%;
margin:-3px 0 0;
padding:0 0 0 15px;
}

.search_input_div p a {
text-decoration:underline;
color:#fff;
}

ul.ui-autocomplete li.autocompleteSectionCnt {
margin:1px 0 0;
}

.new_popMenu {
display:none;
left:0;
position:absolute;
top:35px;
width:148px;
background-color:#fff;
border:0 solid #ccc;
border-top:0;
}

.new_popMenu ul.selType {
list-style:none outside none;
background-color:#fff;
border-bottom:1px solid #ccc;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
padding:0;
}

.new_popMenu ul.selType li {
display:inline;
}

.new_popMenu ul.selType li a {
color:#898989;
display:block;
text-decoration:none;
font-size:14px;
font-weight:700;
padding:0 0 0 11px;
}

.new_popMenu ul.selType li a:hover {
background-color:#067bb5;
color:#FFF;
}

.main_carousel {
position:relative;
left:0;
}

.main_carousel_arrow_button {
width:48px;
height:111px;
margin-top:59px;
cursor:pointer;
}

.main_carousel_left_arrow {
width:81px;
height:230px;
position:absolute;
left:-30px;
top:65px;
}

.main_carousel_left_arrow_over {
background-position:-189px 0;
}

.main_carousel_left_arrow .main_carousel_arrow_button {
margin-left:32px;
}

.main_carousel_right_arrow {
width:81px;
height:230px;
position:absolute;
right:-27px;
background-position:-112px 0;
top:65px;
}

.main_carousel_right_arrow_over {
background-position:-301px 0;
}

.main_carousel .main_carousel_container {
width:900px;
height:389px;
position:relative;
overflow:hidden;
margin:0 50px;
}

.main_carousel_container ul {
overflow:hidden;
width:20000px;
}

.main_carousel_container li {
float:left;
position:relative;
}

.main_carousel .attnText {
color:#F00f00;
}

.main_carousel li .mc_main_slide_image {
width:300px;
height:206px;
display:block;
}

.main_carousel .carousel_slide1 .mc_main_slide_image {
background-position:0 -242px;
}

.main_carousel .carousel_slide2 .mc_main_slide_image {
background-position:0 -458px;
}

.main_carousel .carousel_slide3 .mc_main_slide_image {
background-position:0 -674px;
}

.main_carousel .carousel_slide4 .mc_main_slide_image {
background-position:0 -890px;
}

.main_carousel .carousel_slide5 .mc_main_slide_image {
background-position:0 -1106px;
}

.main_carousel .carousel_slide6 .mc_main_slide_image {
background-position:0 -1969px;
}

.main_carousel .carousel_slide7 .mc_main_slide_image {
background-position:0 -1538px;
}

.main_carousel .carousel_slide8 .mc_main_slide_image {
background-position:0 -1754px;
}

.main_carousel li .mc_slide_icon {
width:88px;
height:88px;
display:block;
position:absolute;
top:160px;
left:106px;
}

.main_carousel .carousel_slide1 .mc_slide_icon {
background-position:-308px -250px;
}

.main_carousel .carousel_slide1 .mc_slide_icon_over {
background-position:-308px -350px;
}

.main_carousel .carousel_slide2 .mc_slide_icon {
background-position:-308px -470px;
}

.main_carousel .carousel_slide2 .mc_slide_icon_over {
background-position:-308px -570px;
}

.main_carousel .carousel_slide3 .mc_slide_icon {
background-position:-308px -680px;
}

.main_carousel .carousel_slide3 .mc_slide_icon_over {
background-position:-308px -780px;
}

.main_carousel .carousel_slide4 .mc_slide_icon {
background-position:-308px -900px;
}

.main_carousel .carousel_slide4 .mc_slide_icon_over {
background-position:-308px -1000px;
}

.main_carousel .carousel_slide5 .mc_slide_icon {
background-position:-308px -1110px;
}

.main_carousel .carousel_slide5 .mc_slide_icon_over {
background-position:-308px -1210px;
}

.main_carousel .carousel_slide6 .mc_slide_icon {
background-position:-308px -1981px;
}

.main_carousel .carousel_slide6 .mc_slide_icon_over {
background-position:-308px -2081px;
}

.main_carousel .carousel_slide7 .mc_slide_icon {
background-position:-308px -1550px;
}

.main_carousel .carousel_slide7 .mc_slide_icon_over {
background-position:-308px -1650px;
}

.main_carousel .carousel_slide8 .mc_slide_icon {
background-position:-308px -1760px;
}

.main_carousel .carousel_slide8 .mc_slide_icon_over {
background-position:-308px -1860px;
}

.main_carousel li .mc_slide_bottom {
background-color:#ebebeb;
width:290px;
height:170px;
padding-top:5px;
margin:0 5px;
}

.main_carousel li .mc_slide_bottom .mc_slide_content_bar {
background-color:#dedede;
width:280px;
height:10px;
margin:0 5px;
}

.main_carousel li .mc_slide_bottom .mc_slide_content {
margin:35px 20px 0;
}

.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_title {
color:#304295;
font-size:20px;
margin:0 0 5px;
}

.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_text {
height:55px;
}

.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_button {
display:block;
position:relative;
float:left;
background-color:#fff;
border:1px solid #b5cde4;
font-weight:700;
border-radius:2px;
padding:4px 15px;
}

.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_button_arrow {
width:8px;
height:16px;
position:absolute;
top:4px;
right:10px;
background-position:-387px -222px;
}

.main_carousel .mc_slide_number_bar {
text-align:center;
line-height:30px;
width:890px;
background-color:#ebebeb;
position:relative;
left:0;
margin:0 auto;
}

.main_carousel .mc_slide_number_bar a {
margin:0 1px;
padding:4px 8px;
}

.main_carousel .mc_slide_number_bar a.mcsn_active {
color:#fff;
background-position:-405px -219px;
}

.FindPartCategories_and_Testimonials {
float:left;
width:963px;
margin:30px 0 37px 20px;
}

.FindPartCategories_and_Testimonials h2 {
float:left;
width:100%;
color:#333;
font-size:20px;
margin:0;
padding:0 0 13px;
}

.FindPartCategories_and_Testimonials .topCategories {
float:left;
width:450px;
margin:0 0 0 34px;
}

.FindPartCategories_and_Testimonials .topCategories ul {
float:left;
list-style-type:none;
margin:0;
padding:0 25px 0 0;
}

.FindPartCategories_and_Testimonials .topCategories ul li {
display:block;
margin:0;
padding:0 0 5px;
}

.FindPartCategories_and_Testimonials .topCategories ul li a {
display:block;
font-size:14px;
text-decoration:none;
}

.browse_Categories a {
float:left;
width:140px;
font-size:12px;
font-weight:700;
border:1px solid #b5cde4;
position:relative;
text-align:center;
color:#4577a3;
border-radius:2px;
margin:18px 0 0;
padding:3px 3px 3px 5px;
}

.browse_Categories a span {
width:15px;
height:15px;
background-position:-109px -120px;
background-repeat:no-repeat;
position:absolute;
}

.FindPartCategories_and_Testimonials .Testimonials {
float:left;
width:350px;
margin:0 0 0 40px;
}

.FindPartCategories_and_Testimonials .Testimonials p {
float:left;
width:100%;
font-family:Georgia;
font-style:italic;
font-size:15px;
color:#666;
padding:0 0 20px;
}

.FindPartCategories_and_Testimonials .Testimonials p span {
font-style:normal;
font-size:12px;
float:left;
padding-top:5px;
}

.new_homePage_footer {
float:left;
width:963px;
border-top:2px solid #fff;
position:relative;
margin:0 0 0 20px;
}

.gray_border {
width:100%;
background:#c0c1c5;
height:1px;
position:absolute;
top:-2px;
left:0;
}

.footer_one {
float:left;
width:100%;
background:#ebebeb;
}

.footer_one .column_one {
float:left;
width:33%;
padding:20px 0 16px 25px;
}

.footer_one .column_one a {
float:left;
font-size:16px;
font-weight:700;
width:100%;
margin:0 0 20px;
padding:5px 0 0;
}

.footer_one .column_one a span {
display:block;
color:#666;
font-weight:400;
font-size:14px;
padding:0 0 0 57px;
}

.footer_one .column_one a p {
color:#067bb5;
font-size:18px;
font-weight:600;
margin:0 0 2px;
}

.icons_div {
float:left;
width:43px;
height:43px;
background-repeat:no-repeat;
margin:-4px 10px 0 0;
}

#icon_3 {
background-position:left -105px;
}

#icon_4 {
background-position:left -158px;
}

#icon_5 {
background-position:left -210px;
}

.footer_one .column_one a:hover #icon_3 {
background-position:-44px -105px;
}

.footer_one .column_one a:hover #icon_4 {
background-position:-44px -158px;
}

.footer_one .column_one a:hover #icon_5 {
background-position:-44px -210px;
}

.footer_one .column_two {
float:left;
width:246px;
margin:0 15px 0 20px;
padding:20px 0 15px;
}

.footer_one .column_two .fast_shipping {
float:left;
width:100%;
position:relative;
margin:0 0 25px -29px;
padding:0;
}

.bg_position {
background-position:-149px 28px;
}

.footer_one .column_two .curves {
float:right;
width:246px;
height:5px;
background-repeat:no-repeat;
}

.footer_one .column_two .fast_shipping .icon_bg_curves {
background-position:-149px 0;
background-repeat:no-repeat;
position:absolute;
width:45px;
height:74px;
top:50%;
margin:-37px 0 0;
}

.footer_one .column_two #top {
background-position:33px -256px;
}

.footer_one .column_two #bottom {
background-position:33px -265px;
}

.footer_one .column_two .shipping_cont {
float:left;
background:none #fff;
border-radius:3px;
width:100%;
margin:0 0 0 30px;
padding:2px 20px 18px 0;
}

.footer_one .column_two .shipping_cont h3 {
font-size:22px;
font-weight:400;
padding-left:36px;
color:#304295;
width:100%;
margin:4px 0 0;
}

.footer_one .column_two .shipping_cont h3 a {
font-size:22px;
font-weight:400;
color:#067bb5;
border:none;
width:175px;
text-align:left;
margin:0;
padding:0 0 3px;
}

.footer_one .column_two .shipping_cont p {
color:#666;
padding-left:36px;
clear:both;
font-size:14px;
}

.footer_one .column_two .shipping_cont a {
float:left;
width:80px;
border:1px solid #b5cde4;
position:relative;
text-align:center;
color:#4577a3;
border-radius:2px;
font-size:14px;
font-weight:600;
margin:8px 0 0 36px;
padding:4px 15px;
}

.footer_one .column_two .shipping_cont a span {
width:15px;
height:15px;
background-position:-109px -103px;
background-repeat:no-repeat;
position:absolute;
}

#car_icon {
position:absolute;
left:0;
background-repeat:no-repeat;
height:44px;
width:60px;
top:50%;
background-position:-201px -9px;
margin:-22px 0 0;
}

#right_icon {
position:absolute;
left:0;
background-repeat:no-repeat;
height:50px;
width:60px;
top:50%;
background-position:-271px -10px;
margin:-22px 0 0;
}

.footer_one .column_three {
float:right;
width:31%;
margin:-185px 0 0;
padding:0 25px 15px 0;
}

.footer_one .column_three h3 {
color:#666;
font-weight:400;
display:block;
line-height:30px;
font-size:22px;
margin:0 0 10px;
padding:0 60px 1px 0;
}

.column_three p {
float:left;
width:100%;
font-size:16px;
margin:0 0 3px;
padding:0;
}

.column_three ul {
float:left;
list-style-type:none;
margin:10px 0 0;
padding:0;
}

.column_three ul li {
display:block;
margin:0;
padding:0 0 6px;
}

.footer_two {
height:45px;
float:left;
width:100%;
background-position:bottom left;
background-repeat:repeat-x;
background:#fff;
}

.footer_two .glow_div {
width:100%;
height:6px;
background-color:#304e88;
margin:0 auto;
}

.footer_two .footer_a_div {
width:561px;
margin:0 auto;
}

.footer_two .footer_a_div a {
float:left;
font-family:Verdana;
font-size:11px;
text-decoration:none;
color:#999;
margin:12px 13px 0;
}

.footer_two .copyright {
width:150px;
float:left;
color:#666;
padding:12px 0 0;
}

.footer_two .otherLogos {
width:88px;
float:right;
margin:8px 0 0;
}

.footer_three {
float:left;
width:100%;
font-family:arial;
color:#666;
padding:15px 0;
}

.footer_three .f_right {
float:right;
}

.footer_three .f_right img {
border:none;
cursor:default;
}

#ItemsCarts #ghost_cart {
right:-67px;
top:0;
width:240px;
}

#ItemsCarts #ghost_cart .topArrowDiv {
left:192px;
}

#ItemsCarts #ghost_cart .ViewContent * {
background-color:#fff;
}

.ViewContent .ghostCart_bottom {
background:none;
}

.ViewContent h3.blue {
color:#224896;
float:none;
font-size:11px;
font-weight:700;
text-align:center;
margin:5px 0 0;
}

.ViewContent p.ghostCart_noItems {
color:#333;
font-size:14px;
text-align:center;
margin:20px 0;
}

.ViewContent p.copy {
border-top:1px solid #cdcdcd;
color:#535353;
font-weight:700;
text-align:center;
padding:10px 0 5px;
}

#ItemsCarts div#currentCart #checkout .button a,#ItemsCarts .ghostCart_details {
line-height:15px;
}

#ItemsCarts div#currentCart #checkout .button a {
color:#fff;
font-size:13px;
text-align:center;
background:none;
background-color:#f60;
border-radius:2px;
text-shadow:1px 0 1px #666;
padding:8px 15px 8px 10px;
}

div#currentCart .itemInCart .partNumber,#ItemsCarts div#currentCart #editLink a.arrow_blue_link {
line-height:normal;
float:none;
}

#ItemsCarts div#currentCart p.copy {
border-top:1px solid #CDCDCD;
color:#535353;
font-weight:700;
text-align:center;
padding:10px 0 5px;
}

#MyModelsDiv #modelFlyOut .middle {
margin:0;
padding:7px 5px;
}

.cart_navigation ul li #modelCount {
color:#067bb5;
font-size:11px;
display:inline;
}

#MyModelsDiv #modelFlyOut .items_list {
border:none;
overflow-x:hidden;
width:auto;
margin:0;
}

#MyModelsDiv #modelFlyOut .items_list ul li a,#MyModelsDiv #modelFlyOut .items_list ul li {
background:#fff;
border:none;
color:#067bb5;
line-height:normal;
width:100%;
}

#MyModelsDiv #modelUserListing .items_list ul li {
background:none;
border-bottom:1px solid #efefef;
padding:10px 0;
}

#MyModelsDiv #modelFlyOut .items_list ul li .check {
position:relative;
padding:5px 5px 0 0;
}

#MyModelsDiv #modelFlyOut .items_list ul li .item_info {
display:inline-block;
float:left;
width:91%;
padding:0;
}

#MyModelsDiv #modelFlyOut .model_list h4 {
clear:both;
width:100%;
}

#MyModelsDiv #modelUserListing .items_list ul {
overflow:hidden;
border:none;
height:auto;
}

#MyModelsDiv #modelGuestListing ul li {
border-bottom:1px solid #efefef;
}

#model_finder_pos {
position:relative;
}

.solar_width {
width:579px;
float:left;
}

.legacy_width {
width:654px;
float:left;
}

.left_pos_model_finder {
left:183px;
}

.newFinderDiv {
position:absolute;
left:143px;
top:-13px;
background:#fff;
border:4px solid #1d276a;
border-top:0;
display:none;
padding:0;
}

.newFinderDiv h2 {
color:#333;
font-size:16px;
font-weight:800;
text-align:left;
margin:10px 0 5px;
padding:0 0 5px;
}

.newFinderDiv h4 {
color:#333;
font-size:13px;
font-weight:800;
text-align:left;
margin:30px 0 5px;
padding:0 0 5px;
}

.newFinderDiv .finder_work_div {
width:96%;
float:left;
background-position:center top;
background-repeat:no-repeat;
margin:0;
padding:1.5% 2%;
}

.newFinderDiv .finder_work_div .select_product {
width:100%;
position:relative;
}

.finder_work_div .select_product .ul_div,.finder_work_div .select_product .ul_div_product {
float:left;
width:230px;
height:34px;
line-height:34px;
border:1px solid #dedede;
font-size:14px;
color:#666;
background-position:230px center;
background-repeat:no-repeat;
padding:0 15px 0 10px;
}

.finder_work_div .select_product .show_dropdown {
position:absolute;
z-index:999;
left:0;
top:36px;
width:255px;
background:#fff;
border:1px solid #dedede;
border-top:0;
display:none;
}

.finder_work_div .select_product .show_dropdown_product {
position:absolute;
left:0;
top:36px;
width:255px;
background:#fff;
border:1px solid #dedede;
border-top:0;
display:none;
}

.show_dropdown ul,.show_dropdown_product ul {
display:block;
margin:0;
padding:0;
}

.show_dropdown ul li,.show_dropdown_product ul li {
display:block;
margin:0;
padding:0 0 1px;
}

.show_dropdown ul li a,.show_dropdown_product ul li a {
display:block;
font-size:14px;
color:#666;
line-height:normal;
text-decoration:none;
padding:5px 0 5px 10px;
}

.models_number_div {
float:left;
margin:20px 0 0;
}

.models_number_div ul {
float:left;
list-style-type:none;
width:100%;
}

.models_number_div ul li {
float:left;
margin:5px 20px 5px 5px;
padding:0;
}

.li_width_28 {
width:28%;
}

.li_width_40 {
width:40%;
}

.models_number_div ul li a {
color:#666;
text-decoration:none;
}

.finder_content_div {
float:left;
width:100%;
padding:10px 0 15px;
}

.finder_content_div .finder_default_img,.finder_default_img2 {
width:100%;
margin:5px 0 20px;
}

.finder_img {
width:100%;
text-align:center;
}

.finder_close {
float:left;
width:100%;
text-align:center;
border-top:1px solid #dedede;
padding:10px 0;
}

.finder_close img {
cursor:pointer;
}

.finder_nav {
float:left;
width:100%;
margin:10px 0 20px;
}

.finder_nav ul {
list-style-type:none;
float:left;
margin:0;
padding:0;
}

.finder_nav ul li {
float:left;
border-left:1px solid #dedede;
list-style-type:none;
margin:0;
padding:0 20px;
}

.finder_nav ul li a {
float:left;
color:#333;
font-size:16px;
height:22px;
line-height:22px;
text-decoration:none;
}

.finder_nav ul li.first {
border-left:0 solid #dedede;
padding-left:0;
}

.options_div {
float:left;
width:100%;
display:none;
}

.common_model_number_plates {
width:100%;
float:left;
line-height:normal;
}

.common_model_number_plates h4 {
color:#333;
font-size:13px;
font-weight:800;
line-height:normal;
margin:0;
padding:0 0 10px;
}

.common_model_number_plates ul {
width:100%;
margin:0;
padding:0;
}

.common_model_number_plates ul li {
line-height:normal;
margin:0 0 0 15px;
padding:0;
}

.common_model_number_plates .CMNP_left {
float:left;
width:30%;
padding:0;
}

.CMNP_left ul {
list-style-type:none;
margin:0;
padding:0;
}

.CMNP_left ul li {
background-position:0 4px;
background-repeat:no-repeat;
margin:0;
padding:0 0 10px 10px;
}

.common_model_number_plates .CMNP_center {
width:43%;
float:left;
text-align:center;
}

.common_model_number_plates .CMNP_right {
float:right;
width:27%;
padding:0;
}

.common_model_number_plates .CMNP_right ul {
list-style-type:none;
width:100%;
margin:0;
padding:0;
}

.common_model_number_plates .CMNP_right ul li {
float:left;
list-style-type:none;
width:100%;
margin:0 0 5px;
padding:0;
}

.common_model_number_plates .CMNP_right ul li input {
float:left;
margin:2px 5px 0 0;
padding:0;
}

#brandsContainerSection {
float:left;
clear:both;
width:913px;
height:110px;
padding:70px 0 0 50px;
}

#brandsContainerSection h2 {
color:#333;
font-size:20px;
text-align:center;
margin:0 0 14px;
padding:0;
}

#brandsContainerSection h2 a {
font-size:20px;
}

#everyProdPop,#everyBrandPop {
display:none;
background-repeat:no-repeat;
background-position:top left;
color:#304295;
font-size:12px;
padding:14px 0 23px 12px;
}

#everyProdPop {
position:relative;
top:-189px;
left:473px;
float:left;
width:200px;
color:#067bb5;
}

#everyBrandPop {
position:relative;
top:-189px;
left:365px;
float:left;
width:200px;
color:#067bb5;
}

#brandCarousel {
float:left;
clear:both;
width:950px;
}

#brandCarousel > a {
width:20px;
height:45px;
display:block;
text-indent:-9999px;
float:left;
}

#brandBackArrow {
background-position:-12px -22px;
position:relative;
}

#brandBackArrow:hover {
background-position:-12px -93px;
}

#brandForArrow {
float:right;
background-position:48px -22px;
}

#brandForArrow:hover {
background-position:48px -93px;
}

#brandsView {
width:860px;
float:left;
position:relative;
overflow:hidden;
}

#brandsContainer {
width:860px;
float:left;
position:relative;
height:80px;
}

#brandsContainerList {
left:-843px;
position:relative;
float:left;
width:2580px;
height:80px;
}

#brandsContainer li {
float:left;
padding:0 15px 0 0;
}

#brandsContainer li a {
float:left;
width:20px;
height:20px;
display:block;
text-indent:-9999px;
}

.brandsContainerList1 {
float:left;
width:813px;
padding:0 0 0 35px;
}

.brandsContainerList1 #kenmore a {
width:44px;
height:45px;
background-position:-48px -22px;
}

.brandsContainerList1 #whirlpool a {
width:89px;
height:45px;
background-position:-115px -22px;
}

.brandsContainerList1 #maytag a {
width:63px;
height:45px;
background-position:-225px -22px;
}

.brandsContainerList1 #ge a {
width:44px;
height:45px;
background-position:-308px -22px;
}

.brandsContainerList1 #frigidaire a {
width:98px;
height:45px;
background-position:-369px -22px;
}

.brandsContainerList1 #poulan a {
width:71px;
height:45px;
background-position:-483px -22px;
}

.brandsContainerList1 #kitchenaid a {
width:102px;
height:45px;
background-position:-570px -22px;
}

.brandsContainerList1 #briggs a {
width:80px;
height:45px;
background-position:-683px -22px;
}

.brandsContainerList1 #husqvarna a {
width:87px;
height:45px;
background-position:-777px -22px;
}

.brandsContainerList2 {
float:left;
width:829px;
padding:0 0 0 19px;
}

.brandsContainerList2 #kenmoreelite a {
width:44px;
height:45px;
background-position:-969px -22px;
}

.brandsContainerList2 #lg a {
width:91px;
height:45px;
background-position:-1025px -22px;
}

.brandsContainerList2 #jenn-air a {
width:97px;
height:45px;
background-position:859px -22px;
}

.brandsContainerList2 #samsung a {
width:111px;
height:45px;
background-position:745px -22px;
}

.brandsContainerList2 #electrolux a {
width:123px;
height:45px;
background-position:617px -22px;
}

.brandsContainerList2 #weedeater a {
width:96px;
height:45px;
background-position:477px -22px;
}

.brandsContainerList2 #agrifab a {
width:77px;
height:45px;
background-position:365px -22px;
}

.brandsContainerList2 #viewAllBrands a {
width:47px;
height:45px;
text-indent:0;
text-align:center;
padding-top:10px;
}

.brandsContainerList1 #kenmore a:hover {
width:44px;
height:45px;
background-position:-48px -92px;
}

.brandsContainerList1 #whirlpool a:hover {
width:89px;
height:45px;
background-position:-115px -92px;
}

.brandsContainerList1 #maytag a:hover {
width:63px;
height:45px;
background-position:-225px -92px;
}

.brandsContainerList1 #ge a:hover {
width:44px;
height:45px;
background-position:-308px -92px;
}

.brandsContainerList1 #frigidaire a:hover {
width:98px;
height:45px;
background-position:-369px -92px;
}

.brandsContainerList1 #poulan a:hover {
width:71px;
height:45px;
background-position:-483px -92px;
}

.brandsContainerList1 #kitchenaid a:hover {
width:102px;
height:45px;
background-position:-570px -92px;
}

.brandsContainerList1 #briggs a:hover {
width:80px;
height:45px;
background-position:-683px -92px;
}

.brandsContainerList1 #husqvarna a:hover {
width:87px;
height:45px;
background-position:-777px -92px;
}

.brandsContainerList2 #kenmoreelite a:hover {
width:44px;
height:45px;
background-position:-969px -92px;
}

.brandsContainerList2 #lg a:hover {
width:91px;
height:45px;
background-position:-1025px -92px;
}

.brandsContainerList2 #jenn-air a:hover {
width:97px;
height:45px;
background-position:859px -92px;
}

.brandsContainerList2 #samsung a:hover {
width:111px;
height:45px;
background-position:745px -92px;
}

.brandsContainerList2 #electrolux a:hover {
width:123px;
height:45px;
background-position:617px -92px;
}

.brandsContainerList2 #weedeater a:hover {
width:96px;
height:45px;
background-position:477px -92px;
}

.brandsContainerList2 #agrifab a:hover {
width:77px;
height:45px;
background-position:365px -92px;
}

.show_dropdown_product_height {
float:left;
height:150px;
overflow-x:hidden;
overflow-y:scroll;
width:100%;
}

#MyModelsDiv .resentView {
width:384px;
}

#MyModelsDiv .resentViewTopRow {
float:left;
width:358px;
height:8px;
background-repeat:repeat-x;
background-position:left top;
margin:0 12px;
}

#MyModelsDiv .resentViewContentDiv {
float:left;
width:382px;
background-position:left top;
background-repeat:repeat-y;
}

#MyModelsDiv .resentViewContentDiv .ViewContent {
background-position:370px top;
background-repeat:repeat-y;
float:left;
width:382px;
padding:0 8px;
}

#MyModelsDiv #modelFlyOut {
display:block;
position:relative;
right:0;
top:0;
width:366px;
}

#MyModelsDiv #modelFlyOut .empty-list {
width:auto;
line-height:normal;
margin:0;
padding:10px;
}

#MyModelsDiv #modelFlyOut .empty-list p {
text-align:left;
font-size:14px;
font-family:Arial, Verdana, Helvetica, sans-serif;
padding:0 41px 0 0;
}

#MyModelsDiv .new_Promo_profile {
float:left;
width:352px;
margin:0 0 0 -9px;
padding:20px 0 10px 20px;
}

#MyModelsDiv .new_Promo_profile .no_problem_image {
background-position:left center;
background-repeat:no-repeat;
height:20px;
width:309px;
}

#MyModelsDiv .new_Promo_profile .text {
font-family:Arial;
font-size:12px;
font-weight:700;
line-height:17px;
color:#000;
margin:0;
padding:0 32px 0 0;
}

#MyModelsDiv .resentViewBottopRow {
float:left;
width:358px;
height:11px;
background-position:left top;
background-repeat:repeat-x;
margin:0 12px;
}

.header_right_panel_inner_page {
right:0;
}

.body_shadow_right_inner_page {
right:0;
display:none;
}

.inner_header_inner_page {
padding:21px 0 0;
}

.new_homePage_footer_inner_page {
width:97%;
margin:20px;
}

.Our_finder_inner_page {
bottom:23px;
}

.home_header_inner_page {
margin:0;
}

.cart_navigation_inner_page {
background:none repeat scroll 0 0 #EBEBEB;
height:34px;
padding:0 30px 0 0;
}

.new_homePage_footer_inner_page .column_two {
width:26%;
position:relative;
float:none;
margin:0 auto;
padding:20px 0 15px;
}

.new_homePage_footer_inner_page .column_three {
margin:-183px 0 0;
}

.new_homePage_footer_inner_page .footer_two .copyright {
width:130px;
font-size:12px;
}

pre {
font-size:100%;
text-decoration:none;
vertical-align:baseline;
background:transparent;
outline:0;
border:0 none;
margin:0;
padding:0;
}

article {
background:#fff;
margin:-19px 20px 0;
padding:0 20px;
}

h1,h2,h3,h4 {
font-weight:400;
text-rendering:optimizelegibility;
color:#666;
margin:10px 0;
}

h1 {
font-size:28px;
}

h2 {
font-size:24px;
}

h3 {
font-size:22px;
}

h4 {
font-size:18px;
}

a {
font-size:14px;
color:#067bb5;
}

.semi-bold {
font-weight:600;
}

table {
width:100%;
}

thead th {
text-align:left;
padding:10px;
}

table td {
padding:10px;
}

dl.error-codes dt {
background:none, url(../img/logosSmall.svg) no-repeat 95% 50%;
background-size:3% 100%;
background-color:#f0f0f0;
font-size:18px;
font-weight:400;
color:#666;
padding:20px 40px;
}

dl.error-codes dd {
border-top:1px solid #ccc;
margin-left:40px;
}

dl.error-codes dd a {
display:block;
padding:15px 0;
}

ul.box-links {
list-style:none;
width:284px;
margin:0;
padding:0;
}

ul.box-links li a {
background:transparent url(../img/arrows.png) no-repeat 95% 50%;
display:block;
border:1px solid #ebebeb;
padding:16px 0 16px 14px;
}

.accordion-group {
margin-bottom:2px;
border-radius:0;
border:none;
background:#ebebeb;
}

.accordion-heading .accordion-toggle {
display:block;
color:#666;
padding:8px 15px;
}

.accordion-heading .accordion-toggle span {
font-weight:700;
font-size:32px;
float:left;
margin:0 10px 0 0;
}

.accordion-heading .accordion-toggle span.findPartOpen {
margin-top:-3px;
}

.accordion-inner {
border-top:none;
padding:9px 15px;
}

.accordion .accordion-body {
margin-bottom:2px;
border-radius:0;
border:none;
background:#ebebeb;
color:#666;
}

.accordion .description-text {
width:26%;
float:left;
margin:0 25px 0 10px;
}

.accordion .search-model-num {
width:25%;
float:left;
margin:0 25px 20px 0;
}

.accordion .search-model-num input {
border-radius:0;
width:95%;
height:45px;
}

.accordion .search-model-num a {
float:left;
clear:both;
}

.accordion .no-model-num {
width:20%;
float:left;
}

.side-bar-links h4 a {
font-size:18px;
cursor:default;
}

.side-bar-links h4 a:hover {
cursor:default;
text-decoration:none;
}

.side-bar-links .collapse-questions ul {
list-style:none;
padding:0;
}

.side-bar-links .collapse-questions ul li {
border-top:1px solid #fff;
}

.side-bar-links .collapse-questions ul li a {
display:block;
float:left;
width:100%;
clear:both;
padding:15px;
}

#viewport {
max-width:1280px;
margin:0 auto;
}

.container-fluid {
padding-right:0;
padding-left:0;
z-index:3;
position:relative;
}

.brandBar {
height:31px;
z-index:1000;
background:url(../img/brandBarBkg.png) repeat-x 0 0;
margin:0 auto;
}

img.center {
display:block;
width:auto;
margin:0 auto;
}

.phone_menu_tabs {
width:265px;
height:38px;
position:relative;
z-index:120;
margin:0 auto -8px;
}

.phone_menu_tabs ul {
list-style:none;
position:relative;
margin:0 0 10px -200px;
}

.phone_menu_tabs ul li a {
height:27px;
line-height:32px;
text-decoration:none;
color:#436eb8;
border:1px solid #436eb8;
border-radius:4px 4px 0 0;
padding:10px;
}

.phone_menu_tabs ul li.active a {
color:#fff;
height:32px;
line-height:32px;
background-color:#426dbf;
border-radius:4px 4px 0 0;
text-align:center;
font-size:14px;
border-width:3px;
padding:10px;
}

.phone_menu_tabs ul li:first-child a {
border-radius:4px 0 0 0;
padding:10px 10px 10px 41px;
}

.phone_menu_tabs ul li:last-child a {
border-radius:0 4px 0 0;
}

.mag_glass_icon a {
background-position:17% center;
background-repeat:no-repeat;
background-image:url(../img/magGlass_off.png);
padding:10px 10px 10px 41px;
}

.phone_menu_tabs ul li.mag_glass_icon.active a {
background-position:17% center;
background-repeat:no-repeat;
background-image:url(../img/magGlass_on.png);
padding:10px 10px 10px 41px;
}

.manuals_help_list {
list-style:none;
}

.manuals_help_list li {
float:left;
padding-left:10px;
padding-right:10px;
}

.manuals_help_list li a {
text-decoration:none;
color:#fff;
}

.waterfiltertagline {
color:#304e88;
width:100%;
text-align:center;
font-size:14px;
clear:both;
padding:10px 0;
}

.waterfiltertagline p {
width:701px;
background:none, url(../img/waterfilterdrop.svg) no-repeat left 8px;
background-size:4%;
margin:-19px auto 0;
padding:15px 0;
}

.waterfiltertagline p .btn {
font-size:11px;
color:#4577a3;
background:none;
border:1px solid #b5cde4;
padding:1px 12px;
}

.footer_one .column_one a .icons_div {
margin:-4px 15px 0 0;
}

.footer_one .column_one a #icon_2 {
background-position:0 -52px;
}

.footer_one .column_one a:hover #icon_1 {
background-position:-44px 0;
}

.footer_one .column_one a:hover #icon_2 {
background-position:-44px -52px;
}

.footer_one .column_one ul {
list-style:none;
margin:0;
}

#car_icon.column_two_icons_hover {
background-position:-201px -68px;
}

#right_icon.column_two_icons_hover {
background-position:-271px -69px;
}

.footer_one .column_three ul {
width:48%;
float:left;
}

.footer_one .column_three form {
float:left;
margin:10px 0 0;
}

.footer_one .column_three form p {
font-size:14px;
color:#666;
font-family:Arial, Helvetica, sans-serif;
margin:0 0 5px;
}

.footer_one .column_three form input {
float:left;
border-radius:0;
border:1px solid #ccc;
margin:0 5px 0 0;
padding:10px 0 10px 12px;
}

.footer_one .column_three form button {
float:left;
font-size:12px;
font-weight:700;
border:1px solid #b5cde4;
position:relative;
text-align:center;
color:#4577a3;
border-radius:2px;
background-image:none;
background-color:#fff;
margin:0 0 0 3px;
padding:10px 27px;
}

.icons_div,#car_icon,.icon_bg_curves,#right_icon {
background-image:url(../img/footer_sprite.png);
}

#lpchatbutton4 a,#lpvoicebutton4 a,.new_homePage_footer #lpchatbutton4 a,.new_homePage_footer #lpvoicebutton4 a {
background-image:url(../img/lp_btn_sprite.png);
}

#body_bg,#body_spacer,.body_spacer_inner_page {
background-position:0 0;
background-repeat:repeat-x;
}

.clear,#ItemsCarts #showCart {
clear:both;
}

.home_logo a span,.footer_one .column_one #lpchatbutton4 a img,.footer_one .column_one #lpvoicebutton4 a img,#MyModelsDiv #modelFlyOut .top_border,#MyModelsDiv #modelFlyOut .bottom_border,.trigger {
display:none;
}

.gray_color,div#currentCart p.ghostCart_addedItem {
color:#666;
}

.cart_navigation ul li:hover a,.cart_navigation ul li.itemsInCart a {
background:#304e88;
color:#fff;
border-right:1px solid #304295;
}

.cart_navigation ul li.itemsInCart a span,.cart_navigation ul li:hover a span,.cart_navigation ul li.currentClass a span {
background-position:-16px 0;
background-repeat:no-repeat;
display:inline-block;
}

.cart_navigation ul li:hover a span.cart,.cart_navigation ul li.currentClass a span.cart {
background-position:-19px -21px;
background-repeat:no-repeat;
display:inline-block;
}

div#currentCart .itemInCart .partNumber:hover,.view_row a:hover {
color:#304e88;
text-decoration:underline;
}

.Our_finder a,.cart_navigation ul li:hover #modelCount {
color:#fff;
}

.tagline2 span,.footer_one .column_three h3 span {
font-weight:700;
}

.main_carousel .mc_slide_number_bar a:hover,.footer_one .column_one a:hover,.column_three ul li a {
text-decoration:none;
}

.FindPartCategories_and_Testimonials .topCategories ul li a:hover,.column_three ul li a:hover,.footer_two .footer_a_div a:hover,#MyModelsDiv #modelFlyOut .items_list ul li a:hover,.models_number_div ul li a:hover {
text-decoration:underline;
}

.footer_one .column_one a:hover p,.footer_one .column_one a p:hover {
text-decoration:underline;
color:#304e88;
}

.footer_one .column_two .shipping_cont h3 a:hover,a:hover {
color:#304e88;
}

.footer_three .f_left,#brandCarounsel ul,#brandCarousel ul li,.phone_menu_tabs ul li {
float:left;
}

#ItemsCarts #editLink a,#MyModelsDiv #modelFlyOut .middle,#MyModelsDiv #modelUserListing .items_list li.last {
border:none;
}

.show_dropdown ul li a:hover,.show_dropdown_product ul li a:hover,.show_dropdown ul li a.select_current,.show_dropdown_product ul li a.select_current {
background:#1d276a;
color:#fff;
}

.finder_nav ul li a:hover,.finder_nav ul li a.select_current {
color:#304295;
}

p,.footer_one .column_three ul li a {
font-size:14px;
}

a.small-links,#newFinderModel {
font-size:12px;
}

thead tr,tbody tr:hover {
background:#ebebeb;
}

.phone_menu_tabs ul li:first-child.active a,.phone_menu_tabs ul li:last-child.active a {
border-radius:4px 4px 0 0;
}

@media min-width 1300px {
body {
margin:0 2%;
}

.brandBar {
display:block;
}

.cart_navigation ul li a {
font-size:13px;
}

#searchBarForm {
width:1172px;
position:relative;
margin:50px auto 0;
}

.phone_menu_tabs ul {
list-style:none;
position:relative;
margin:0 0 10px -237px;
}

.mani_search_panel .legacy_search {
float:left;
min-width:700px;
height:108px;
position:relative;
z-index:100;
background:url(../img/blueSearchBoxBkg.png) repeat-x 0 0;
}

.mani_search_panel .legacy_left_shadow {
float:left;
width:216px;
height:27px;
z-index:99;
display:inline-block;
background:url(../img/headerLeftShadow.png) no-repeat 0 0;
margin-top:25px;
}

.mani_search_panel .legacy_right_shadow {
float:left;
width:216px;
height:27px;
z-index:99;
display:inline-block;
background:url(../img/headerRightShadow.png) no-repeat 0 0;
margin-top:25px;
}

.Our_finder {
margin:12px 0 0 75px;
}
}

@media max-width 1299px {
.brandBar {
display:block;
background:url(../img/brandBarBkg.png) repeat-x 0 0;
}

.footer_one .column_one {
float:left;
width:32%;
padding:20px 0 16px 25px;
}

.new_homePage_footer_inner_page .column_two {
width:27%;
}

.footer_one .column_three h3 {
padding:0 28px 1px 0;
}

.footer_one .column_three {
margin:-185px 0 0;
padding:0 17px 15px 0;
}

.footer_one .column_three form input {
width:55%;
}
}

@media max-width 1024px {
.brandBar {
display:none;
}

.header_right_panel {
top:20px;
}

.home_logo {
top:20px;
background-size:94%;
}

#searchBarForm {
width:950px;
position:relative;
margin:18px auto 0;
}

.login_navigation ul li a {
float:left;
font-size:11px;
font-weight:600;
margin:0;
padding:0;
}

.phone_menu_tabs ul li a {
font-size:14px;
font-weight:600;
}

.waterfiltertagline p {
background:none, url(../img/waterfilterdrop.svg) no-repeat 20px 10px;
background-size:4%;
margin:-19px auto 0;
padding:15px 0 15px 22px;
}

.new_homePage_footer_inner_page {
width:92.5%;
margin:20px 37px;
}

.footer_one .column_one a span {
font-size:12px;
padding:0 0 0 57px;
}

.footer_one .column_two .shipping_cont p {
font-size:12px;
line-height:150%;
margin:0;
}

.footer_one .column_two .shipping_cont a {
font-size:11px;
font-weight:700;
padding:0 6px;
}

.footer_one .column_three {
width:30%;
margin:-173px 0 0;
padding:0 16px 15px 0;
}

.footer_one .column_three h3 {
line-height:22px;
font-size:18px;
padding:0 48px 1px 0;
}

.footer_one .column_two .shipping_cont h3 a {
padding:0;
}

.column_three p {
float:left;
width:100%;
font-size:14px;
margin:0 0 3px;
padding:0;
}

.column_three ul li {
display:block;
margin:0;
padding:0 0 2px;
}

.footer_one .column_three ul li a {
font-size:12px;
}

.footer_one .column_three form input {
width:54%;
padding:6px 0 6px 12px;
}

.footer_one .column_three form button {
padding:6px 22px;
}

.cart_navigation ul li a,.footer_one .column_three h3 span {
font-weight:600;
}
}

@media max-width 1000px {
.mani_search_panel .legacy_search {
min-width:729px;
margin:0 0 0 9px;
}

#searchBarForm {
width:750px;
}

.Our_finder {
left:25px;
}

.footer_one .column_one {
float:left;
width:30%;
padding:20px 0 57px 20px;
}

.footer_one .column_one a {
width:100%;
}

.footer_one .column_one a p {
margin:0;
padding:0;
}

.footer_one .column_one a span {
line-height:141%;
margin:5px 0 0;
padding:0 0 0 59px;
}

.new_homePage_footer_inner_page .column_two {
width:29%;
position:relative;
float:none;
margin:0 auto;
padding:20px 10px 10px 0;
}

.footer_one .column_two .fast_shipping {
margin:0 0 25px -2px;
}

.footer_one .column_two .shipping_cont {
margin:0;
padding:10px 10px 21px 0;
}

.footer_one .column_two .shipping_cont h3 {
font-size:22px;
font-weight:400;
padding-left:20px;
color:#304295;
width:100%;
}

.footer_one .column_two .shipping_cont p {
color:#666;
font-size:12px;
padding-left:20px;
clear:both;
}

.footer_one .column_two .shipping_cont a {
font-size:14px;
font-weight:400;
margin:5px 0 0 20px;
padding:14px 28px;
}

.new_homePage_footer_inner_page .column_three {
float:right;
width:33%;
margin:-208px 0 0;
padding:0;
}

.new_homePage_footer_inner_page .column_three form {
float:left;
padding:5px 20px 0 0;
}

.new_homePage_footer_inner_page .column_three form input {
width:59%;
float:left;
border-radius:0;
font-size:13px;
margin:0 8px 0 0;
padding:9px 0 9px 5px;
}

.new_homePage_footer_inner_page .column_three form button {
float:left;
width:69px;
font-size:12px;
border:1px solid #b5cde4;
text-align:center;
color:#4577a3;
border-radius:2px;
margin:0;
padding:9px 3px 9px 5px;
}

.column_three ul li {
padding:0 0 3px;
}

.column_three p {
margin:0;
}

.footer_two .footer_a_div a {
float:left;
font-family:Verdana;
font-size:11px;
color:#666;
text-decoration:none;
margin:12px 6px 0;
}

.brandBar,.mani_search_panel .legacy_left_shadow,.mani_search_panel .legacy_right_shadow,.footer_one .column_two .icon_bg_curves,#right_icon,#car_icon {
display:none;
}
}

@media max-width 767px {
body {
padding:0 20px;
}

.brandBar {
display:none;
}

.home_header {
background-color:#fff;
margin:0;
}

.phone_menu_tabs ul {
margin:0 0 10px -212px;
}

.mani_search_panel {
padding:0 8px;
}

.mani_search_panel .legacy_search {
min-width:100%;
height:91px;
margin:0;
}

#searchBarForm {
width:100%;
}

.search_input_div .in {
float:left;
text-align:center;
font-size:26px;
color:#fff;
padding:0 3px;
}

.new_DdArrow input {
background:none;
cursor:default;
font-weight:400;
}

.search_input_div .input2 {
float:left;
width:54%;
}

.search_input_div .input2 .input_2 {
width:88%;
}

.Our_finder {
left:25px;
}

.waterfiltertagline {
height:57px;
background:url(../img/waterfiltershadow.png) no-repeat bottom center;
padding:0;
}

.waterfiltertagline p {
width:92%;
height:46px;
border-bottom:none;
text-align:left;
font-size:14px;
color:#304e88;
background-position:left 13px;
margin:0 auto;
padding:14px 0 0 35px;
}

.waterfiltertagline p .btn {
font-size:11px;
background:none;
text-shadow:none;
font-weight:700;
}

article {
background:#fff;
margin:-19px 0 0;
padding:0 20px;
}

.new_homePage_footer_inner_page {
width:99.5%;
margin:20px 3px;
}

.footer_one .column_one {
width:34%;
padding:20px 10px 57px 14px;
}

.footer_one .column_one a .icons_div {
margin:-4px 10px 0 0;
}

.footer_one .column_one a p {
font-size:16px;
font-weight:600;
}

.footer_one .column_one a span {
line-height:141%;
font-size:14px;
margin:5px 0 0;
padding:0 0 0 53px;
}

.new_homePage_footer_inner_page .column_two {
font-size:14px;
width:24%;
float:left;
}

.footer_one .column_two .fast_shipping {
margin:0 0 25px;
}

.footer_one .column_two .shipping_cont h3 a {
font-size:18px;
line-height:25px;
padding:0;
}

.footer_one .column_two .shipping_cont {
margin:0;
padding:8px 10px 16px 0;
}

.footer_one .column_two .shipping_cont a {
padding:10px 20px;
}

.new_homePage_footer_inner_page .column_three {
float:right;
width:33%;
margin:21px 15px 0 0;
padding:0;
}

.column_three p {
margin:0 0 4px;
}

.new_homePage_footer_inner_page .column_three form {
float:left;
padding:0 20px 20px 0;
}

.new_homePage_footer_inner_page .footer_two .copyright {
width:110px;
font-size:11px;
}

.footer_two .footer_a_div a {
font-size:11px;
}

.footer_one .column_two .shipping_cont p,.footer_one .column_three ul li a {
font-size:14px;
}
}

@media max-width 650px {
#viewport {
background:#ebebeb url(../img/menu_shadow.png) repeat-y 577px 0;
}

#logNav {
position:fixed;
width:100%;
top:0;
left:0;
display:none;
}

#logNav ul {
float:left;
width:100%;
}

#logNav ul li {
float:left;
clear:left;
width:100%;
}

#logNav ul li a {
border-bottom:1px solid #c3c3c3;
display:block;
float:left;
width:100%;
color:#067bb5;
font-size:16px;
padding:20px 0 20px 10px;
}

body.menu-open #logNav {
overflow:auto;
-webkit-overflow-scrolling:touch;
}

.container-fluid {
-webkit-transition-property:0;
-webkit-transform:translate3d(0,0,0);
}

body.menu-opening .container-fluid,body.menu-closing .container-fluid {
-webkit-transition-duration:200ms;
-webkit-transition-timing-function:ease-in;
}

body.menu-moving .container-fluid {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-user-select:none;
}

.home_header {
margin:0;
}

.trigger {
position:absolute;
z-index:2;
top:0;
left:0;
display:block;
width:44px;
height:44px;
background:#b7b7b7 url(../img/menu-trigger.png) no-repeat center center;
}

.home_logo {
position:absolute;
left:8px;
top:52px;
width:217px;
height:60px;
background:none, url(../img/sears_logo_mob.svg) no-repeat 0 0;
z-index:999;
}

.header_right_panel {
position:absolute;
left:0;
top:0;
width:100%;
height:44px;
z-index:998;
background:#ebebeb;
}

#ItemsCarts .shoppCart_leftImg {
text-indent:-9999px;
background:url(../img/cart_icon.png) no-repeat 11px 13px;
height:34px;
width:30px;
}

.cart_navigation ul {
list-style-type:none;
height:44px;
position:relative;
margin:0;
padding:0;
}

.cart_navigation ul li a {
font-size:12px;
border-left:1px solid #c3c3c3;
border-right:none;
padding:5px 7px;
}

.phone_menu_tabs ul {
list-style:none;
position:relative;
margin:0 0 10px -166px;
}

#searchBarForm {
margin:38px auto 0;
}

.search_input_div .input2 .input_2 {
margin:0 0 0 15px;
}

.Our_finder {
color:#fff;
font-size:13px;
font-weight:400;
}

#newFinderModel {
font-size:13px;
}

.waterfiltertagline {
height:57px;
border-bottom:1px solid #ccc;
background:none;
padding:0;
}

.waterfiltertagline p {
width:83%;
background:url(../img/waterfiltercup.png) no-repeat top left;
font-size:12px;
padding:5px 0 5px 80px;
}

.waterfiltertagline p .btn {
background:none;
text-shadow:none;
font-weight:700;
border:0;
font-size:12px;
padding:0;
}

article {
margin:-19px 0 0;
padding:15px 10px;
}

.footer_one .column_one {
float:left;
width:90%;
padding:20px 0 7px 20px;
}

.footer_one .column_one a {
width:46px;
float:left;
margin:0 4%;
}

.footer_one .column_one ul li:first-child a {
margin:0 4% 0 0;
}

.footer_one .column_one ul li:last-child a {
font-weight:600;
margin:0 0 0 4%;
}

.footer_one .column_one a p {
float:left;
text-align:center;
width:100%;
}

.new_homePage_footer_inner_page .column_two {
width:90%;
position:relative;
clear:both;
margin:0 auto;
padding:0;
}

.new_homePage_footer_inner_page .column_three {
width:95%;
clear:both;
margin:0;
padding:0;
}

.footer_two .footer_a_div {
width:81%;
clear:both;
text-align:center;
float:none;
margin:0 auto;
}

.footer_two .footer_a_div a {
font-size:11px;
color:#666;
text-decoration:none;
float:none;
margin:12px 13px 0;
}

.new_homePage_footer_inner_page .footer_two .copyright {
width:100%;
font-size:12px;
text-align:center;
}

.footer_two .otherLogos {
width:100%;
float:none;
clear:both;
text-align:center;
margin:8px 0 0;
}

body,.mani_search_panel {
padding:0;
}

.brandBar,.login_navigation,.li_shadow_curve,.body_shadow_left,.body_shadow_right,.footer_one .column_one a span {
display:none;
}

.footer_one .column_one ul,.footer_one .column_three ul {
width:100%;
float:left;
margin:0;
}
}

@media max-width 480px {
#searchBarForm {
margin:60px auto 0;
}

.tab-content {
overflow:hidden;
}

.home_logo {
position:absolute;
left:8px;
top:52px;
width:217px;
height:27px;
}

.phone_menu_tabs {
width:100%;
height:38px;
position:relative;
z-index:120;
margin:0 auto -8px;
}

.phone_menu_tabs ul {
list-style:none;
position:relative;
margin:0 0 10px;
}

.mani_search_panel .legacy_search {
min-width:100%;
height:74px;
margin:0;
}

.search_input_div {
position:absolute;
left:0;
top:0;
height:32px;
line-height:32px;
width:100%;
z-index:99;
margin:15px 10px 32px;
}

.search_input_div .input2 {
width:147px;
height:32px;
margin:0;
}

.search_input_div .input2 .input_2 {
width:147px;
height:32px;
line-height:32px;
margin:0;
}

.search_input_div .input3 {
width:80px;
height:32px;
position:absolute;
left:170px;
}

.manuals_help_div {
position:absolute;
left:0;
top:0;
height:32px;
line-height:32px;
width:100%;
z-index:99;
display:none;
margin:15px 10px 32px;
}

.new_DdArrow {
width:100%;
height:32px;
border:none;
}

.new_DdArrow input {
background:none;
cursor:default;
font-weight:400;
}

.search_input_div .input_btn {
width:65px;
height:32px;
float:left;
position:absolute;
right:40px;
top:0;
border-radius:2px;
}

.search_input_div .input_btn a {
float:left;
text-decoration:none;
color:#fff;
height:32px;
line-height:32px;
background:#f60;
border-radius:2px;
text-shadow:1px 1px 0 #666;
text-align:center;
font-size:14px;
padding:0 22px;
}

.Our_finder {
left:12px;
bottom:-62px;
color:#fff;
position:absolute;
z-index:101;
font-size:12px;
margin:2px 0 0;
}

#logNav {
position:fixed;
width:100%;
top:0;
left:0;
display:none;
}

#logNav ul {
float:left;
width:100%;
}

#logNav ul li {
float:left;
clear:left;
width:100%;
}

#logNav ul li a {
border-bottom:1px solid #c3c3c3;
display:block;
float:left;
width:100%;
color:#067bb5;
font-size:16px;
padding:20px 0 20px 10px;
}

.footer_one .column_one {
width:96%;
float:none;
margin:0 auto 60px;
padding:0;
}

.footer_one .column_one ul {
float:left;
margin:15px 0;
}

.footer_one .column_one ul li:first-child a {
margin:0 4%;
}

.footer_one .column_one a {
width:46px;
float:left;
margin:0 5%;
}

.new_homePage_footer_inner_page .column_two {
width:91%;
position:relative;
clear:both;
float:none;
margin:0 auto;
padding:0;
}

.footer_one .column_two .shipping_cont {
margin:0;
padding:8px 0 16px;
}

.footer_one .column_two .shipping_cont p {
font-size:14px;
padding:0 20px 4px;
}

.new_homePage_footer_inner_page .column_three form {
margin:10px 0 20px;
}

.footer_two .footer_a_div a {
font-size:11px;
color:#666;
text-decoration:none;
float:none;
margin:12px 5px 0 2px;
}

.footer_one .column_one a .icons_div {
margin:0 0 10px;
}

.footer_one .column_one a p {
float:left;
text-align:center;
width:100%;
font-size:14px;
font-weight:600;
}

.footer_one .column_three .first_helpful_link_set {
margin:7px 0 0;
}

.brandBar,.search_input_div .in,.login_navigation,.footer_one .column_one ul li:last-child {
display:none;
}

.search_input_div .active,.manuals_help_div .active {
display:block;
}
}

@media max-width 320px {
.brandBar {
display:none;
}
}