/* Base: Universal Variables and Mixins */
@import "base.reset.less";
@import "base.variables.less";
@import "base.mixins.less";

body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
#body_bg {
	background-position: 0 0;
	background-repeat: repeat-x;
}
#body_spacer {
	background-position: 0 0;
	background-repeat: repeat-x;
}
.body_spacer_inner_page {
	background-position: 0 0;
	background-repeat: repeat-x;
}
.white_bg {
	background-position: center top;
	background-repeat: repeat-y;
}
.superHeaderBg {
	min-width: 1003px;
	height: 31px;
}
.main_wrap {
	margin: 0 auto;
	/*max-width:1260px;*/	
	width: 1003px;
}
.clear {
	clear: both;
}
.home_header {
	margin: 0 20px;
	background-color: #fff;
}
.home_header .inner_header {
	position: relative;
	padding: 60px 0 0 0;
	z-index: 9;
	background: #ffffff;
}
.body_shadow_left {
	width: 6px;
	height: 188px;
	position: absolute;
	left: -6px;
	top: 0px;
}
.body_shadow_right {
	width: 6px;
	height: 188px;
	position: absolute;
	right: -6px;
	top: 0px;
}
.home_logo {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 146px;
	height: 60px;
	background: url('../../img/sears_logo_new.png') no-repeat 0 0;
	z-index: 999;
}
.home_logo a:link,  .home_logo a:visited {
	float: left;
	width: 148px;
	height: 69px;
}
.home_logo a:active,  .home_logo a:hover {
	outline: none;
}
.home_logo a span {
	display: none;
}
.header_right_panel {
	position: absolute;
	right: -5px;
	top: 20px;
	z-index: 998;
}
.header_right_panel .login_navigation {
	float: right;
	margin: 0 0 15px 0;
}
.login_navigation ul {
	margin: 0 5px 0 0;
	padding: 0;
	list-style-type: none;
}
.login_navigation ul li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
	color: #304295;
	font-size: 11px;
	list-style-type: none;
}
.login_navigation ul li a {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 11px;
}
.gray_color {
	color: #666666;
}
.header_right_panel .cart_navigation {
	float: right;
	height: 40px;
}
.cart_navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 40px;
	position: relative;
}
.cart_navigation ul .li_shadow_curve {
	background-position: 2px -12px;
	background-repeat: no-repeat;
	bottom: 0;
	height: 7px;
	position: absolute;
	right: 0;
	width: 7px;
	background-image: url(../../img/home_sprite.png);
}
.cart_navigation ul li {
	float: left;
	background: #ebebeb;
	line-height: 34px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.cart_navigation ul li a {
	float: left;
	line-height: 34px;
	margin: 0;
	padding: 0 8px 0 7px;
	font-size: 11px;
	text-decoration: none;
	border-right: 1px solid #c3c3c3;
}
.cart_navigation ul li a span {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 7px;
	width: 10px;
	background-image: url(../../img/home_sprite.png);
}
.cart_navigation ul li a span.cart {
	background-position: 0 -21px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	top: 5px;
	background-image: url(../../img/home_sprite.png);
}
.cart_navigation ul li a #scCartItemCountHeader {
	background: none;
	display: inline;
}
.cart_navigation ul li:hover a {
	background: #304e88;
	color: #fff;
	border-right: 1px solid #304295;
}
.cart_navigation ul li.itemsInCart a {
	background: #304e88;
	color: #fff;
	border-right: 1px solid #304295;
}
.cart_navigation ul li.itemsInCart a span {
	background-position: -16px 0;
	background-repeat: no-repeat;
	display: inline-block;
}
.cart_navigation ul li.itemsInCart a span.cart {
	background-position: -19px -21px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(../../img/home_sprite.png);
}
.cart_navigation ul li:hover a span {
	background-position: -16px 0;
	background-repeat: no-repeat;
	display: inline-block;
}
.cart_navigation ul li:hover a span.cart {
	background-position: -19px -21px;
	background-repeat: no-repeat;
	display: inline-block;
}
.cart_navigation ul li.currentClass a {
	background: #304295;
	color: #fff;
	border-right: 1px solid #304295;
}
.cart_navigation ul li.currentClass a span {
	background-position: -16px 0;
	background-repeat: no-repeat;
	display: inline-block;
}
.cart_navigation ul li.currentClass a span.cart {
	background-position: -19px -21px;
	background-repeat: no-repeat;
	display: inline-block;
}
div#currentCart .itemInCart .partNumber {
	color: #067bb5;
	padding: 0;
	margin: 0 0 -8px 0;
}
div#currentCart .itemInCart .partNumber:hover {
	color: #304e88;
	text-decoration: underline;
}
div#currentCart p.ghostCart_addedItem {
	color: #666666;
}
#showCart h3 {
	font-size: 14px;
	color: #666666;
	text-align: center;
}
#ItemsCarts div#currentCart #editLink a.arrow_blue_link {
	color: #067bb5;
	font-size: 13px;
}
/*Recently View Drop down */
#RecentlyViewedDiv img, #MyModelsDiv img, #ItemsCartsDiv img {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}
#RecentlyViewedDiv, #ItemsCartsDiv {
	position: absolute;
	top: 34px;
	left: 0px;
	width: 240px;
	display: none;
}
#MyModelsDiv {
	position: absolute;
	top: 34px;
	left: -60px;
	width: 382px;
	display: none;
	background: none;
}
.resentView {
	width: 240px;
}
.topArrowDiv {
	background-position: -34px -5px;
	background-repeat: no-repeat;
	height: 13px;
	left: 50px;
	position: absolute;
	top: -3px;
	width: 37px;
	z-index: 8888;
}
#MyModelsDiv .topArrowDiv {
	left: 224px;
}
.left_2 {
	left: 120px;
}
.left_3 {
	left: 180px;
}
.resentViewTopRow {
	float: left;
	width: 216px;
	margin: 0 12px;
	height: 8px;
	background-repeat: repeat-x;
	background-position: left top;
}
.resentViewTopRow .topLeftCurve {
	position: absolute;
	left: 0px;
	top: 0;
	width: 12px;
	height: 8px;
	background-position: left top;
	background-repeat: no-repeat;
}
.resentViewTopRow .topRightCurve {
	position: absolute;
	right: 0px;
	top: 0;
	width: 12px;
	height: 8px;
	background-position: -17px top;
	background-repeat: no-repeat;
}
.resentViewBottopRow {
	float: left;
	width: 216px;
	margin: 0 12px;
	height: 11px;
	background-position: left top;
	background-repeat: repeat-x;
}
.resentViewBottopRow .bottomLeftCurve {
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 12px;
	height: 11px;
	background-position: left bottom;
	background-repeat: no-repeat;
}
.resentViewBottopRow .bottomRightCurve {
	position: absolute;
	right: 0px;
	bottom: 0;
	width: 12px;
	height: 11px;
	background-position: -17px bottom;
	background-repeat: no-repeat;
}
.resentViewContentDiv {
	float: left;
	width: 240px;
	background-position: left top;
	background-repeat: repeat-y;
}
.resentViewContentDiv .ViewContent {
	background-position: 228px top;
	background-repeat: repeat-y;
	float: left;
	padding: 0px 8px;
	width: 224px;
}
.view_row {
	float: left;
	width: 204px;
	line-height: 150%;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px;
	margin: 0;
}
.border_bottom_none {
	border-bottom: 0px solid #e0e0e0;
}
.view_row a {
	float: none;
	padding: 0 0 0 0px;
	color: #067bb5;
	line-height: normal;
	border: none;
	background: none;
	text-decoration: none;
	word-wrap: break-word;
	font-size: 12px;
}
.view_row a:hover {
	color: #304e88;
	text-decoration: underline;
}
.view_row .row_col1 {
	float: left;
	font-size: 12px;
v
}
.view_row .row_col1 span {
	float: left;
	padding: 0 5px 0 0;
	margin: -3px 0 0 0;
}
.view_row .row_col2 {
	float: left;
	padding: 0 10px 0 0;
	font-size: 12px;
}
.view_row .row_col2 img {
	width: 60px;
	height: 60px;
}
.view_row .row_col3 {
	float: left;
	width: 130px;
}
/*Recently View Drop  down */

#searchBarForm {
	width: 950px;
	margin: 50px auto 0;
	position: relative;
}
.newHomePage .mani_search_panel {
	margin: 0 auto;
}
.Our_finder {
	bottom: -84px;
	color: #FFFFFF;
	left: 165px;
	position: absolute;
	z-index: 101;
	font-size: 12px;
	margin: 17px 0 0 0;
}
.left_pos {
	left: 205px;
}
.Our_finder a {
	color: #fff;
}
.Our_finder a:hover {
	color: #fff;
	text-decoration: underline;
}
.Our_finder span.arrow {
	background-position: 0 -71px;
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: inline-block;
	height: 4px;
	padding: 0;
	position: absolute;
	top: 6px;
	width: 15px;
}
.Our_finder span.arrow2 {
	background-position: 0 -71px;
	background-repeat: no-repeat;
	color: #ff0000;
	display: inline-block;
	height: 4px;
	padding: 0;
	position: absolute;
	top: 6px;
	width: 15px;
}
.mani_search_panel .tagline1 {
	margin: 61px auto -38px;
	width: 500px;
	position: relative;
}
.mani_search_panel .tagline1 img {
	margin: 0 0 0 -90px;
}
.mani_search_panel .tagline2 {
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding: 0 0 10px 0;
	color: #666666;
	clear: both;
}
.tagline2 span {
	font-weight: bold;
}
.mani_search_panel .solar_search {
	float: left;
	width: 575px;
	height: 103px;
	background-position: 0 0;
	background-repeat: repeat-x;
	position: relative;
	display: inline-block;
}
.mani_search_panel .solar_left_shadow {
	float: left;
	width: 189px;
	height: 103px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.mani_search_panel .solar_right_shadow {
	float: left;
	width: 189px;
	height: 103px;
	background-position: 0 -115px;
	background-repeat: no-repeat;
}
.mani_search_panel .legacy_search {
	float: left;
	min-width: 650px;
	height: 103px;
	position: relative;
	z-index: 100;
	background: url(../../img/search_blue_spacer.png) repeat-x 0 0;
}
.mani_search_panel .legacy_left_shadow {
	float: left;
	width: 149px;
	height: 103px;
	display: inline-block;
	background: url(../../img/search_sprite3.png) no-repeat -40px 0;
}
.mani_search_panel .legacy_right_shadow {
	float: left;
	width: 149px;
	height: 103px;
	display: inline-block;
	background: url(../../img/search_sprite3.png) no-repeat 0 -115px;
}
.man_img {
	position: absolute;
	width: 153px;
	height: 234px;
	right: 100px;
	top: -144px;
	background: url(../../img/man2.png) no-repeat 0 0;
}
.search_input_div {
	position: absolute;
	left: 0px;
	top: 0;
	height: 35px;
	line-height: 35px;
	margin: 22px 0 0 0;
	width: 97.5%;
	z-index: 99;
}
.search_input_div .input {
	float: left;
	width: 81%;
}
.search_input_div .input .input_1 {
	margin: 0 240px 0 15px;
	width: 93%;
	padding: 0 10px;
	height: 35px;
	border: 0px;
	background: #fff;
	line-height: 35px;
	color: #666;
	font-size: 16px;
	font-family: arial;
}
.in {
	float: left;
	padding: 0 10px;
	text-align: center;
	font-size: 26px;
	color: #ffffff;
}
.search_input_div .input2 {
	float: left;
	width: 55%;
}
.search_input_div .input2 .input_2 {
	margin: 0 240px 0 15px;
	padding: 0 10px;
	height: 35px;
	border: 0px;
	background: #fff;
	line-height: 35px;
	color: #666;
	font-size: 16px;
	font-family: arial;
	width: 90%;
	border-radius: 0;
}
.search_input_div .input3 {
	float: left;
	width: 35%;
	position: relative;
}
.search_input_div .input3 .input_3 {
	padding: 0 10px;
	height: 35px;
	border: 0px;
	background: #fff;
	line-height: 35px;
	color: #666;
	font-size: 16px;
	font-family: arial;
	width: 55%;
}
.new_fFinputType {
	background-color: transparent;
	padding: 0 0 0 5px;
	height: 35px;
	border: 0px;
	line-height: 35px;
	color: #666666;
	font-size: 14px;
	font-family: arial;
	width: 85%;
	font-weight: bold;
}
.new_DdArrow {
	background-color: #FFFFFF;
	background-position: 90% center;
	background-repeat: no-repeat;
	float: left;
	width: 66%;
	border-radius: 2px;
	border: 1px solid #cccccc;
	background-image: url(../../img/drop_arrow.png);
}
.new_DdArrow input {
	border: none;
	padding: 9px 0 0 11px;
	height: 13px;
	border-radius: 0;
}
.search_input_div .input_btn {
	position: absolute;
	right: 0px;
	top: 0px;
}
.search_input_div .input_btn a {
	float: left;
	text-decoration: none;
	color: #fff;
	height: 36px;
	line-height: 35px;
	padding: 0px 22px 0 22px;
	background: #ff6600;
	border-radius: 2px;
	text-shadow: 1px 1px 0px #666666;
	text-align: center;
	font-size: 14px;
}
.search_input_div p {
	color: #FFFFFF;
	float: left;
	margin: -3px 0 0 0;
	padding: 0 0 0 15px;
	width: 80%;
}
.search_input_div p a {
	text-decoration: underline;
	color: #fff;
}
ul.ui-autocomplete li.autocompleteSectionCnt {
	margin: 1px 0 0;
}
.new_popMenu {
	display: none;
	left: 0px;
	position: absolute;
	top: 35px;
	width: 148px;
	background-color: #fff;
	border: 0px solid #ccc;
	border-top: 0px;
}
.new_popMenu ul.selType {
	list-style: none outside none;
	padding: 0px;
	background-color: #fff;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.new_popMenu ul.selType li {
	display: inline;
}
.new_popMenu ul.selType li a {
	color: #898989;
	display: block;
	padding: 0 0 0 11px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
.new_popMenu ul.selType li a:hover {
	background-color: #067bb5;
	color: #FFF;
}
/* ------------------------------ */
/* 3. Main Carousel Css           */
/* ------------------------------ */

.main_carousel {
	position: relative;
	left: 0px;
}
.main_carousel_arrow_button {
	width: 48px;
	height: 111px;
	margin-top: 59px;
	cursor: pointer;
}
.main_carousel_left_arrow {
	width: 81px;
	height: 230px;
	position: absolute;
	left: -30px;
	top: 65px;
}
.main_carousel_left_arrow_over {
	background-position: -189px 0;
}
.main_carousel_left_arrow .main_carousel_arrow_button {
	margin-left: 32px;
}
.main_carousel_right_arrow {
	width: 81px;
	height: 230px;
	position: absolute;
	right: -27px;
	background-position: -112px 0;
	top: 65px;
}
.main_carousel_right_arrow_over {
	background-position: -301px 0;
}
.main_carousel .main_carousel_container {
	width: 900px;
	height: 389px;
	position: relative;
	overflow: hidden;
	margin: 0 50px;
}
.main_carousel_container ul {
	overflow: hidden;
	width: 20000px;
}
.main_carousel_container li {
	float: left;
	position: relative;
}
.main_carousel .attnText {
	color: #F00f00;
}
.main_carousel li .mc_main_slide_image {
	width: 300px;
	height: 206px;
	display: block;
}
.main_carousel .carousel_slide1 .mc_main_slide_image {
	background-position: 0 -242px;
}
.main_carousel .carousel_slide2 .mc_main_slide_image {
	background-position: 0 -458px;
}
.main_carousel .carousel_slide3 .mc_main_slide_image {
	background-position: 0 -674px;
}
.main_carousel .carousel_slide4 .mc_main_slide_image {
	background-position: 0 -890px;
}
.main_carousel .carousel_slide5 .mc_main_slide_image {
	background-position: 0 -1106px;
}
.main_carousel .carousel_slide6 .mc_main_slide_image {
	background-position: 0 -1969px;
}
.main_carousel .carousel_slide7 .mc_main_slide_image {
	background-position: 0 -1538px;
}
.main_carousel .carousel_slide8 .mc_main_slide_image {
	background-position: 0 -1754px;
}
.main_carousel li .mc_slide_icon {
	width: 88px;
	height: 88px;
	display: block;
	position: absolute;
	top: 160px;
	left: 106px;
}
.main_carousel .carousel_slide1 .mc_slide_icon {
	background-position: -308px -250px;
}
.main_carousel .carousel_slide1 .mc_slide_icon_over {
	background-position: -308px -350px;
}
.main_carousel .carousel_slide2 .mc_slide_icon {
	background-position: -308px -470px;
}
.main_carousel .carousel_slide2 .mc_slide_icon_over {
	background-position: -308px -570px;
}
.main_carousel .carousel_slide3 .mc_slide_icon {
	background-position: -308px -680px;
}
.main_carousel .carousel_slide3 .mc_slide_icon_over {
	background-position: -308px -780px;
}
.main_carousel .carousel_slide4 .mc_slide_icon {
	background-position: -308px -900px;
}
.main_carousel .carousel_slide4 .mc_slide_icon_over {
	background-position: -308px -1000px;
}
.main_carousel .carousel_slide5 .mc_slide_icon {
	background-position: -308px -1110px;
}
.main_carousel .carousel_slide5 .mc_slide_icon_over {
	background-position: -308px -1210px;
}
.main_carousel .carousel_slide6 .mc_slide_icon {
	background-position: -308px -1981px;
}
.main_carousel .carousel_slide6 .mc_slide_icon_over {
	background-position: -308px -2081px;
}
.main_carousel .carousel_slide7 .mc_slide_icon {
	background-position: -308px -1550px;
}
.main_carousel .carousel_slide7 .mc_slide_icon_over {
	background-position: -308px -1650px;
}
.main_carousel .carousel_slide8 .mc_slide_icon {
	background-position: -308px -1760px;
}
.main_carousel .carousel_slide8 .mc_slide_icon_over {
	background-position: -308px -1860px;
}
.main_carousel li .mc_slide_bottom {
	background-color: #ebebeb;
	width: 290px;
	height: 170px;
	margin: 0 5px;
	padding-top: 5px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content_bar {
	background-color: #dedede;
	width: 280px;
	height: 10px;
	margin: 0 5px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content {
	margin: 35px 20px 0;
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_title {
	margin: 0 0 5px;
	color: #304295;
	font-size: 20px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_text {
	height: 55px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_button {
	display: block;
	position: relative;
	float: left;
	background-color: #fff;
	border: 1px solid #b5cde4;
	padding: 4px 15px 4px 15px;
	font-weight: bold;
	border-radius: 2px;
}
.main_carousel li .mc_slide_bottom .mc_slide_content a:hover {
}
.main_carousel li .mc_slide_bottom .mc_slide_content .mc_slide_button_arrow {
	width: 8px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 10px;
	background-position: -387px -222px;
}
.main_carousel .mc_slide_number_bar {
	text-align: center;
	line-height: 30px;
	width: 890px;
	margin: 0 auto;
	background-color: #ebebeb;
	position: relative;
	left: 0px;
}
.main_carousel .mc_slide_number_bar a {
	margin: 0 1px;
	padding: 4px 8px;
}
.main_carousel .mc_slide_number_bar a:hover {
	text-decoration: none;
}
.main_carousel .mc_slide_number_bar a.mcsn_active {
	color: #fff;
	background-position: -405px -219px;
}
/* ------------------------------------------ */
/* Find Parts By Top Categories & Footer Css  */
/* ------------------------------------------ */
.FindPartCategories_and_Testimonials {
	float: left;
	margin: 30px 0 37px 20px;
	width: 963px;
}
.FindPartCategories_and_Testimonials h2 {
	float: left;
	width: 100%;
	padding: 0 0 13px 0;
	margin: 0px;
	color: #333333;
	font-size: 20px;
}
.FindPartCategories_and_Testimonials .topCategories {
	float: left;
	width: 450px;
	margin: 0 0 0 34px;
}
.FindPartCategories_and_Testimonials .topCategories ul {
	float: left;
	margin: 0px;
	padding: 0 25px 0 0;
	list-style-type: none;
}
.FindPartCategories_and_Testimonials .topCategories ul li {
	display: block;
	margin: 0px;
	padding: 0 0 5px 0;
}
.FindPartCategories_and_Testimonials .topCategories ul li a {
	display: block;
	font-size: 14px;
	text-decoration: none;
}
.FindPartCategories_and_Testimonials .topCategories ul li a:hover {
	text-decoration: underline;
}
.browse_Categories a {
	float: left;
	width: 140px;
	font-size: 12px;
	font-weight: bold;
	margin: 18px 0 0 0;
	padding: 3px 3px 3px 5px;
	border: 1px solid #b5cde4;
	position: relative;
	text-align: center;
	color: #4577a3;
	border-radius: 2px;
}
.browse_Categories a span {
	width: 15px;
	height: 15px;
	background-position: -109px -120px;
	background-repeat: no-repeat;
	position: absolute;
}
.FindPartCategories_and_Testimonials .Testimonials {
	float: left;
	width: 350px;
	margin: 0 0 0 40px;
}
.FindPartCategories_and_Testimonials .Testimonials p {
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
	font-family: Georgia;
	font-style: italic;
	font-size: 15px;
	color: #666666;
}
.FindPartCategories_and_Testimonials .Testimonials p span {
	font-style: normal;
	font-size: 12px;
	float: left;
	padding-top: 5px;
}
.new_homePage_footer {
	float: left;
	width: 963px;
	margin: 0 0 0 20px;
	border-top: 2px solid #fff;
	position: relative;
}
.gray_border {
	width: 100%;
	background: #c0c1c5;
	height: 1px;
	position: absolute;
	top: -2px;
	left: 0px;
}
.footer_one {
	float: left;
	width: 100%;
	background: #ebebeb;
}
.footer_one .column_one {
	float: left;
	width: 310px;
	padding: 20px 20px 57px 25px;
}
.footer_one .column_one #lpchatbutton4 a img {
	display: none;
}
.footer_one .column_one #lpvoicebutton4 a img {
	display: none;
}
.footer_one .column_one a {
	width: 310px;
	float: left;
	padding: 5px 0 0 0;
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: bold;
}
.footer_one .column_one a:hover {
	text-decoration: none;
}
.footer_one .column_one a span {
	display: block;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}
.footer_one .column_one a p {
	color: #067bb5;
}
.footer_one .column_one a:hover p {
	text-decoration: underline;
	color: #304e88;
}
.footer_one .column_one a p:hover {
	text-decoration: underline;
	color: #304e88;
}
.icons_div {
	float: left;
	width: 43px;
	height: 43px;
	margin: -4px 10px 0 0;
	background-repeat: no-repeat;
}
#icon_3 {
	background-position: left -105px;
}
#icon_4 {
	background-position: left -158px;
}
#icon_5 {
	background-position: left -210px;
}
.footer_one .column_one a:hover #icon_3 {
	background-position: -44px -105px;
}
.footer_one .column_one a:hover #icon_4 {
	background-position: -44px -158px;
}
.footer_one .column_one a:hover #icon_5 {
	background-position: -44px -210px;
}
.footer_one .column_two {
	float: left;
	width: 246px;
	margin: 0 15px 0 20px;
	padding: 20px 0px 15px 0px;
}
.footer_one .column_two .fast_shipping {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 25px 0;
	position: relative;
}
.bg_position {
	background-position: -149px 28px;
}
.footer_one .column_two .curves {
	float: right;
	width: 246px;
	height: 5px;
	background-repeat: no-repeat;
}
.footer_one .column_two .fast_shipping .icon_bg_curves {
	background-position: -149px 0px;
	background-repeat: no-repeat;
	position: absolute;
	width: 45px;
	height: 74px;
	top: 27px;
}
.footer_one .column_two #top {
	background-position: 33px -256px;
}
.footer_one .column_two #bottom {
	background-position: 33px -265px;
}
.footer_one .column_two .shipping_cont {
	float: left;
	padding: 5px 20px 10px 0px;
	margin: 0 0 0 30px;
	background: none #ffffff;
	border-radius: 3px;
	width: 100%;
}
.footer_one .column_two .shipping_cont h3 {
	font-size: 22px;
	font-weight: normal;
	padding-left: 36px;
	color: #304295;
	width: 100%;
}
.footer_one .column_two .shipping_cont h3 a {
	font-size: 22px;
	font-weight: normal;
	color: #067bb5;
	margin: 0;
	border: none;
	width: 175px;
	padding: 0 0 3px 0;
	text-align: left;
}
.footer_one .column_two .shipping_cont h3 a:hover {
	color: #304e88;
}
.footer_one .column_two .shipping_cont p {
	color: #666666;
	font-size: 12px;
	padding-left: 36px;
	clear: both;
}
.footer_one .column_two .shipping_cont a {
	float: left;
	width: 80px;
	font-size: 12px;
	font-weight: bold;
	margin: 8px 0 0 36px;
	padding: 3px 3px 3px 5px;
	border: 1px solid #b5cde4;
	position: relative;
	text-align: center;
	color: #4577a3;
	border-radius: 2px;
}
.footer_one .column_two .shipping_cont a span {
	width: 15px;
	height: 15px;
	background-position: -109px -103px;
	background-repeat: no-repeat;
	position: absolute;
}
.footer_one .column_two .shipping_cont a:hover {
}
#car_icon {
	position: absolute;
	left: 0px;
	top: 41px;
	background-position: -87px 0px;
	background-repeat: no-repeat;
	height: 44px;
	width: 60px;
}
#right_icon {
	position: absolute;
	left: 0px;
	top: 42px;
	background-position: -91px -48px;
	background-repeat: no-repeat;
	height: 50px;
	width: 60px;
}
.footer_one .column_three {
	float: right;
	width: 280px;
	padding: 20px 25px 15px 20px;
}
.footer_one .column_three h3 {
	color: #666666;
	font-size: 18px;
	font-weight: normal;
	display: block;
	padding: 0 0 10px 0;
}
.footer_one .column_three h3 span {
	font-weight: bold;
}
.column_three p {
	float: left;
	width: 100%;
	padding: 0 0 3px 0;
	font-size: 14px;
}
.column_three ul {
	float: left;
	margin: 10px 0 0 0;
	padding: 0px;
	list-style-type: none;
}
.column_three ul li {
	display: block;
	margin: 0px;
	padding: 0 0 9px 0;
}
.column_three ul li a {
	text-decoration: none;
}
.column_three ul li a:hover {
	text-decoration: underline;
}
.footer_two {
	float: left;
	width: 100%;
	height: 45px;
	background-position: bottom left;
	background-repeat: repeat-x;
}
.footer_two .glow_div {
	margin: 0px auto;
	width: 100%;
	height: 6px;
	background-color: #304e88;
}
.footer_two .footer_a_div {
	margin: 0 auto;
	width: 561px;
}
.footer_two .footer_a_div a {
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #666666;
	margin: 12px 13px 0 13px;
	text-decoration: none;
}
.footer_two .footer_a_div a:hover {
	text-decoration: underline;
}
.footer_two .copyright {
	width: 150px;
	float: left;
	padding: 12px 0 0 0;
	color: #666666;
}
.footer_two .otherLogos {
	width: 88px;
	float: right;
	margin: 8px 0 0 0;
}
.footer_three {
	float: left;
	padding: 15px 0px;
	width: 100%;
	font-family: arial;
	color: #666666;
}
.footer_three .f_left {
	float: left;
}
.footer_three .f_right {
	float: right;
}
.footer_three .f_right img {
	border: none;
	cursor: default;
}
#ItemsCarts #ghost_cart {
	right: -67px;
	top: 0;
	width: 240px;
}
#ItemsCarts #ghost_cart .topArrowDiv {
	left: 192px;
}
#ItemsCarts #ghost_cart .ViewContent * {
	background-color: #fff;
}
.ViewContent .ghostCart_bottom {
	background: none;
}
.ViewContent h3.blue {
	color: rgb(34, 72, 150);
	float: none;
	font-size: 11px;
	font-weight: bold;
	margin: 5px 0 0;
	text-align: center;
}
.ViewContent p.ghostCart_noItems {
	color: rgb(51, 51, 51);
	font-size: 14px;
	margin: 20px 0;
	text-align: center;
}
.ViewContent p.copy {
	border-top: 1px solid rgb(205, 205, 205);
	color: rgb(83, 83, 83);
	font-weight: bold;
	padding: 10px 0 5px;
	text-align: center;
}
#ItemsCarts div#currentCart #checkout .button a, #ItemsCarts .ghostCart_details {
	line-height: 15px;
}
#ItemsCarts div#currentCart #checkout .button a {
	color: #fff;
	font-size: 13px;
	padding: 8px 15px 8px 10px;
	text-align: center;
	background: none;
	background-color: #ff6600;
	border-radius: 2px;
	text-shadow: 1px 0 1px #666666;
}
div#currentCart .itemInCart .partNumber, #ItemsCarts div#currentCart #editLink a.arrow_blue_link {
	line-height: normal;
	float: none;
}
#ItemsCarts div#currentCart p.copy {
	border-top: 1px solid #CDCDCD;
	color: #535353;
	font-weight: bold;
	padding: 10px 0 5px 0;
	text-align: center;
}
#ItemsCarts #showCart {
	clear: both;
}
#ItemsCarts #editLink a, #MyModelsDiv #modelFlyOut .middle {
	border: none;
}
#MyModelsDiv #modelFlyOut .middle {
	margin: 0;
	padding: 7px 5px;
}
.cart_navigation ul li #modelCount {
	color: #067bb5;
	font-size: 11px;
	display: inline;
}
.cart_navigation ul li:hover #modelCount {
	color: #ffffff;
}
#MyModelsDiv #modelFlyOut .top_border, #MyModelsDiv #modelFlyOut .bottom_border {
	display: none;
}
#MyModelsDiv #modelFlyOut .items_list {
	border: none;
	margin: 0;
	overflow-x: hidden;
	width: auto;
}
#MyModelsDiv #modelFlyOut .items_list ul li a, #MyModelsDiv #modelFlyOut .items_list ul li {
	background: #fff;
	border: none;
	color: #067bb5;
	line-height: normal;
	width: 100%;
}
#MyModelsDiv #modelFlyOut .items_list ul li a:hover {
	text-decoration: underline;
}
#MyModelsDiv #modelUserListing .items_list ul li {
	background: none;
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}
#MyModelsDiv #modelFlyOut .items_list ul li .check {
	padding: 5px 5px 0 0;
	position: relative;
}
#MyModelsDiv #modelFlyOut .items_list ul li .item_info {
	display: inline-block;
	float: left;
	padding: 0;
	width: 91%;
}
#MyModelsDiv #modelFlyOut .model_list h4 {
	clear: both;
	width: 100%;
}
#MyModelsDiv #modelUserListing .items_list li.last {
	border: none;
}
#MyModelsDiv #modelUserListing .items_list ul {
	overflow: hidden;
	border: none;
	height: auto;
}
#MyModelsDiv #modelGuestListing ul li {
	border-bottom: 1px solid #efefef;
}
/* ------------------- */
/*   New Model Finder  */
/* ------------------- */

#model_finder_pos {
	position: relative;
}
.solar_width {
	width: 579px;
	float: left;
}
.legacy_width {
	width: 654px;
	float: left;
}
#newFinderModel {
/**/
}
.left_pos_model_finder {
	left: 183px;
}
.newFinderDiv {
	position: absolute;
	left: 143px;
	top: -13px;
	background: #fff;
	border: 4px solid #1d276a;
	border-top: 0px;
	padding: 0px;
	display: none;
}
.newFinderDiv h2 {
	color: #333333;
	font-weight: normal;
	font-size: 16px;
	padding: 0 0 5px 0;
	margin: 10px 0 5px 0;
	font-weight: 800;
	text-align: left;
}
.newFinderDiv h4 {
	color: #333333;
	font-weight: normal;
	font-size: 13px;
	padding: 0 0 5px 0;
	margin: 30px 0 5px 0;
	font-weight: 800;
	text-align: left;
}
.newFinderDiv .finder_work_div {
	width: 96%;
	padding: 1.5% 2%;
	margin: 0px;
	float: left;
	background-position: center top;
	background-repeat: no-repeat;
}
.newFinderDiv .finder_work_div .select_product {
	width: 100%;
	position: relative;
}
.finder_work_div .select_product .ul_div, .finder_work_div .select_product .ul_div_product {
	float: left;
	width: 230px;
	padding: 0 15px 0 10px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #dedede;
	font-size: 14px;
	color: #666666;
	background-position: 230px center;
	background-repeat: no-repeat;
}
.finder_work_div .select_product .show_dropdown {
	position: absolute;
	z-index: 999;
	left: 0px;
	top: 36px;
	width: 255px;
	background: #fff;
	border: 1px solid #dedede;
	border-top: 0px;
	display: none;
}
.finder_work_div .select_product .show_dropdown_product {
	position: absolute;
	left: 0px;
	top: 36px;
	width: 255px;
	background: #fff;
	border: 1px solid #dedede;
	border-top: 0px;
	display: none;
}
.show_dropdown ul, .show_dropdown_product ul {
	margin: 0px;
	padding: 0px;
	display: block;
}
.show_dropdown ul li, .show_dropdown_product ul li {
	margin: 0px;
	padding: 0 0 1px 0;
	display: block;
}
.show_dropdown ul li a, .show_dropdown_product ul li a {
	display: block;
	padding: 5px 0 5px 10px;
	font-size: 14px;
	color: #666666;
	line-height: normal;
	text-decoration: none;
}
.show_dropdown ul li a:hover, .show_dropdown_product ul li a:hover {
	background: #1d276a;
	color: #fff;
}
.show_dropdown ul li a.select_current, .show_dropdown_product ul li a.select_current {
	background: #1d276a;
	color: #fff;
}
.models_number_div {
	margin: 20px 0 0 0;
	float: left;
}
.models_number_div ul {
	float: left;
	list-style-type: none;
	width: 100%;
}
.models_number_div ul li {
	float: left;
	margin: 5px 20px 5px 5px;
	padding: 0px;
}
.li_width_28 {
	width: 28%;
}
.li_width_40 {
	width: 40%;
}
.models_number_div ul li a {
	color: #666666;
	text-decoration: none;
}
.models_number_div ul li a:hover {
	text-decoration: underline;
}
.finder_content_div {
	float: left;
	width: 100%;
	padding: 10px 0 15px 0;
}
.finder_content_div .finder_default_img, .finder_default_img2 {
	width: 100%;
	margin: 5px 0 20px 0;
}
.finder_img {
	width: 100%;
	text-align: center;
}
.finder_close {
	float: left;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	border-top: 1px solid #dedede;
}
.finder_close img {
	cursor: pointer;
}
.finder_nav {
	float: left;
	width: 100%;
	margin: 10px 0px 20px 0px;
}
.finder_nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
.finder_nav ul li {
	float: left;
	padding: 0 20px;
	margin: 0px;
	border-left: 1px solid #dedede;
	list-style-type: none;
}
.finder_nav ul li a {
	float: left;
	color: #333333;
	font-size: 16px;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}
.finder_nav ul li.first {
	border-left: 0px solid #dedede;
	padding-left: 0px;
}
.finder_nav ul li a:hover {
	color: #304295;
}
.finder_nav ul li a.select_current {
	color: #304295;
}
.options_div {
	float: left;
	width: 100%;
	display: none;
}
.common_model_number_plates {
	width: 100%;
	float: left;
	line-height: normal;
}
.common_model_number_plates h4 {
	color: #333333;
	font-weight: normal;
	font-size: 13px;
	padding: 0 0 10px 0;
	font-weight: 800;
	line-height: normal;
	margin: 0px;
}
.common_model_number_plates ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.common_model_number_plates ul li {
	margin: 0 0 0 15px;
	padding: 0px;
	line-height: normal;
}
.common_model_number_plates .CMNP_left {
	float: left;
	width: 30%;
	padding: 0;
}
.CMNP_left ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.CMNP_left ul li {
	margin: 0px;
	padding: 0 0 10px 10px;
	background-position: 0px 4px;
	background-repeat: no-repeat;
}
.common_model_number_plates .CMNP_center {
	width: 43%;
	float: left;
	text-align: center;
}
.common_model_number_plates .CMNP_right {
	float: right;
	width: 27%;
	padding: 0;
}
.common_model_number_plates .CMNP_right ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 100%;
}
.common_model_number_plates .CMNP_right ul li {
	float: left;
	list-style-type: none;
	margin: 0 0 5px;
	padding: 0;
	width: 100%;
}
.common_model_number_plates .CMNP_right ul li input {
	float: left;
	margin: 2px 5px 0 0;
	padding: 0;
}
/********************************************/ 
/*    Brand Carousel on Home Page           */ 
/********************************************/ 
#brandsContainerSection {
	float: left;
	clear: both;
	width: 913px;
	padding: 70px 0 0 50px;
	height: 110px;
}
#brandsContainerSection h2 {
	color: #333333;
	font-size: 20px;
	padding: 0;
	margin: 0 0 14px 0;
	text-align: center;
}
#brandsContainerSection h2 a {
	font-size: 20px;
}
#brandsContainerSection h2 a:hover {
}
#everyProdPop, #everyBrandPop {
	display: none;
	padding: 14px 0 23px 12px;
	background-repeat: no-repeat;
	background-position: top left;
	color: #304295;
	font-size: 12px;
}
#everyProdPop {
	position: relative;
	top: -189px;
	left: 473px;
	float: left;
	width: 200px;
	color: #067bb5;
}
#everyBrandPop {
	position: relative;
	top: -189px;
	left: 365px;
	float: left;
	width: 200px;
	color: #067bb5;
}
#brandCarousel {
	float: left;
	clear: both;
	width: 950px;
}
#brandCarounsel ul, #brandCarousel ul li {
	float: left;
}
#brandCarousel > a {
	width: 20px;
	height: 45px;
	display: block;
	text-indent: -9999px;
	float: left;
}
#brandBackArrow {
	background-position: -12px -22px;
	position: relative;
}
#brandBackArrow:hover {
	background-position: -12px -93px;
}
#brandForArrow {
	float: right;
	background-position: 48px -22px;
}
#brandForArrow:hover {
	background-position: 48px -93px;
}
#brandsView {
	width: 860px;
	float: left;
	position: relative;
	overflow: hidden;
}
#brandsContainer {
	width: 860px;
	float: left;
	position: relative;
	height: 80px;
}
#brandsContainerList {
	left: -843px;
	position: relative;
	float: left;
	width: 2580px;
	height: 80px;
}
#brandsContainer li {
	float: left;
	padding: 0 15px 0 0;
}
#brandsContainer li a {
	float: left;
	width: 20px;
	height: 20px;
	display: block;
	text-indent: -9999px;
}
.brandsContainerList1 {
	float: left;
	width: 813px;
	padding: 0 0 0 35px;
}
.brandsContainerList1 #kenmore a {
	width: 44px;
	height: 45px;
	background-position: -48px -22px;
}
.brandsContainerList1 #whirlpool a {
	width: 89px;
	height: 45px;
	background-position: -115px -22px;
}
.brandsContainerList1 #maytag a {
	width: 63px;
	height: 45px;
	background-position: -225px -22px;
}
.brandsContainerList1 #ge a {
	width: 44px;
	height: 45px;
	background-position: -308px -22px;
}
.brandsContainerList1 #frigidaire a {
	width: 98px;
	height: 45px;
	background-position: -369px -22px;
}
.brandsContainerList1 #poulan a {
	width: 71px;
	height: 45px;
	background-position: -483px -22px;
}
.brandsContainerList1 #kitchenaid a {
	width: 102px;
	height: 45px;
	background-position: -570px -22px;
}
.brandsContainerList1 #briggs a {
	width: 80px;
	height: 45px;
	background-position: -683px -22px;
}
.brandsContainerList1 #husqvarna a {
	width: 87px;
	height: 45px;
	background-position: -777px -22px;
}
.brandsContainerList2 {
	float: left;
	width: 829px;
	padding: 0 0 0 19px;
}
.brandsContainerList2 #kenmoreelite a {
	width: 44px;
	height: 45px;
	background-position: -969px -22px;
}
.brandsContainerList2 #lg a {
	width: 91px;
	height: 45px;
	background-position: -1025px -22px;
}
.brandsContainerList2 #jenn-air a {
	width: 97px;
	height: 45px;
	background-position: 859px -22px;
}
.brandsContainerList2 #samsung a {
	width: 111px;
	height: 45px;
	background-position: 745px -22px;
}
.brandsContainerList2 #electrolux a {
	width: 123px;
	height: 45px;
	background-position: 617px -22px;
}
.brandsContainerList2 #weedeater a {
	width: 96px;
	height: 45px;
	background-position: 477px -22px;
}
.brandsContainerList2 #agrifab a {
	width: 77px;
	height: 45px;
	background-position: 365px -22px;
}
.brandsContainerList2 #viewAllBrands a {
	width: 47px;
	height: 45px;
	text-indent: 0;
	text-align: center;
	padding-top: 10px;
}
/*===================================
					Hover Styles for Brands
			 	=====================================*/
.brandsContainerList1 #kenmore a:hover {
	width: 44px;
	height: 45px;
	background-position: -48px -92px;
}
.brandsContainerList1 #whirlpool a:hover {
	width: 89px;
	height: 45px;
	background-position: -115px -92px;
}
.brandsContainerList1 #maytag a:hover {
	width: 63px;
	height: 45px;
	background-position: -225px -92px;
}
.brandsContainerList1 #ge a:hover {
	width: 44px;
	height: 45px;
	background-position: -308px -92px;
}
.brandsContainerList1 #frigidaire a:hover {
	width: 98px;
	height: 45px;
	background-position: -369px -92px;
}
.brandsContainerList1 #poulan a:hover {
	width: 71px;
	height: 45px;
	background-position: -483px -92px;
}
.brandsContainerList1 #kitchenaid a:hover {
	width: 102px;
	height: 45px;
	background-position: -570px -92px;
}
.brandsContainerList1 #briggs a:hover {
	width: 80px;
	height: 45px;
	background-position: -683px -92px;
}
.brandsContainerList1 #husqvarna a:hover {
	width: 87px;
	height: 45px;
	background-position: -777px -92px;
}
.brandsContainerList2 #kenmoreelite a:hover {
	width: 44px;
	height: 45px;
	background-position: -969px -92px;
}
.brandsContainerList2 #lg a:hover {
	width: 91px;
	height: 45px;
	background-position: -1025px -92px;
}
.brandsContainerList2 #jenn-air a:hover {
	width: 97px;
	height: 45px;
	background-position: 859px -92px;
}
.brandsContainerList2 #samsung a:hover {
	width: 111px;
	height: 45px;
	background-position: 745px -92px;
}
.brandsContainerList2 #electrolux a:hover {
	width: 123px;
	height: 45px;
	background-position: 617px -92px;
}
.brandsContainerList2 #weedeater a:hover {
	width: 96px;
	height: 45px;
	background-position: 477px -92px;
}
.brandsContainerList2 #agrifab a:hover {
	width: 77px;
	height: 45px;
	background-position: 365px -92px;
}
.show_dropdown_product_height {
	float: left;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}
/********************************************/ 				
/*  My models list						    */
/********************************************/ 
#MyModelsDiv {
	position: absolute;
	top: 34px;
	left: -60px;
	width: 382px;
	display: none;
}
#MyModelsDiv .topArrowDiv {
	left: 224px;
}
#MyModelsDiv .resentView {
	width: 384px;
}
#MyModelsDiv .resentViewTopRow {
	float: left;
	width: 358px;
	margin: 0 12px;
	height: 8px;
	background-repeat: repeat-x;
	background-position: left top;
}
#MyModelsDiv .resentViewContentDiv {
	float: left;
	width: 382px;
	background-position: left top;
	background-repeat: repeat-y;
}
#MyModelsDiv .resentViewContentDiv .ViewContent {
	background-position: 370px top;
	background-repeat: repeat-y;
	float: left;
	padding: 0px 8px;
	width: 382px;
}
#MyModelsDiv #modelFlyOut {
	display: block;
	position: relative;
	right: 0;
	top: 0;
	width: 366px;
}
#MyModelsDiv #modelFlyOut .middle {
	margin: 0;
	padding: 7px 5px;
}
#MyModelsDiv #modelFlyOut .empty-list {
	margin: 0;
	width: auto;
	line-height: normal;
	padding: 10px;
}
#MyModelsDiv #modelFlyOut .empty-list p {
	text-align: left;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	padding: 0 41px 0 0px;
}
#MyModelsDiv .new_Promo_profile {
	float: left;
	margin: 0px 0 0px -9px;
	padding: 20px 0 10px 20px;
	width: 352px;
}
#MyModelsDiv .new_Promo_profile .no_problem_image {
	background-position: left center;
	background-repeat: no-repeat;
	height: 20px;
	width: 309px;
}
#MyModelsDiv .new_Promo_profile .text {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	margin: 0;
	padding: 0 32px 0 0;
	color: #000000;
}
#MyModelsDiv .resentViewBottopRow {
	float: left;
	width: 358px;
	margin: 0 12px;
	height: 11px;
	background-position: left top;
	background-repeat: repeat-x;
}
/********************************************/ 				
/*  Start This is new css for Inner pages   */
/********************************************/ 
.header_right_panel_inner_page {
	right: 0;
}
.body_shadow_right_inner_page {
	right: 0;
	display: none;
}
.inner_header_inner_page {
	padding: 21px 0 0 0;
}
.new_homePage_footer_inner_page {
	width: 100%;
	margin: 20px 0 0 0px;
}
.Our_finder_inner_page {
	bottom: 23px;
}
.home_header_inner_page {
	margin: 0px;
}
.cart_navigation_inner_page {
	background: none repeat scroll 0 0 #EBEBEB;
	height: 34px;
	padding: 0 30px 0 0;
}
.new_homePage_footer_inner_page .column_two {
	width: 246px;
	position: relative;
	margin: 0 auto;
	padding: 20px 0px 15px 0px;
	float: none;
}
.new_homePage_footer_inner_page .column_three {
	margin: -183px 0 0 0;
}
.new_homePage_footer_inner_page .footer_two .copyright {
	width: 170px;
	font-size: 12px;
}