@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.errorCodesList {
		margin: 0 -10px;

		.errorCodesListHeader {
			padding: 5px 20px;
		}
		.errorCodesListItem {
			margin: 0 20px;
		}
	}
}