@import "../../base.variables.less";
@import "../../base.mixins.less";

.modelSymptomDetail {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    padding: 10px;

    .csd-border {
        border: 2px solid @secondaryHueLight;
        margin: 0 0 15px 0;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;

        h3 {
            color: @secondaryHueDark;
        }


        .csd-image {
            border: 1px solid @secondaryHueLight;
        }

        .csd-content {

            a {
                border-top: 1px solid @secondaryHueLight;
                padding-top: 10px;
                padding-left: 15px;
                padding-right: 15px;
                line-height: 20px;
                display: inherit;
                width: 40%;
            }
            &:first-child {
                border-bottom: 1px solid @secondaryHueLight;
            }

            a[href]:hover {
                text-decoration: none;
            }

        }

    }
    .shopParts{

        a {
            border-top: 1px solid @secondaryHueLight;
            border-bottom: 1px solid @secondaryHueLight;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            line-height: 41px;
        }

        a[href]:hover {
            text-decoration: none;
        }


    }
    .displayRecommendedParts{
        display: inline-block;
        border: 10px solid @secondaryHueLight;

        .row-fluid{
            margin: 0;
            border-bottom: 1px solid @secondaryHueLight;
            padding: 15px;
            .span2 span.partsfrequency{
                font-size: @h2Size;
                font-weight: bold;
            }

            .span2 img{
                width: 100px;
                height: 100px;
                border: 1px solid @secondaryHueLight;

            }
            .addToCartQuantity_js{
                width: 20px;
                white-space: nowrap;

            }
            .span2 span.partsPrice{
                font-size: @h2Size;
                font-weight: bold;
                margin: 0;
            }
            input.span3{
                width: 30%;

            }
            .span2 span.Qty{
                font-weight: bold;
            }
            .row-fluid .span1{
                width: 7%;

            }
            button.new-btn{
                background-color: @highlightHueLight;
                border: 1px solid @highlightHueLight;
                color: @bodyColor;
                text-shadow: 1px 1px 1px @secondaryHueDarkest;
            }
            .span4 p{
                color: @highlightHueNormal;
            }
        }
    }

    p {
        color: @secondaryHueDark;
        font-size: @pSize;
    }

}

@import "modelSymptoms.tablet.less";
@import "modelSymptoms.mobile.less";