@import "../../base.variables.less";
@import "../../base.mixins.less";

.modelSymptoms {

   thead {

     color: @bodyColor;

     tr {
       background-color: @secondaryHueDark;

       th {
         font-size: @h4Size;
         font-weight: normal;
       }
     }
   }

  .big-number {
    color: @secondaryHueDark;
    font-size: @h4Size;
    font-weight: bold;
  }

}