@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 768px) {
	.modelSymptomDetail {
		.displayRecommendedParts {
			display: inline-block;
			border: 15px solid @secondaryHueLight;

			.row-fluid {
				margin: 0;
				border-bottom: 1px solid @secondaryHueLight;
				padding: 15px;

				.span2 span.partsfrequency {
					font-size: @h4Size;
					font-weight: bold;
				}
				.span8 {
					width: 90%;
					margin-top: 10px;
					// # TODO: These classes are for JS use only, hence the frigging names
					.addToCartQuantity_js {
						width: 20px;
					}
					.addToCart_js {
						white-space: nowrap;
					}
				}
				.span4 p {
					color: @highlightHueNormal;
				}
			}
		}
	}
}