@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 768px) {
	
	.modelSymptomDetail {

		.displayRecommendedParts{
			display: inline-block;
			border: 15px solid @secondaryHueLight;
			
			.row-fluid{
				margin: 0;
				border-bottom: 1px solid @secondaryHueLight;
				padding: 15px;
				.span2 span.partsfrequency{
					font-size: @h4Size;
					font-weight: bold;
				}
				span.span10.offset2{
					margin-left: 10%;
					margin-top: 10px;
					

				}
				span.span10.offset2 span.span3{
					width: 40%;
					
				}
				span.span10.offset2 span.span1{
					width: 15%;
				}

				span.span10.offset2 span.span2{
					width: 15%;
					position: relative;
					top: -15px;
					
				}

				input.span3{
					width: 70%;

				}
				.span2 span.Qty{
				font-weight: bold;
				}
				span.span10.offset2 span.span2 input[type="button"]{
					position: relative;
					top: 15px;
				}

				.span2 img{
					width: 100px;
					height: 100px;
					border: 1px solid @secondaryHueLight;
					
				}
				
				.span2 span.partsPrice{
					font-size: @h3Size;
					font-weight: bold;
					margin: 0;
					
				}
				.row-fluid .span1{
					width: 7%;
					
				}
				.span4 p{
					color: @highlightHueNormal;
				}
			}
		}
		
		
		
	}
}
