@import "../../base.mixins.less";
@import "../../base.variables.less";

.notice {
	line-height: @largeSize;
	padding: 0 20px;

	[class*="icon-"] {
		font-size: @largeSize;

		&:before {
			text-align: center;
			width: @largeSize + 5;
		}
	}

	.icon-ban-circle {
		color: #dc0b00;
	}
	.icon-info {
		color: #067bb5;
	}
	.icon-warning-sign {
		color: #ffcc00;
	}
}

@import "notice.mobile.less";