@import "../../base.mixins.less";
@import "../../base.variables.less";

.notice {
	padding: 0 20px 10px;

	em {
		font-weight: 500;
	}

	[class*="icon-"] {
		font-size: @largeSize;

		&:before {
			text-align: center;
			width: @largeSize + 5;
		}
	}

	.icon-ban-circle {
		color: @highlightHueNormal;
	}
	.icon-info {
		color: @primaryHueNormal;
	}
	.icon-warning-sign {
		color: @highlightHueLighter;
	}
}

@import "notice.mobile.less";