@import "../../base.variables.less";
@import "../../base.mixins.less";


.modelSection {
    margin: 0px;
    a.modelInfo {
        line-height: 65px;
        font-weight: bold;
    }


    .nav-tabs {
        margin-top: 30px;
        border-bottom: 1px solid @secondaryHueLight;
        position: relative;
        left: -40px;

        li{


            .verticalGradient(@whiteColorForGrediant, @secondaryHueLightest);
            .borderRadius(4px 4px 0 0);
            position: relative;
            left: 40px;
            width:23%;

        }
        a{

			.borderRadius(4px 4px 0 0);
			border-right: 1px dotted @secondaryHueNormal;
            	color: @primaryHueNormal;
			height: 30px;
			line-height: 32px;
			padding: 8px 10px;
			text-decoration: none;
            font-size: @h4Size;
			font-weight: bold;
			text-align: center;


        }
        li:first-child {


        }

    }





.iwonsection {
    background-color: @secondaryHueLighter;
    padding: 10px;
    .borderRadius(4px);
    	span.span5 {
        position: relative;
        top: 5px;
        text-align: center;
    }
}
}

@import "model.tablet.less";
@import "model.mobile.less";
