@import "../../base.variables.less";
@import "../../base.mixins.less";

.addToCartAnimation {
  display: block;
  outline: none;
  position: absolute;
  margin: 20px;
  top: 50%;
  left: 50%;
  z-index: 9000;
  opacity: 0;

  i {
    font-size: 48px;
    color: @secondaryHueDarker;
  }

  span {
    font-size: 22px;
    color: @secondaryHueDarker;
  }


}

