@import "../base.variables.less";
@import "../base.mixins.less";

/* Component: Model Number Search */
.modelNumberSearch {
	background-color: @tableHoverColor;
	padding: 10px;

	p {
		font-size: @smallLinkSize;

		a {
			font-size: @smallLinkSize;
		}
	}
	form {
		input {
			border-right: 0;
			width: 85%;
		}
		.input-append {
			.add-on {
				background-color: @bodyColor;
				border: 2px inset;
				border-left: 0;
				.borderRadius(0 4px 4px 0);
				color: @bodyCopyColor;

				button {
					background-color: transparent;
					border: 0;
					color: @bodyCopyColor;
					padding: 0;
				}
			}
		}
	}
}