@import "../base.variables.less";
@import "../base.mixins.less";

/* Component: Skyscraper Ad
 * Notes: extends responsiveImage with unique styling */
/* Container Class */
.ad-span {
	text-align: center;
}

/* Desktop Defaults */
.skyscraperAd {
	display: inline-block;
	height: 600px;
	margin: 0 auto 0 auto;
	width: 160px;

	div[data-desktopimage] {
		height: 100%;
		width: 100%;

		a {
			height: 100%;
			width: 100%;
		}
	}
}

/* Tablet Breakpoints */
@media (min-width: 768px) and (max-width: 1024px) {
	.ad-span {
		text-align: left;
	}
	.skyscraperAd {
		height: 90px;
		margin: 0;
		width: 728px;
	}
}

/* Mobile Breakpoints */
@media (max-width: 767px) {
	.ad-span {
		text-align: center;
	}
	.skyscraperAd {
		height: 50px;
		margin: 0;
		width: 300px;
	}
}