@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) and (min-width: 650px){
    .airFilterPartDetails {
      .productDetail{
        .span5 {
          width: 40%;
          float: left;
          padding-right: 10px;
        }
        .span7 {
          width: 60%;
          float: left;
          padding-left: 15px;
        }
          .responsivePinchImage {
          max-width: 250px;
          max-height: 250px;
        }
      .packOptions {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 10px;
      }
      .packBox {
        width: 20%;
        min-width: 75px;
        font-size: 14px;
        margin: 0;
        height: 50px;
        padding: 0;
      }
        .price {
          margin-top: 0;
        }
    }

  }

}