@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.sideChatNavigation {
	bottom: 100px;
	position: fixed;
	right: -340px;
	width: 396px;
	z-index: 999;

	.sideChatNavigationContent, .sideChatNavigationControls {
		float: right;
	}
	.sideChatNavigationContent {
		background-color: @bodyColor;
		border: 3px solid @primaryHueNormal;
		border-right: 0;
		height: 200px;
		padding: 15px;
		width: 307px;

		h3 {
			line-height: 22px;
		}

		p {
			margin: 0;
		}
	}
	.sideChatNavigationControls {
		height: auto;

		.sideChatNavigationIcon {
			background-color: @primaryHueNormal;
			border-top: 1px solid @secondaryHueDark;
			color: @bodyColor;
			cursor: pointer;
			font-size: @smallPSize;
			padding: 10px 0;
			text-align: center;
			width: 56px;

			.icon-envelope:before{
				content: "\f0e0";
			}

			a {
				color: @bodyColor;
				font-size:@smallPSize;
				text-decoration: none;
			}
			img {
				text-align:center; padding:0 0 8px 0;
			}
			&:first-child {
				border-top: 0;
			}
			// # Used by JavaScript?
			&.ChatNotAvailable {
				display: none;
			}
			&.offline {
				background-color: @secondaryHueNormal;
				cursor: default;
			}
		}
	}
}