@import "../../base.variables.less";
@import "../../base.mixins.less";

.globalHeader {
	background-color: @bodyColor;
	margin: 0 20px;

	.innerHeader {
		background-color: @bodyColor;
		height: auto;
		margin: 0;
		padding: 60px 0 0 0;
		position: relative;
		z-index: 9;
	}
}

#headerNavigation {
	overflow: visible;
	position: absolute;
	right: -5px;
	top: 20px;
	z-index: 998;
}

@import "globalHeader.tablet.less";
@import "globalHeader.mobile.less";