.modelSection {
  margin: 0px;
}
.modelSection a.modelInfo {
  line-height: 65px;
  font-weight: bold;
}
.modelSection .nav-tabs {
  margin-top: 30px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
  left: -40px;
}
.modelSection .nav-tabs li {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  position: relative;
  left: 40px;
  width: 23%;
}
.modelSection .nav-tabs a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-right: 1px dotted #aeaeae;
  color: #067bb5;
  height: 30px;
  line-height: 32px;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.modelSection .iwonsection {
  background-color: #ebebeb;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.modelSection .iwonsection span.span5 {
  position: relative;
  top: 5px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid .pull-left {
  width: 30%;
  margin-right: 0;
}
.row-fluid .span9 .span8 {
  width: 65%;
}
.modelSection [class*="span"],
.modelSection .uneditable-input[class*="span"],
.modelSection .row-fluid [class*="span"] {
  float: left;
  width: auto;
}
.modelSection .row-fluid .span9 .span3,
.modelSection a.offset3 {
  margin: 0;
}
.modelSection a.offset3 {
  margin-left: 30px;
}
.modelSection .span9,
.modelSection .span12 {
  width: 100%;
}
.modelSection .nav-tabs {
  margin-top: 30px;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
  left: 0px;
}
.modelSection .nav-tabs li {
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #d2d2d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d2d2d2', GradientType=0);
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #d2d2d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d2d2d2', GradientType=0);
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #d2d2d2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d2d2d2', GradientType=0);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  position: relative;
  left: 0px;
  width: 25%;
}
.modelSection .nav-tabs a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-right: 1px dotted #aeaeae;
  color: #067bb5;
  height: 30px;
  line-height: 32px;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.modelSection .iwonsection {
  background-color: #ebebeb;
  padding: 10px;
  width: 50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.modelSection .iwonsection span.span5 {
  position: relative;
  top: 5px;
  text-align: center;
}
.modelSection .iwonsection span.span7 {
  width: 200px;
  float: right;
}

}
@media (max-width: 480px) {
  
}
