@import "../../base.variables.less";
@import "../../base.mixins.less";

.backToTop {
	background-color: @bodyColor;
	padding: 10px 0;
	text-align: center;

	a {
		color: @secondaryHueNormal;

		&:hover {
			color: @secondaryHueNormal;
		}
	}
}