@import "../../base.variables.less";
@import "../../base.mixins.less";

.modelHeader {
	a {
		&.modelInfo {
			font-weight: bold;
			line-height: 65px;
		}
	}

	.nav {
		border-bottom: 1px solid @secondaryHueLight;
		margin-top: 30px;
		padding-left: 40px;
		position: relative;

		li {
			.verticalGradient(@secondaryHueLightest, @secondaryHueLight);
			.borderRadius(4px 4px 0 0);
			display: inline-block;
			min-width: 23%;
			position: relative;
		}
		a {
			.borderRadius(4px 4px 0 0);
			border-right: 1px dotted @secondaryHueNormal;
			color: @primaryHueNormal;
			font-size: @h4Size;
			font-weight: bold;
			height: 30px;
			line-height: @largeSize;
			padding: 8px 10px;
			text-align: center;
			text-decoration: none;
		}
	}

	.iownsection {
		background-color: @secondaryHueLighter;
		.borderRadius(4px);
		padding: 10px;

		.span5 {
			position: relative;
			text-align: center;
			top: 5px;
		}
	}
}
@import "modelHeader.tablet.less";
@import "modelHeader.mobile.less";