@import "../../base.variables.less";
@import "../../base.mixins.less";

.modelHeader {
	a {
		&.modelInfo {
			font-weight: bold;
			line-height: 65px;
		}
	}
	ul {
		border-bottom: 1px solid @secondaryHueNormal;
		list-style-type: none;
		margin: 30px 0 0 0;
		padding: 0 0 0 40px;
		position: relative;

		li {
			.verticalGradient(@bodyColor, @secondaryHueLight);
			border-left: 1px solid @secondaryHueNormal;
			display: inline-block;
			margin-left: -5px;
			min-width: 23%;
			padding: 8px 10px;
			text-align: center;

			&:first-child {
				border-left: 0px;
				margin-left: 0;
			}

			&.active {
				background: none;
				background-color: @bodyColor;
				margin-bottom: -1px;
				padding: 8px 10px 9px 10px;
			}
		}
		a {
			color: @primaryHueNormal;
			font-size: @h4Size;
			font-weight: 600;
			line-height: @largeSize;
			margin: 0;
			padding: 0;
			width: 100%;

			&:hover, &:active, &:visited {
				color: @primaryHueNormal;
			}
		}
	}

	.iownsection {
		background-color: @secondaryHueLighter;
		.borderRadius(4px);
		padding: 10px;

		.span5 {
			position: relative;
			text-align: center;
			top: 5px;
		}
	}
}
div.span3.offset1{
margin-top: 20px;
}
@import "modelHeader.tablet.less";