@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 768px) {
    .modelHeader {
        ul {
            li {
                min-width: 25%;
            }
        }
    }
    .row-fluid .span8{
        
        width: 100%;

    }
    div.span3.offset1{
        margin: 20px 0 0 0 !important;
        width:100%;
        div.row-fluid{
            float: left;
            width: 48%;
            div.span12.ad-span{
                margin-left: 20px;
                border: 1px solid @secondaryHueLighter;
                
                div.topParts{
                    background-color: @secondaryHueLighter;
                    height: 45px;
                    h5{
                        margin: 0;
                        line-height: 40px;
                        
                    }
                    div.boxed-callout{
                        margin: 0;
                        border: 0;
                        width: 100%;
                        div.topParts-item{
                            width: 45%;
                            float: left;
                            margin: 10px 5px;
                            text-align: center;
                            a{
                                text-align: center;
                                img{
                                    margin-left: 25px !important;
                                    
                                    
                                }
                                
                            }
                            
                        }
                        
                    }
                }
            }
            
        }
    }
}