@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 768px) {
	.row-fluid .pull-left {
		width:30%;
		margin-right: 0;
	}
	.row-fluid .span9 .span8 {
		width: 65%;
	}

	.modelSection {
		[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
			float:left;
			width:auto;
		}
		.row-fluid .span9 .span3, a.offset3 {
			margin: 0;
		}
		a.offset3 {
			margin-left: 30px;
		}
		.span9, .span12 {
			width: 100%;
		}
		.nav-tabs {
			margin-top: 30px;
			border-bottom: 1px solid @secondaryHueLight;
			position: relative;
			left: 0;

			li {
				.verticalGradient(@whiteColorForGrediant, @secondaryHueLightest);
				.borderRadius(4px 4px 0 0);
				position: relative;
				left: 0;
				width: 25%;
			}
			a {
				.borderRadius(4px 4px 0 0);
				border-right: 1px dotted @secondaryHueNormal;
				color: @primaryHueNormal;
				height: 30px;
				line-height: 32px;
				padding: 8px 10px;
				text-decoration: none;
				font-size: @h4Size;
				font-weight: bold;
				text-align: center;
			}
		}
		.iownsection {
			background-color: @secondaryHueLighter;
			padding: 10px;
			width: 50%;
			.borderRadius(4px);
			span.span5 {
			position: relative;
			top: 5px;
			text-align: center;
		}
		span.span7 {
			width: 200px;
			float: right;
		}
	}
}
}