@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 480px) {

	#modelSection div.span3{
		margin-left:8px;
	}
	div.pull-left.span3{
		margin: 0 0 10px 0;
	}
	div.iownsection.span5{
		width: 100%
	}
	.row-fluid .span9 .span8{
		width: 100%
	}
	ul.nav.nav-tabs, div.tab-content{
	display: none;
	}

}