@import "../../base.variables.less";

.search-panel-finder-wrapper {
	border-left: solid 4px @primaryHueDarkest;
	border-right: solid 4px @primaryHueDarkest;
	padding: 0 20px;
	background: #fff;
	height: 0px;
	overflow: hidden;
}

.search-panel-finder {
	width: 100%;
	position: absolute;
	overflow: hidden;

	&.is-open {
		.search-panel-finder-wrapper {
			border-bottom: solid 4px @primaryHueDarkest;
		}
	}

	.dropdown-reskin {
		position: relative;
		overflow: hidden;
		border: solid 1px @secondaryHueLight;

		select {
			border: 0;
			padding: 0 0 0 15px;
			height: 45px;
			width: 110%;
			margin: 0;
		}

		i {
			position: absolute;
			top: 12px;	
			right: 20px;
			font-size: 22px;
		}
	}

	.model-number-plates {
		padding: 0 0 25px 40px;
		overflow: hidden;

		img {
			float: left;
		}
	}

	.model-number-plates-img-1,
	.model-number-plates-img-2 {
		margin-right: 15px;
	}

	.CMNP_center,
	.CMNP_left {
		float: left;
	}

	.CMNP_left {
		width: 188px;
		padding-right: 20px;
	}

	.CMNP_right {
		float: right;
	}
}

.search-critera-pane-manager {
	padding-top: 20px;
	overflow: hidden;
	display: none;
	
	.item {
		float: left;
		line-height: 30px;

		a {
	
		}

		&:first-child {
			margin-right: 15px;
			padding-right: 15px;
			border-right: solid 1px @secondaryHueLight
		}
	}
}

.search-critera-close {
	text-align: center;
	border-top: solid 1px @secondaryHueLight;
	padding: 10px 0;
	margin-top: 20px;
	font-weight: bold;

	i {
		font-weight: bold;
	}
}

.search-critera-plate-finder {
	display: none;
}

.search-critera-output {
	overflow: hidden;
}