@import "../../base.variables.less";

.search-panel-finder-wrapper {
	border-left: solid 4px @primaryHueDarkest;
	border-right: solid 4px @primaryHueDarkest;
	border-bottom: solid 4px @primaryHueDarkest;
	padding: 20px;
	background: #fff;
}

.search-panel-finder {
	width: 100%;
	position: absolute;

	.dropdown-reskin {
		position: relative;

		select {
			padding-left: 15px;
			height: 45px;
		}

		i {
			position: absolute;
			top: 12px;	
			right: 20px;
			font-size: 22px;
		}
	}

	.model-number-plates {
		padding: 0 0 25px 40px;
		overflow: hidden;

		img {
			float: left;
		}
	}

	.model-number-plates-img-1,
	.model-number-plates-img-2 {
		margin-right: 15px;
	}
}

.search-critera-pane-manager {

}