@import "../../base.variables.less";
@import "../../base.mixins.less";

.categoryDescription {
	.categoryIcon {
		float: left;
		width: auto;

		[class*="svg-icon-"], [class^=" svg-icon-"], [class*="icon-"], [class^=" icon-"] {
			margin: 0 20px 20px 0;
		}
		[class*="svg-icon-"], [class^=" svg-icon-"] {
			color: @primaryHueDarker;
			height: @iconSizeLarge;
			width: @iconSizeLarge;
		}
		[class*="icon-"], [class^=" icon-"] {
			color: @primaryHueDarker;
			font-size: @iconSizeLarge;
		}
	}
}