@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

      .memberContainer {
        width: 100%;
      }
      .memberImage {
        width: 120px;
        float: left;
      }
      .memberBio {
        margin-left: 120px;
        padding: 0 0 0 10px;
      }
      .memberName {
        font-weight: 600;
        margin: 20px 0 0 0;
      }
      .memberTitle {
        margin: 0px;
      }
      .memberDesc{
        margin-bottom: 10px;
      }
      .memberInfo {
        margin: 15px 0;
        list-style: none;
        font-size: @pSize;
        li {
          list-style-type: none;
        }
      }
      .quoteStyling {
        font-style: italic;
      }

