@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 480px) {
    .articleComments-wrapper{
    margin: 0px;
    }
    #comments-form{
    width: 265px;
    }
   .comments [class*="-item"]{
   text-align: left;
   }
   .articleComments-form{
   padding: 15px 0 0 0px;
   }
   .articleComments-item{
   padding: 15px 0 0 0px;
   }
}