@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@guideListing-popular-view-height: 340px;
@guideListing-popular-view-img-width: 300px;

.guideListing-popular-view {
	position: relative;
	overflow: hidden;
	height: @guideListing-popular-view-height;

	.wrench-symbol {
		@size: 52px;

		width: @size;
		height: @size;
		position: absolute;
		left: @guideListing-popular-view-img-width;
		top: 50%;
		margin: -30px 0 0 -30px;
		z-index: 1;

		i {
			font-size: 35px;
			line-height: @size;
			.flipHorizontally();
			display: block;
		}
	}

	.container {
		overflow: hidden;
		width: auto;
	}
}



.guideListing-popular-image {


    width: @guideListing-popular-view-img-width + 4px;
    background: @secondaryHueLightest;
    overflow: hidden;
    position: absolute;

    .wrapper {

      border-left: solid 1px @secondaryHueLight;
      border-top: solid 1px @secondaryHueLight;
      border-right: solid 4px #fff;
      overflow: hidden;
    }

    img {
      display: block;
      max-width: none;
      height: @guideListing-popular-view-height;
    }

    hr {
      border-bottom: 0;
      border-top: solid 1px @secondaryHueLight;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: @guideListing-popular-view-height - 1px;
      width: @guideListing-popular-view-img-width;
    }
}


.guideListing-popular-text {
	padding-left: 304px;

	.wrapper {
		@paddingTop: 10px;

		padding: @paddingTop 15px 0 25px;
		background: @secondaryHueLighter;
		border-left: solid 8px @secondaryHueLight;
		height: @guideListing-popular-view-height - @paddingTop;
	}

	p {

		overflow: hidden;
	}

	h3 {
		margin-top: 0;
		color: @primaryHueNormal;
		line-height: @h2Size;
	}

	.repair-difficulty {
		padding-right: 40px;
	}
}

@import "guideListing-popular-view.tablet";
@import "guideListing-popular-view.mobile";