@import "../../base.variables.less";

.errorCodesTable-header {
	font: 18px/24px @bodyFont;
	background: @secondaryHueDark;
	padding: 10px;
	color: @secondaryHueLightest;
}

.tbl-col-error-code {
	width: 110px;
}

.tbl-col-condition {}

.tbl-col-check-repair {
	width: 180px;
}

.tbl-col-show-parts {
	width: 180px;
}

.errorCodesTable {
	.table-wrapper {
		padding: 0 30px;
	}
}

@import "errorCodeTable.mobile.less";