@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.responsivePinchImage {
		.control {
			font-size: 20px;
			padding: 12px;
			
			&.plus {
				bottom: 60px;
			}
		}
	}
}