@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.maintenanceTopicJump {
	position: relative;
	z-index: 999999;

	.responsiveDropdown {
		min-width: 280px;
		width: 50%;
	}
}