@import "../../base.variables.less";
@import "../../base.mixins.less";



@media (max-width: 1024px) {
    h4.articleTitle{
		margin-top:0;
        display: block;
    }
        h4.articleTitle1{
		display:none;
    }


.authorArticleTab{
        width:100% !important;
        margin-top:5px;

    }
    div.span6.authorArticleTab{
		margin-left:0;
    }


}



    


