@import "../../base.variables.less";
@import "../../base.mixins.less";


@media (max-width: 480px) {

        h4.articleTitle1{
            display:block;
        }
        h4.articleTitle{
            display:none;
        }
        .authorDetails .row-fluid .span2{
		width:40%;
            float:left;
        	margin-right: 20px;
        }
    .row-fluid .span6 .span3{
	width: 40%;
	float: left;
    }

}