@import "../../base.variables.less";
@import "../../base.mixins.less";

.authorArticleTab {
    .span3{
		margin:0 0 10px 0;
    }

}
    h4.articleTitle{
		display:none;
    }

.authorDetails{
    padding: 15px 0;
    border-bottom: 1px solid @secondaryHueLighter;
    display: inline-block;
}




@import 'authorArticles.tablet.less';
@import 'authorArticles.mobile.less';