@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.displayRecommendedParts {
	background-color: @bodyColor;
	margin: 0;
	width: 98%;
}

@import "displayRecommendedParts.tablet";
@import "displayRecommendedParts.mobile";