@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.boxed-callout{
	width: 160px;
		margin: 0 auto 0 auto;
 	.borderRadius(4px);


.topParts-item {

		img {
			width: 100px;
			height: 100px;
			border: 1px solid @secondaryHueLighter;
			display: block;
			margin: 30px 0 5px 30px;
		}
	}

}