@import "../../base.variables.less";
@import "../../base.mixins.less";

.header ~ .authorDisplay {
	margin-top: -10px;
}
.authorDetail{
 img{
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    margin: 0 15px 15px 0;
    position: relative;
    top: 6px;
    }
    .text-justify{
        text-align: justify;
    }
}