@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {

  .airFilterPDP{
    .sameDayShip {
      margin-left:20px;
      margin-top: 20px;
    }

  }
}

@media (max-width: 480px) {

  .airFilterPDP{
    .sameDayShip {
      p {
        min-width: 50%;
        max-width: 60%;
      }
    }
    .shopYourWay {
      img {
        margin: 0 10px 20px 20px;
        width: 25%;
      }
      p {
        min-width: 89%;
        max-width: 90%;
        font-size: 16px;
      }
    }

    .packBox.wide {
      width:100%;
      max-width:150px;

    }
    .packBox {
      max-width: 96px;
      min-width: 95px;
    }
  }
}