@import "../../base.variables.less";
@import "../../base.mixins.less";

.findThisPart {

  border-left: 2px solid @secondaryHueLight;
  border-right: 2px solid @secondaryHueLight;

  .accordion-group,
  .accordion-inner {
    border: 0;
  }

  .accordion-toggle,
  .accordion-inner {
    padding: 0;
    border: 0;
  }

  .accordion-inner {
    background-color: @secondaryHueLight;
    padding-top: 0px;
  }

  .accordion-group {
    .borderRadius(0);

  }

  .accordion-toggle {
    background-color: @secondaryHueLight;
    color: @secondaryHueDark;
    text-decoration: none;
    padding-left: 15px;

    h4 {
      display: inline-block;
    }

    i {
      display: inline-block;
      margin-right: 20px;
      color: @primaryHueNormal;
      font-size: 20px;
      vertical-align: middle;
    }

    .icon-chevron-down {
      display: none;
    }

    .icon-chevron-up {
      color: @secondaryHueDark;
    }

    &.collapsed {
      .icon-chevron-down {
        display: inline-block;
      }

      .icon-chevron-up {
        display: none;
      }
    }
  }

}



@import "findThisPart.mobile.less";