@import "../../base.variables.less";
@import "../../base.mixins.less";

.brandBar {
	.verticalGradient(#fdfdfd, #d2d2d2);
	border-bottom: inset 1px solid #d2d2d2;
	display: block;
	height: 31px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	z-index: 1000;

	ul.nav {
		height: 24px;
		margin: 0 auto;
		padding: 4px 0;
		width: 980px;

		li {
			border-right: 1px dotted @bodyCopyColor;
			cursor: pointer;
			display: block;
			float: left;
			height: 20px;
			padding: 3px 10px 1px;

			a {
				background: url(../../../img/brandLogos.png) no-repeat 0 0;
				display: block;
				padding: 8px 10px;
			}
		}
		li.last {
			border-right: 0;
		}
	}
}

#brand_sears {
	background-position: 0 -10px;
	width: 22px;
}

#brand_shopyourway {
	background-position: 0 -64px;
	width: 35px;
}

#brand_kmart {
	background-position: 0 -91px;
	width: 25px;
}

#brand_sywr {
	background-position: 0 -253px;
	margin-top: -2px;
	width: 63px;
}

#brand_mygofer {
	background-position: 0 -117px;
	width: 29px;
}

#brand_craftsman {
	background-position: 0 -144px;
	width: 42px;
}

#brand_kenmore {
	background-position: 0 -172px;
	width: 28px;
}

#brand_partsdirect {
	background-position: 0 -200px;
	width: 33px;
}

#brand_landsend {
	background-position: 0 -230px;
	width: 45px;
}

#brand_shs {
	background-position: 0 -32px;
	width: 42px;
}

#brand_searsoutlet {
	background-position: 0 -281px;
	width: 39px;
}

#brand_seeall {
	background-position: 0 -306px;
	width: 15px;
}

@import "brandBar.tablet.less";