@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.authorDetails{
	border-bottom: 1px solid @secondaryHueLighter;
	padding: 15px 0;

	.span2 {
		img {
			max-width: 100%;
		}
	}
}