@import "../../base.variables.less";
@import "../../base.mixins.less";

/* Exception large desktop */
@media (max-width: 1299px) {
	#footerColumn1 {
		padding: 20px 0 16px 25px;
		width: 32%;
	}
	#footerColumn2 {
		width: 27%;
	}
	#footerColumn3 {
		h3 {
			padding: 0 28px 1px 0;
		}
		form {
			input {
				width: 55%;
			}
		}
	}
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Exception: Landscape tablet and small desktop */
@media (max-width: 1024px) {
	.globalFooter {
		margin: 20px 37px;
		width: 92.5%;
	}
	#footerColumn2 {
		.footerPromo {
			.footerPromoContent {
				p {
					font-size: @smallLinkSize;
					line-height: 150%;

					a {
						font-size: @loginNavigationSize;
						font-weight: bold;
					}
				}
			}
		}
	}
}
/* Exception: Desktop and portrait tablet */
@media (max-width: 1000px) {
	#footerColumn2 {
		.footerPromo {
			.footerPromoIcon {
				display: none;
				visibility: hidden;
			}
			.footerPromoContent {
				padding: 10px 20px;

				h3 {
					font-size: @header3Size;
					font-weight: normal;
					color: #304295;
				}
				p {
					color: @bodyCopyColor;
					font-size: @smallLinkSize;

					a {
						font-size: @paragraphSize;
						font-weight: normal;
					}
				}
			}
		}
	}
	#footerLegal {
		.footerLegalLinks {
			a {
				color: @bodyCopyColor;
				float: left;
				font-size: @loginNavigationSize;
				margin: 12px 6px 0 6px;
				text-decoration: none;
			}
		}
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.globalFooter {
		margin: 20px 3px;
		width: 99.5%;
	}
	#footerColumn1 {
		p {
			a {
				font-size: @footerColumnSize;
			}
		}
	}
	#footerColumn2 {
		font-size: @paragraphSize;

		.footerPromo {
			.footerPromoContent {
				h3 {
					a {
						font-size: @header4Size;
						line-height: 25px;
					}
				}
				p {
					font-size: @paragraphSize;
				}
			}
		}
	}
	#footerColumn3 {
		p {
			margin: 0 0 4px 0;
		}
		ul {
			li {
				a {
					font-size: @paragraphSize;
				}
			}
		}
		form {
			padding: 0 20px 20px 0;
			float: left;
		}
	}
	#footerLegal {
		.copyright {
			font-size: @loginNavigationSize;
			width: 110px;
		}
		.footerLegalLinks {
			a {
				font-size: @loginNavigationSize;
			}
		}
	}
}