@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	#footerColumn1, #footerColumn2, #footerColumn3 {
		clear: both;
		margin: 0;
		padding: 20px 5% 0 5%;
		width: 90%;
	}
	#footerColumn1 {
		p {
			a {
				.icon-stack {
					margin: -10px 10px 0 0;
				}
			}
		}
	}
	#footerColumn2 {
		.footerPromo:last-child {
			.footerPromoContent {
				margin: 0;
			}
		}
	}
	#footerColumn3 {
		padding-bottom: 30px;
		ul {
			width: 100%;
			float: left;
			margin: 0;
		}
		form {
			p {
				input {
					margin: 0 5px 0 0;
					width: 70%;
				}
			}
		}
	}
	#footerLegal {
		.footerLegalLinks {
			clear: both;
			float: none;
			margin: 0 auto;
			text-align: center;
			width: 81%;
		}
		.footerLegalLinks {
			a {
				color: @bodyCopyColor;
				float: none;
				font-size: @smallestPSize;
				margin: 12px 13px 0 13px;
			}
		}
		.copyright {
			font-size: @smallPSize;
			text-align: center;
			width: 100%;
		}
		.footerLogos {
			clear: both;
			float: none;
			margin: 8px 0 0 0;
			text-align: center;
			width: 100%;
		}
	}
}

@media (max-width: 480px) {
	#footerColumn1 {
		.footerIcon, p {
			display: block;
			margin: 0 15px 0 15px;
			width: auto;
		}
		p {
			clear: none;
			font-size: @pSize;
			text-align: center;
			width: 46px;

			a {
				text-align: center;

				.icon-stack {
					clear: both;
				}
				.footerIconHelp {
					display: none;
				}
			}
		}
	}
	#footerColumn2 {
		.footerPromo {
			.footerPromoContent {
				p {
					font-size: @pSize;
				}
			}
		}
	}
	#footerColumn3 {
		form {
			margin: 10px 0 20px;
		}
	}
	#footerAboutLinks {
		margin: 7px 0 0 0;
	}
	#footerLegal {
		.footerLegalLinks {
			a {
				color: @bodyCopyColor;
				float: none;
				font-size: @smallestPSize;
				margin: 12px 5px 0 2px;
			}
		}
	}
}