@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.globalHeader {
		margin: 0;
	}
	#headerNavigation {
		background: @secondaryHueLighter;
		height: 44px;
		left: -0px;
		top: 0;
		width: 100%;
	}
}