@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.globalHeader {
	background-color: @bodyColor;
	margin: 0 20px;
	position: relative;
	z-index: 999;

	.innerHeader {
		background-color: @bodyColor;
		height: auto;
		margin: 0;
		padding: 60px 0 0 0;
		position: relative;
		z-index: 9;
	}
}

#headerNavigation {
	overflow: visible;
	position: absolute;
	right: -5px;
	top: 20px;
	z-index: 998;
}

.hamburger-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	top: 0;
	display:none;
	z-index: 999;
}

.loginNav-open{
	.hamburger-overlay{
		display:block;
	}
}

@import "globalHeader.tablet";
@import "globalHeader.mobile";