@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.headerPromo {
		border-bottom: 1px solid @secondaryHueLight;

		p {
			font-size: @smallPSize;
			padding: 0 2% 5px;

			a {
				font-size: @smallPSize;
			}
		}

		.icon-stack {
			font-size: @pSize;
		}
	}
}