@import "../../base.variables.less";
@import "../../base.mixins.less";

.searchPanel {
	height: auto;

	padding: 50px 0 10px 0;
	width: 100%;

	form {
		height: auto;
		margin: 0;
		text-align: center;
		width: 100%;
	}
}
#searchLeftShadow, #searchRightShadow, #searchContainer {
	display: inline-block;
}
#searchLeftShadow, #searchRightShadow {
	display: inline-block;
	height: 25px;
	margin: 0;
	width: 15%;
	z-index: 50;
}
#searchLeftShadow {
	background: url(../../../img/headerLeftShadow.png) no-repeat 0 0;
	margin-right: -4px;
}
#searchRightShadow {
	background: url(../../../img/headerRightShadow.png) no-repeat 0 0;
	margin-left: -3px;
}
#searchContainer {
	height: auto;
	text-align: left;
	min-width: 650px;
	z-index: 75;
}
#searchTabs {
	height: 38px;
	list-style: none;
	margin: 0 0 -6px;
	position: relative;
	width: 100%;
	z-index: 120;

	li {
		display: inline-block;
		float: left;

		a {
			border: 1px solid #4369b6;
			.borderRadius(4px 4px 0 0);
			color: @searchColor;
			height: 27px;
			line-height: 32px;
			padding: 8px 10px;
		}
	}
	li.active {
		a {
			background-color: #4369b6;
			border-width: 3px;
			.borderRadius(4px 4px 0 0);
			color: @bodyColor;
			font-size: @pSize;
			height: 32px;
			line-height: 32px;
			padding: 10px;
			text-align: center;
		}
	}
	li:first-child {
		a {
			.borderRadius(4px 0 0 0);
		}
		&.active {
			a {
				.borderRadius(4px 4px 0 0);
			}
		}
	}
	li:last-child {
		a {
			.borderRadius(0 4px 0 0);
		}
		&.active {
			a {
				.borderRadius(4px 4px 0 0);
			}
		}
	}
}
#searchContent {
	.verticalGradient(#446eb9, #1c2e57);
	border: inset 1px solid #b7c5de;
	.boxShadow(0 8px 6px -6px #ccc);
	height: auto;
	line-height: 35px;
	padding: 15px 15px 0;
	z-index: 100;

	input, span, div {
		display: inline-block;
	}

	p, span.large {
		color: @bodyColor;
		font-size: @smallPSize;
		font-weight: 600;

		a {
			color: @bodyColor;
			font-size: @smallPSize;
		}
	}
	span.large {
		font-size: 26px;
		height: 21px;
		padding: 0 8px;
	}

	.new-input-small {
		font-size: @h5Size;
		margin: 0;
		width: 50%;
	}
	.btn-group {
		margin-right: 8px;
		width: 24%;

		a {
			background-color: @bodyColor;
			border: 0;
			.borderRadius(0);
			color: @headerColor;
			font: 16px/35px @standardFont;
			padding: 0 10px;
		}
		.btn-type {
			background-color: @bodyColor;
			background-image: none;
			border: 1px solid #ccc;
			.borderRadius(2px);
			display: inline-block;
			float: left;
			padding-left: 8px;
			padding-right: 8px;
			text-align: left;
			width: 85%;

			.icon-chevron-sign-down {
				float: right;
				margin-top: 8px;
			}
		}
		.dropdown-menu {
			.borderRadius(0);
			border: 1% solid #cbcbcb !important;
			border-top: 0;
			margin-top: 0;
			min-width: 50px;
			padding: 4%;
			width: 90%;
		}
	}
}

@import "searchPanel.tablet.less";
@import "searchPanel.mobile.less";