@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 680px) {
	.search-content-pane {
		span.large {
			display: none;
			visibility: hidden;
		}
		.new-input-small {
			font-size: @pSize;
			margin-right: 8px;
			width: 35%;
		}
		.btn-group {
			margin-right: 10px;
		}
	}
}

@media (max-width: 650px) {
	#manualContent {
		ul {
			li {
				.icon-stack {
					font-size: @pSize;
				}

				h4 {
					font-size: @h5Size;

					a {
						font-size: @h5Size;

						span {
							font-size: @smallestPSize;
						}
					}
				}
			}
		}
	}
}