@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 1038px) {
	.search-shadow {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 1000px) {
	#searchContainer {
		min-width: 729px;
	}
}

@media (max-width: 768px) {
	#searchContainer {
		min-width: 100%;
	}

	.search-content-pane {
		height: 95px;

		.btn-group {
			.btn {
				padding: 5px 12px;
			}
			.btn-type {
				min-width: 90px;
			}
		}
	}
}