@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.errorCodeChecker {
      margin-left: 0px;
      text-align: center;
      width: 100%;

		p {
          margin: 0 auto;

			.primary-content {
				display: inline-block;
			}
			.new-btn {
				display: block;
				float: none;
			}
		}
	}
}