@import "../../../../clientlib_base/less/base.variables.less";

#CQrte, body#CQrte, #CQrte body, #CQrte td {
	h1, h2, h3, h4, h5, p, ul, ol, dl {
		font-family: @bodyFont
	}
	p, ul, ol, dl {
		color: @secondaryHueDark;
		font-size: @pSize;
	}
	h1, h2, h3, h4, h5 {
		color: @secondaryHueDark;
		font-weight: bold;
		line-height: 1.4;
	}
	h1 {
		font-size: @h1Size;
	}
	h2 {
		font-size: @h2Size;
	}
	h3 {
		font-size: @h3Size;
	}
	h4 {
		font-size: @h4Size;
	}
	h5 {
		font-size: @h5Size;
	}
	a {
		color: @primaryHueNormal;
		text-decoration: none;

		&:hover {
			color: @primaryHueDarker;
			text-decoration: underline;
		}
	}
	ul, ol, dl {
		display: block;

		li {
			display: list-item;
		}
		dt, dd {
			display: block;
		}
	}
	ul {
		list-style-type: disc;
	}
	ol {
		list-style-type: decimal;
	}
}

.vpContanier{
	float: left;
	width: 90%;
	padding: 0 2% 3%;
	margin: 5% 3% 1% 0;
	border: 3px solid @secondaryHueNormal;
	text-align: center;
	p{
		margin: 0px;
	}
}
.vpMarginZero{
	margin: 0 !important;
}
.red{
	color: @highlightHueDark;
	font-weight: bold;
}
@import "text.mobile.less";
@import "text.tablet.less";

