@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 480px) {
	.valuePropContanier{
		margin: 40px 0px;
		text-align: center;
		.vpContanier{
			float: left;
			width: 235px;
			padding: 0px 20px 20px;
			margin: 0 0 14px 0;
			border: 3px solid @secondaryHueNormal;
		}
	}
}