@import "../../base.variables.less";

.breadcrumbNavigation {
	margin: 0;
	padding: 10px 0;

	.breadcrumb {
		background-color: @bodyColor;
		padding: 0;

		li {
			float: left;
			font-size: @smallPSize;
			margin: 0;
			padding: 0;

			a {
				color: @secondaryHueDark;
				font-size: @smallPSize;

				&:hover {
					color: @primaryHueDarker;
				}
			}
		}
	}
}