@import "../../base.variables.less";

.breadcrumbNavigation {
	margin: 0;
	padding: 0;

	.breadcrumb {
		background-color: @bodyColor;
		padding: 0;

		li {
			a {
				color: @headerColor;
				font-size: @smallPSize;

				&:hover {
					color: @linkHoverColor;
				}
			}
		}
	}
}