@import "../../base.variables.less";
@import "../../base.mixins.less";

.guideNavigation {
	background-color: @bodyColor;
	height: auto;
	padding: 10px 0;
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 0;

	select {
		display: none;
	}
	li {
		float: left;
		list-style-type: none;
		padding: 0 10px;
	}
	.responsiveDropdown {
		width: 100%;
	}
}

.gn-sticky {
	box-shadow: 0 10px 5px -5px rgba(0,0,0,0.1);
	border-bottom: 1px solid @secondaryHueLighter;
	padding-top: 10px;
	position: fixed;
	top: 0;
	width: 90%;
	z-index: 10000;
}