@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

// # Container Classes
.adUnitContainer {
	display: none !important;

	&.desktopAdEnabled, &.tabletAdEnabled, &.mobileAdEnabled {
		display: block !important;
	}
}

// # Ad Unit: Defaults To 160x600px
// # Use Bootstrap classes to handle layout
.adUnit {
	display: inline-block;
	height: auto;
	left: 50%;
	margin-left: -80px;
	min-height: 600px;
	position: relative;
	top: 0px;
	width: 160px;

	.adUnit_js {
		height: 600px;
		width: 160px;

		a, img {
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}
	&.adUnit728x90 {
		margin-left: -364px;
		min-height: 90px;
		width: 728px;

		.adUnit_js {
			height: 90px;
			width: 728px;
		}
	}
	&.adUnit300x250 {
		margin-left: -150px;
		min-height: 250px;
		width: 300px;

		.adUnit_js {
			height: 250px;
			width: 300px;
		}
	}
	&.adUnit300x50 {
		margin-left: -150px;
		min-height: 50px;
		width: 300px;

		.adUnit_js {
			height: 50px;
			width: 300px;
		}
	}
}