@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.seoAccessoryComponent{

    div.new-span-general,
        #div1{
        margin-left: 0;
    }

    .partListItems {

        .partListItem{

            .partListItemCart{
                border: 1px solid @secondaryHueLight;
                padding: 5%;
            }

            .partDescription{
                height: 40px;
                margin: 5% 0 0 0;
            }

            .partListItemQuantity,
                .partInfo{
                float: left;
                width: 50%;
            }

            .partInfo{
                padding-top: 22px;

                .partListItemPrice{
                    font-size:@h4Size;
                    color: @secondaryHueDarkest;
                }
            }

            .partListItemQuantity input{
                width: 40%;
            }

        }


    }

}