@import "../../base.variables.less";
@import "../../base.mixins.less";

#modalCode {
	.creditCard {
		background: url(../../../img/creditcard_sprite.png) no-repeat 0 0;
		background-repeat: no-repeat;
		width: 187px;
		height: 97px;
	}
	.cardSears {
		background-position: 0 0;
	}
	.cardOther {
		background-position: 0 -114px;
	}
	.cardExpress {
		background-position: 0 -228px;
	}
	a {
		float: right;
	}
}