@media (max-width: 650px) {
	.loginNav {
		background-color: @bodyColor;
		display: none;
		left: 0;
		position: absolute;
		top: 44px;
		width: 100%;
		z-index: 999;

		ul {
			float: left;
			width: 100%;

			li {
				clear: left;
				float: left;
				font-size: @h5Size;
				width: 100%;

				a {
					border-bottom: 1px solid #c3c3c3;
					color: @linkColor;
					display: block;
					float: left;
					font-size: @h5Size;
					padding: 20px 0 20px 10px;
					width: 100%;
				}
			}
		}

		&.active {
			display: block;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	.trigger {
		background: #b7b7b7 url(../../../img/menu-trigger.png) no-repeat center center;
		display: block;
		height: 44px;
		left: 0;
		position: absolute;
		top: 0;
		width: 44px;
		z-index: 2;
	}
}