@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 1024px) {
	.loginNav {
		ul {
			li {
				font-size: @smallestPSize;
				font-weight: 600;

				a {
					float: left;
					margin: 0;
					padding: 0;
					font-size: @smallestPSize;
					font-weight: 600;
				}
			}
		}
	}
}