@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

  .topListTitle {
    font-size: @h4Size;
    margin: 15px 0 9px;
  }
  .topListContent {
    margin-bottom: 0px;
    p {
      margin-bottom: 0px;
    }
  }