@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";


  .topCategoriesAndServicesContainer {
    margin: 0 0 10px;
  }
  .topListTitle {
    font-size: @h4Size;
    margin: 10px 0 9px;
  }
  .topListContent {
    margin-bottom: 0px;
    p {
      margin-bottom: 0px;
    }
  }


@import "topCategoriesAndServices.mobile";
