@import "../../base.variables.less";
@import "../../base.mixins.less";

.displayRecommendedParts{
	width: 98%;
	background-color: @bodyColor;
	margin: 0;
}

import "displayRecommendedParts.tablet.less";
import "displayRecommendedParts.mobile.less";