@import "../../base.variables.less";
@import "../../base.mixins.less";

  .row-fluid [class*="span10"] {
    margin-left: 0px;
  }
  .row-fluid [class*="new-span-responsive"] {
    margin-left: 0px;
    max-width: 300px;
  }
  .prcTitle {
    font-size: @h1Size;
    margin: 25px 0 20px;
  }
  .prcSubTitle {
    font-size: @h3Size;
    margin: 30px 0 10px 0;
  }
  .viewMapAndDirectionsButton {
    margin: 20px 0 15px;
  }
  .responsiveImage{
     .imageCaption {
        text-align: center;
      }
  }
  .topListContent {
    p {
      margin: 0px;
    }
  }
  .new-span-responsive {
    min-width: 300px;
    margin: 0 20px 0 0;
  }
  .topCategoriesAndServicesContainer,
  .hoursOfOperationContainer,
  .teamMemberContainer,
  .addressContainer,
  .address {
    min-width: 280px;
    max-width: 280px;
  }
  .banners {
    #bannerContainer {
      .banner {
        margin: 0px;
      }
    }
  }
  .headerPromo {
    display: none;
  }

@import "partsRepairCenter.mobile";
@import "partsRepairCenter.tablet";