@import "../../base.variables.less";
@import "../../base.mixins.less";


  .prcTitle {
    font-size: @h1Size;
    margin: 40px 0 0;
  }

  .prcSubTitle {
    font-size: @h3Size;
    margin: 40px 0 10px 0;
  }
  .viewMapAndDirectionsButton {
    margin: 20px 0;
  }
  .responsiveImage{
     .imageCaption {
        text-align: center;
      }
  }
  .topListContent {
    p {
      margin: 0px;
    }
  }
  .new-span-responsive {
    min-width: 300px;
    margin: 0 20px 0 0;
  }
  .topCategoriesAndServicesContainer,
  .hoursOfOperationContainer,
  .teamMemberContainer,
  .addressContainer,
  .address {
    min-width: 300px;
  }
  .banners {
    #bannerContainer {
      .banner {
        margin: 0px;
      }
    }
  }
  .headerPromo, .sideChatNavigation {
    display: none;
  }


@import "partsRepairCenter.mobile";
@import "partsRepairCenter.tablet";
