@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {

  .row-fluid [class*="new-span"]:nth-child(2) {
    margin-left: 0px;
  }
  .prcTitle {
    margin: 40px 0 0;
  }
  .prcSubTitle {
    font-size: @h3Size;
    margin: 30px 0 10px 0;
  }
  .responsiveImage{
    .imageCaption {
      text-align: center;
    }
  }
  .viewMapAndDirectionsButton {
    margin: 20px 0 15px;
  }
  .topCategoriesAndServicesContainer,
  .hoursOfOperationContainer,
  .teamMemberContainer,
  .addressContainer,
  .address {
    min-width: 300px;
  }

}