@import "../../base.variables.less";
@import "../../base.mixins.less";

.authorDetails{
	border-bottom: 1px solid @secondaryHueLighter;
	padding: 15px 0;

	.span2 {
		img {
			max-width: 100%;
		}
	}
}