@import "../../clientlib_base/less/base.variables.less";
@import "../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) {


  #secureLoginModal {

    input[type="text"], input[type="password"] {
      margin-right: 8px;
      padding: 8px;
      width: 94%;
    }

    .new-btn {
      padding: 14px 19px;
    }
    .new-btn-small {
      font-size: @pSize;
      padding: 14px 19px;
    }
    .new-btn-dropdown {
      padding: 18px 20px;
    }
  }
}