@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.repairStep {
	h4 {
		background-color: @secondaryHueLightest;
		font-weight: normal;
		padding: 1%;

		.stepLabelFormatting {
			font-weight: 600;
		}
	}
}

@import "repairStep.mobile";