@import "../../base.variables.less";

table.responsiveTable {
	td {
		padding: 5px 10px;
	}

	thead td {
		font-weight: bold;
	}

	tbody td {
		border-top: solid 1px @secondaryHueLight;
	}
}

@import "responsiveTable.mobile.less";