@import "../../../base.variables.less";
@import "../../../base.mixins.less";

.touchCarouselEnabled {
	padding-bottom: 25px;

	.carouselWrapper {
		overflow: hidden;
	}
	.carouselListWrapper {
		width: 99999px;
	}
	.carouselMarkersTouch {
		display: block;

		&.hideControls {
			display: none;
		}
	}
	.carouselItemHolder {
		text-align: center;
		min-width: 0;
		width: 280px;
		float: left;
		margin-right: 10px;

		.image {
			small {
				padding: 6px 0;
			}
		}
		img {
			display: block;
			width: 280px;
			height: 185px;
			background: @secondaryHueNormal;
		}
		p {
			font-size: 11px;
			line-height: 13px;
			padding: 6px 0;
		}
		[data-desktopimage] {
			width: 280px;
			height: 185px;
		}
	}
}