@import "../../base.variables.less";
@import "../../base.mixins.less";

.responsiveDropdown {
	display: inline-block;
	height: 34px;
	overflow-y: visible;
	position: relative;
	z-index: 10;

	.new-btn-dropdown {
		position: relative;
		z-index: 1;
	}

	ul {
		background-color: @bodyColor;
		border: 1px solid @secondaryHueLight;
		display: none;
		.boxShadow(0 0 3px 3px @secondaryHueLight);
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 0;

		&.active {
			display: block;
		}

		li {
			border-top: 1px solid @secondaryHueLight;
			display: block;
			float: none;
			padding: 10px;

			&:first-child {
				border-top: 0px;
			}

			&.selected {
				background-color: @secondaryHueLightest;
				font-weight: bold;
			}
		}
	}
}

.responsiveDropdownHidden {
	left: -9999px;
	position: absolute;
}

@import "responsiveDropdown.tablet.less";