  @import "../../base.variables.less";


@media (max-width: 480px) {

.errorCodeChecker p{
    background-color: @bodyColor;
		line-height: 30px;
		margin: 0;
		padding: 20px;
		overflow: hidden;

}
.errorCodesList {
	width: 100%;
    .new-span-sixth{
        width: 12%;
        height: 12%;
        float: right;
    }

  .row-fluid {
	width: auto;
  }

  .errorListing-header {
	background: @secondaryHueLightest;
	padding: 15px 20px 15px 40px;
	display: block;

	h4 {
	  display: inline-block;
	}

	div {
	  display: inline-block;
	  img {
		display: inline-block;
		background: @bodyColor;
		height: 40px;
		width: 40px;
	  }
	}

  }

  .errorListing-item {
	margin: 0 40px;
	padding: 12px 0;
	font: 14px/16px @bodyFont;
	border-top: solid 1px @secondaryHueNormal;
  }
}


}