@import "../../base.variables.less";

.errorListing-header {
	background: @secondaryHueLightest;
	padding: 15px 40px;
	font: 18px/40px @bodyFont;

	img {
		display: inline-block;
		background: #fff;
		min-height: 40px;
		min-width: 40px;
	}
}

.errorListing-item {
	margin: 0 40px;
	padding: 12px 0;
	font: 14px/16px @bodyFont;
	border-top: solid 1px @secondaryHueDarker;
}