@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 1024px) {
	.categoryArticleList {
		.categoryArticleTab {
			clear: both;
			margin-left: 0;
			margin-top: 5px;
			width: 100% !important;
		}
	}
}