@import "../../base.variables.less";

.modelFinderWrapper {
	border-left: solid 4px @primaryHueDarkest;
	border-right: solid 4px @primaryHueDarkest;
	padding: 0 20px;
	background: #fff;
	height: 0px;
	overflow: hidden;
}
.modelFinder {
	width: 100%;
	position: absolute;
	overflow: hidden;

	&.is-open {
		.modelFinderWrapper {
			border-bottom: solid 4px @primaryHueDarkest;
		}
	}
	.dropdown-reskin {
		position: relative;
		overflow: hidden;
		border: solid 1px @secondaryHueLight;

		select {
			border: 0;
			padding: 0 0 0 15px;
			height: 45px;
			width: 110%;
			margin: 0;
		}

		i {
			position: absolute;
			top: 12px;
			right: 20px;
			font-size: 22px;
		}
	}
	.modelFinderPlates {
		padding: 0 0 25px 40px;
		overflow: hidden;

		img {
			float: left;
		}
	}
	.modelFinderPlatesImage1, .modelFinderPlatesImage2 {
		margin-right: 15px;
	}
	.CMNP_center, .CMNP_left {
		float: left;
	}
	.CMNP_left {
		width: 188px;
		padding-right: 20px;
	}
	.CMNP_right {
		float: right;
	}
}
.modelFinderPaneManager {
	padding-top: 20px;
	overflow: hidden;
	display: none;

	.item {
		float: left;
		line-height: 30px;

		&:first-child {
			margin-right: 15px;
			padding-right: 15px;
			border-right: solid 1px @secondaryHueLight
		}
	}
}
.modelFinderCriteriaClose {
	text-align: center;
	border-top: solid 1px @secondaryHueLight;
	padding: 10px 0;
	margin-top: 20px;
	font-weight: bold;

	i {
		font-weight: bold;
	}
}
.modelFinderPlateFinder {
	display: none;
}
.modelFinderOutput {
	overflow: hidden;
}
#ProductStyleUL {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		input[type="radio"] {
			display: inline-block;
			margin: 0 5px 0 0;
			vertical-align: baseline;
		}
		label {
			color: @secondaryHueDark;
			display: inline-block;
			font-size: @pSize;
			font-weight: normal;
		}
	}
}