@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 768px) {

  .modal {
    border: 0;
    height: 100%;
    left: 0;
    margin: 0 auto;
    overflow: auto;
    padding: 4% 3% 3% 3%;
    top: 20px;
    width: 94%;
    -webkit-overflow-scrolling: touch;

    iframe {
      border: 0;
      display: block;
      max-width: 400px;
      min-width: 400px;
      width: 400px;
      margin: 20px auto 30px auto;
      overflow: visible;

      &#registerIFrame {
        min-height: 550px;
        min-width: 66%;
      }

      input {
        width: 95%;
      }

      &#secureLoginFormModal {
        .new-btn {
          padding: 14px 19px;
        }
      }
    }

    &#loginModal {
      padding: 0px;
      min-width: 94%;
      min-height: 270px;
      height: 55%;
      margin-left: auto;
      margin-right: auto;
    }

    &#forgotPasswordModal {
      padding: 0px;
      min-width: 94%;
      min-height: 270px;
      height: 55%;
      margin-left: auto;
      margin-right: auto;
    }

    &#registerModal {
      min-width: 94%;
      min-height: 600px;
      height: 75%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;

    }

    &#promoModal {
      height: 60%;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 90%;
    }

    &#airFilterPromoModal {
      padding: 0px;
      min-width: 94%;
      min-height: 300px;
      height: 55%;
      margin-left: auto;
      margin-right: auto;
      .contentModal {
        border: 0;
        padding: 10px;
        width: 350px;
        height: auto;
        margin: 30px auto;
        overflow: hidden;
      }
    }

    &#shopYourWayModal {
      padding: 0px;
      min-width: 94%;
      min-height: 350px;
      height: 55%;
      margin-left: auto;
      margin-right: auto;
      .contentModal {
        border: 0;
        padding: 10px;
        width: 350px;
        height: auto;
        margin: 30px auto;
        overflow: hidden;
      }
    }

    &#returnPolicyModal {
      padding: 0px;
      min-width: 94%;
      min-height: 450px;
      height: 55%;
      margin-left: auto;
      margin-right: auto;
      .contentModal {
        border: 0;
        padding: 10px;
        width: 350px;
        height: auto;
        margin: 30px auto;
        overflow: hidden;
      }
    }
    &#estimatedDeliveryModal {
      padding: 0px;
      min-width: 94%;
      min-height: 300px;
      height: 55%;
      margin-left: auto;
      margin-right: auto;
      .contentModal {
        border: 0;
        padding: 10px;
        width: 350px;
        height: auto;
        margin: 30px auto;
        overflow: hidden;
      }
    }
  }
}