@import "../../base.variables.less";
@import "../../base.mixins.less";

.legalCopy {
	background-color: @bodyColor;
	float: left;
	font-size: @smallPSize;
	margin: 0 20px;
	padding: 20px;

	p {
		font-size: @smallPSize;
	}
}

@import "legalCopy.tablet.less";