@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

.mervRatingHelp {
    .border1px{
        border-top: 1px solid @secondaryHueLight;
        border-bottom: 1px solid @secondaryHueLight;

    }
    
    .border1pxBottom{
        border-bottom: 1px solid @secondaryHueLight;

    }
    
}

@import "mervRatingHelp.mobile";