@import "../../base.variables.less";
@import "../../base.mixins.less";

.categoryArticleList {
	.row-fluid {
		.span6 {
			min-height: 80px;

			img {
				float: left;
				margin: 0 4% 10px 0;
				width: 31%;
			}
		}
	}
}