@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 767px) {
	.categoryArticleList, .category101Detail {
		.row-fluid {
			.span6 {
				clear: both;
				float: left;
			}
             div.span7 h4{
        		display: none !important;
            }
            h4.categoryArticleList{
                display: block;
            }
		}
	}
}