@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 1024px) {
    

            div.span7 h4{
        		display: block !important;
            }
            h4.categoryArticleList{
                display: none;
            }
            .categoryArticleTab {
                clear: both;
                margin-top: 5px;
                width: 100% !important;
            }
            div.span6.categoryArticleTab {
                margin-left: 0;
            }
        }