@import "../../base.variables.less";
@import "../../base.mixins.less";

.categoryArticleList {
	.categoryArticles {
		.categoryArticle {
			display: inline-block;
			margin: 0 4% 0 0;
			min-height: 75px;
			width: 46%;

			a {
				font-size: @header4Size;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			img {
				float: left;
				margin: 0 4% 0 0;
				width: 31%;
			}
		}
	}
}

@import "categoryArticleList.tablet.less";