@import "../../../../../clientlib_base/less/base.variables.less";
@import "../../../../../clientlib_base/less/base.mixins.less";


  .bizHeader {
    font-size: @h5Size;
  }
  .bizHours {
    margin: 0;
    list-style: none;
    font-size: @pSize;
    li {
      list-style-type: none;
    }
  }

  .optionalMsg {
    margin: 10px 0;
  }
