@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 650px) {
	.modelNumberSearch {
		margin: 0 0 10px 0;
	}
	.findThisPart {
		.modelNumberSearch {
			.modelNumberSearchIntro, .modelNumberSearchInputs, .modelNumberSearchContent {
				margin-left: 0;
				width: 100%;
			}
		}
	}
}