@import "../../base.variables.less";
@import "../../base.mixins.less";

.modelNumberSearch {
	background-color: @secondaryHueLight;
	padding: 10px;

	p {
		font-size: @smallPSize;

		a {
			font-size: @smallPSize;
		}
	}
	p.display-message {
		display: none;

		&.error, &.success {
			display: block;
		}
		&.error {
			color: @highlightHueNormal;
		}
	}
}

.findThisPart {

  .modelNumberSearch {
	div.width-33 {
	  display: inline-block;
	  margin: 10px;
	  vertical-align: top;
	  width: 33%;
	}

	form {
	  margin: 0 0 10px;
	}
  }

}