@import "../../base.variables.less";
@import "../../base.mixins.less";

.modelNumberSearch {
	background-color: @secondaryHueLighter;
	padding: 10px;

	p {
		font-size: @smallPSize;

		a {
			font-size: @smallPSize;
		}
	}
	p.display-message {
		display: none;

		&.error, &.success {
			display: block;
		}
		&.error {
			color: @highlightHueNormal;
		}
	}
}