@import "../../base.variables.less";
@import "../../base.mixins.less";

@media (max-width: 1024px) {
	.modelNumberSearch {
		input#modelNumberSearchInput {
			width: 58%;
		}
	}
}

@media (max-width: 768px) {
	.modelNumberSearch {
		input[type="text"] {
			width: 80%;
		}
	}
	.categorySearch {
		.modelNumberSearch {
			input[type="text"] {
				width: 60%;
			}
		}
	}
}

@media (max-width: 767px) {
	.span3 > .modelNumberSearch {
			margin: 10px 0;
		}
	}
}