@import "../../../../clientlib_base/less/base.variables.less";
@import "../../../../clientlib_base/less/base.mixins.less";

@media (max-width: 650px) {
	.modelNumberSearch {
		margin: 0 0 10px 0;
	}
	.categorySymptomDetail {
		.modelNumberSearch {
			.modelNumberSearchIntro, .modelNumberSearchInputs, .modelNumberSearchContent {
				margin-left: 0;
				width: 100%;
			}
		}
	}
	.categorySearch {
		.modelNumberSearch {
			background-color: transparent;
		}
	}
}